interactions:
- request:
    body: '{"label": "TestGetTokenExpandApp", "signOnMode": "OPENID_CONNECT", "name":
      "oidc_client", "settings": {"oauthClient": {"application_type": "web", "dpop_bound_access_tokens":
      false, "grant_types": ["authorization_code"], "redirect_uris": ["https://example.com/callback"],
      "response_types": ["code"]}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaqcnjmqlwufmlQy1d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oaqcnjmqlwufmlQy1d7","name":"oidc_client","label":"TestGetTokenExpandApp","status":"ACTIVE","lastUpdated":"2025-09-24T21:31:37.000Z","created":"2025-09-24T21:31:37.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oaqcnjmqlwufmlQy1d7","client_secret":"morhOu4eoL0poseidyWy16_xge1E8JB0r-6jEMbE_qt8nKa26RppmdLWCt2xHLQR","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["https://example.com/callback"],"response_types":["code"],"grant_types":["authorization_code"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"DYNAMIC","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false}},"_links":{"uploadLogo":{"href":"https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://test.okta.com/home/oidc_client/0oaqcnjmqlwufmlQy1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://test.okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/credentials/secrets"}],"accessPolicy":{"href":"https://test.okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4694c330d2e37f49153719897d9c3721
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/tokens
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/tokens?limit=20>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f43390f9ea680bd8300efb14f9a751f5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '40'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a2ef09a0c188bd8dd022f27a17f03aab
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '39'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaqcnjmqlwufmlQy1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - aabf897126502f0dc443d51cb98f4917
      x-rate-limit-limit:
      - '250'
      x-rate-limit-remaining:
      - '247'
      x-rate-limit-reset:
      - '1758749549'
    status:
      code: 204
      message: No Content
version: 1
