interactions:
- request:
    body: '{"label": "TestExpandTokensApp", "signOnMode": "OPENID_CONNECT", "name":
      "oidc_client", "settings": {"oauthClient": {"application_type": "web", "dpop_bound_access_tokens":
      false, "grant_types": ["authorization_code", "refresh_token"], "redirect_uris":
      ["https://example.com/callback"], "response_types": ["code"]}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaqcng9761Sp3LO91d7","orn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:oidc_client:0oaqcng9761Sp3LO91d7","name":"oidc_client","label":"TestExpandTokensApp","status":"ACTIVE","lastUpdated":"2025-09-24T21:31:31.000Z","created":"2025-09-24T21:31:31.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"sALQDM5PBTRR6dsVDGloCQexOBDrJNwQmFiZuWur7eo"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oaqcng9761Sp3LO91d7","client_secret":"yQmkidcmPoYFfQyf1LMexwNaWeHvvglqQOByYu3iUixphuMijUPda7rYjz-fwaev","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"universalLogout":{"status":"DISABLED","supportType":"FULL","identityStack":"NOT_SHARED","protocol":"GLOBAL_TOKEN_REVOCATION"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"emOptInStatus":"NONE","notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["https://example.com/callback"],"response_types":["code"],"grant_types":["authorization_code","refresh_token"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"DYNAMIC","refresh_token":{"rotation_type":"STATIC"},"idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false}},"_links":{"uploadLogo":{"href":"https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://test.okta.com/home/oidc_client/0oaqcng9761Sp3LO91d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://test.okta.com/api/v1/policies/rstnkw1sgzCwhJaUs1d7"},"policies":{"href":"https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/credentials/secrets"}],"accessPolicy":{"href":"https://test.okta.com/api/v1/policies/rstnkw1sgxfqkDUtx1d7"},"users":{"href":"https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2a2b4607530349ba91e5846fd1cdb16d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/tokens?expand=user
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oaqcng9761Sp3LO91d7/tokens?limit=20>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 89b584ec27d5456a3a9f00aafae64c17
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/tokens?limit=10
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oaqcng9761Sp3LO91d7/tokens?limit=10>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f2e92cdfcf5b625d27d04f6fa95f4a02
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 28c6da721bfe353c39afbd34eb7b9ac4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '1758749544'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaqcng9761Sp3LO91d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3b427cf3ba551fe151a562418ec97b7e
      x-rate-limit-limit:
      - '250'
      x-rate-limit-remaining:
      - '248'
      x-rate-limit-reset:
      - '1758749549'
    status:
      code: 204
      message: No Content
version: 1
