interactions:
- request:
    body: '{"name": "Test Velocity Rule SDK Integration", "status": "INACTIVE", "type":
      "VELOCITY", "settings": {"velocityKph": 805}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/behaviors
  response:
    body:
      string: '{"id":"bhvqbw6edtmlRz1r81d7","name":"Test Velocity Rule SDK Integration","status":"ACTIVE","settings":{"velocityKph":805},"type":"VELOCITY","created":"2025-09-24
        04:05:52.0","lastUpdated":"2025-09-24 04:05:52.0","_links":{"self":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bf89e8cbe1ff5e4657ec3166f2e3faf5
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1758686812'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/behaviors
  response:
    body:
      string: '[{"id":"bhvphj205m69Xgtnf1d7","name":"Dhiwakar My City NAYA","status":"ACTIVE","settings":{"minEventsNeededForEvaluation":0,"maxEventsUsedForEvaluation":24,"granularity":"LAT_LONG","radiusKilometers":5.0},"type":"ANOMALOUS_LOCATION","created":"2025-08-25
        07:55:06.0","lastUpdated":"2025-09-04 14:03:32.0","_links":{"self":{"href":"https://test.okta.com/api/v1/behaviors/bhvphj205m69Xgtnf1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/behaviors/bhvphj205m69Xgtnf1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}},{"id":"bhvphj2snsNckbflB1d7","name":"Dhiwakar
        My Device NAYA","status":"ACTIVE","settings":{"minEventsNeededForEvalu[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7
  response:
    body:
      string: '{"id":"bhvqbw6edtmlRz1r81d7","name":"Test Velocity Rule SDK Integration","status":"ACTIVE","settings":{"velocityKph":805},"type":"VELOCITY","created":"2025-09-24
        04:05:52.0","lastUpdated":"2025-09-24 04:05:52.0","_links":{"self":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - eea5be0d4fb5171bea9be033b0b46265
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '497'
      x-rate-limit-reset:
      - '1758686812'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7/lifecycle/deactivate
  response:
    body:
      string: '{"id":"bhvqbw6edtmlRz1r81d7","name":"Test Velocity Rule Updated SDK
        Integration","status":"INACTIVE","settings":{"velocityKph":1000},"type":"VELOCITY","created":"2025-09-24
        04:05:52.0","lastUpdated":"2025-09-24 04:05:57.0","_links":{"activate":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7db7e5b96145c6275178a0725223eb8f
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '495'
      x-rate-limit-reset:
      - '1758686812'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7/lifecycle/activate
  response:
    body:
      string: '{"id":"bhvqbw6edtmlRz1r81d7","name":"Test Velocity Rule Updated SDK
        Integration","status":"ACTIVE","settings":{"velocityKph":1000},"type":"VELOCITY","created":"2025-09-24
        04:05:52.0","lastUpdated":"2025-09-24 04:05:58.0","_links":{"self":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7c9d0ea30b871d70f77765997adf817c
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '494'
      x-rate-limit-reset:
      - '1758686812'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/behaviors/bhvqbw6edtmlRz1r81d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        bhvqbw6edtmlRz1r81d7 (BehaviorSettings)","errorLink":"E0000007","errorId":"oae-h7zME1aQ2qnYONYO4yA8w","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 57d22d38005fe013053f08f04d1664fa
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '491'
      x-rate-limit-reset:
      - '1758686812'
    status:
      code: 404
      message: Not Found
version: 1
