interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"roles":[],"_links":{"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles>; rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 504ce0176df4659aa52b3220d28480e0
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '94'
      x-rate-limit-reset:
      - '1757017653'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"roles":[],"_links":{"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles>; rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 37d6eeba8bb6a2343de7fad97b94006f
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '75'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 200
      message: OK
version: 1
