interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/non-existent-role-id
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        non-existent-role-id (CustomRole)","errorLink":"E0000007","errorId":"oaeJ9yg08DHRsaZbEmCmM0_Qg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 49899779dd2a184a38e6ef9c394fafc0
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1757017829'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"description": "Test role for duplicate testing", "label": "Test-Duplicate-Role",
      "permissions": ["okta.users.read"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"id":"cr0qeuoqmwirNAs275d7","label":"Test-Duplicate-Role","isCloneable":false,"description":"Test
        role for duplicate testing","created":"2025-09-04T20:40:09.000Z","lastUpdated":"2025-09-04T20:40:09.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuoqmwirNAs275d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuoqmwirNAs275d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeuoqmwirNAs275d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a572f8ea3ecaa96fce431d1015d08707
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1757018467'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeuoqmwirNAs275d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 369322927aefe799f1e6a97fe954e0cf
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1757018467'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeusyiwwl3VlTC5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6dea922858da190605eb3aa4566cfd7e
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1757018877'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf18f94NpxpMJG5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 09dde53247a136819d87860559cba2a1
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '86'
      x-rate-limit-reset:
      - '1757050320'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf19pbp6VEx53e5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 01a86c2e83c0bd8b97c008c6362677c2
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '87'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 204
      message: No Content
version: 1
