interactions:
- request:
    body: '{"description": "Test role for conditional permission operations", "label":
      "Test-Conditional-Permission-Role", "permissions": ["okta.users.read"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"id":"cr0qf1r2avVUKLusx5d7","label":"Test-Conditional-Permission-Role","isCloneable":false,"description":"Test
        role for conditional permission operations","created":"2025-09-05T06:26:12.000Z","lastUpdated":"2025-09-05T06:26:12.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b283d9dbeb27acdf9e788e97248c8c4b
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1757053632'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7/permissions/okta.apps.read
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e7eed870d27ec17b2205692b16713ff7
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1757053632'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7/permissions/okta.apps.read
  response:
    body:
      string: '{"label":"okta.apps.read","created":"2025-09-05T06:26:13.000Z","lastUpdated":"2025-09-05T06:26:13.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7/permissions/okta.apps.read"}}}'
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7/permissions/okta.apps.read>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3ea90e89109e3bde9c8bdd89c9ee4855
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1757053632'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1r2avVUKLusx5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d793ae007ba54a06512daefa48d5cced
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1757053632'
    status:
      code: 204
      message: No Content
version: 1
