interactions:
- request:
    body: '{"description": "Test custom role for VCR testing", "label": "Test-Custom-Role",
      "permissions": ["okta.users.read", "okta.groups.read"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"id":"cr0qeufik1K9u9Ssg5d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-04T20:26:33.000Z","lastUpdated":"2025-09-04T20:26:33.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - caf18bbfda869a42fb2ad2e36237afa6
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1757017653'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7
  response:
    body:
      string: '{"id":"cr0qeufik1K9u9Ssg5d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-04T20:26:33.000Z","lastUpdated":"2025-09-04T20:26:33.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c24c63ce122d6c4a719f871ca11f2c81
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1757017653'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/Test-Custom-Role
  response:
    body:
      string: '{"id":"cr0qeufik1K9u9Ssg5d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-04T20:26:33.000Z","lastUpdated":"2025-09-04T20:26:33.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 444f93c3f20d0e3f8b895088340d8163
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1757017653'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeufik1K9u9Ssg5d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        cr0qeufik1K9u9Ssg5d7 (CustomRole)","errorLink":"E0000007","errorId":"oaexKmYe_vcSt6vbN-nR2qcdg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e85ad3ab2babed8979a073681184ff43
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1757017653'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeunehlk5sAEPW5d7
  response:
    body:
      string: '{"id":"cr0qeunehlk5sAEPW5d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-04T20:41:25.000Z","lastUpdated":"2025-09-04T20:41:25.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeunehlk5sAEPW5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeunehlk5sAEPW5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeunehlk5sAEPW5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b25e9c99c143c4794e5a7eed9d8e1935
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1757018545'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeuoc8yPNlC9Bs5d7
  response:
    body:
      string: '{"id":"cr0qeuoc8yPNlC9Bs5d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-04T20:41:42.000Z","lastUpdated":"2025-09-04T20:41:42.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuoc8yPNlC9Bs5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuoc8yPNlC9Bs5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeuoc8yPNlC9Bs5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 95f388d4ef3d915d75ebfc1fec21f87f
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '94'
      x-rate-limit-reset:
      - '1757018545'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf19am9V9iKfce5d7
  response:
    body:
      string: '{"id":"cr0qf19am9V9iKfce5d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-05T05:32:18.000Z","lastUpdated":"2025-09-05T05:32:18.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf19am9V9iKfce5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf19am9V9iKfce5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf19am9V9iKfce5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7a354b7c87459991912e4a5632f23a01
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '81'
      x-rate-limit-reset:
      - '1757050380'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf18vg3meS0lj65d7
  response:
    body:
      string: '{"id":"cr0qf18vg3meS0lj65d7","label":"Test-Custom-Role","isCloneable":false,"description":"Test
        custom role for VCR testing","created":"2025-09-05T05:34:11.000Z","lastUpdated":"2025-09-05T05:34:11.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf18vg3meS0lj65d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf18vg3meS0lj65d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf18vg3meS0lj65d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - df5b6e51197732af5ce1d9552ad4f3da
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '73'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf18vg3meS0lj65d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        cr0qf18vg3meS0lj65d7 (CustomRole)","errorLink":"E0000007","errorId":"oae-UmIiMaxS_OcRWSBmXp6ag","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9ccafbbb7627a4113ccea185f2dcb8ba
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '70'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 404
      message: Not Found
version: 1
