interactions:
- request:
    body: '{"description": "Test role with multiple permissions", "label": "Test-Multi-Permission-Role",
      "permissions": ["okta.users.read", "okta.groups.read", "okta.apps.read"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"id":"cr0qeuh40vEx12ckM5d7","label":"Test-Multi-Permission-Role","isCloneable":false,"description":"Test
        role with multiple permissions","created":"2025-09-04T20:29:29.000Z","lastUpdated":"2025-09-04T20:29:29.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 25a35561ee7989db81a78b9564549b5a
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1757017829'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7/permissions
  response:
    body:
      string: '{"permissions":[{"label":"okta.apps.read","created":"2025-09-04T20:29:29.000Z","lastUpdated":"2025-09-04T20:29:29.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7/permissions/okta.apps.read"}}},{"label":"okta.users.read","created":"2025-09-04T20:29:29.000Z","lastUpdated":"2025-09-04T20:29:29.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7/permissions/okta.users.read"}}},{"label":"okta.groups.read","created":"2025-09-04T20:29:29.000Z","lastUpdated":"2025-09-04T20:29:29.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7/permissions/okta.groups.read"}}}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 997c477cd68ab5eb20c0f6d86eb78396
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1757017829'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeuh40vEx12ckM5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 30e7d5cc54e18bbede3b708cce9d0789
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1757017829'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf17qgij14fj9x5d7/permissions
  response:
    body:
      string: '{"permissions":[{"label":"okta.apps.read","created":"2025-09-05T05:31:25.000Z","lastUpdated":"2025-09-05T05:31:25.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf17qgij14fj9x5d7"},"self[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf17qgij14fj9x5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2eeb305a6f1f7180d740173b86c09515
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '93'
      x-rate-limit-reset:
      - '1757050320'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf17qiuTvbOBM55d7/permissions
  response:
    body:
      string: '{"permissions":[{"label":"okta.apps.read","created":"2025-09-05T05:31:49.000Z","lastUpdated":"2025-09-05T05:31:49.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf17qiuTvbOBM55d7"},"self[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf17qiuTvbOBM55d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2dea4136632e975b8b83b70a8a7e1fb7
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '90'
      x-rate-limit-reset:
      - '1757050320'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf19cbcznBlIki5d7/permissions
  response:
    body:
      string: '{"permissions":[{"label":"okta.apps.read","created":"2025-09-05T05:33:59.000Z","lastUpdated":"2025-09-05T05:33:59.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf19cbcznBlIki5d7"},"self[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf19cbcznBlIki5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d6f499a5fcea1115fef45b6edc7a0c6c
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '84'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 204
      message: No Content
version: 1
