interactions:
- request:
    body: '{"description": "Test role for permission operations", "label": "Test-Permission-Role",
      "permissions": ["okta.users.read"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"id":"cr0qf1go6iMbr7exp5d7","label":"Test-Permission-Role","isCloneable":false,"description":"Test
        role for permission operations","created":"2025-09-05T05:59:41.000Z","lastUpdated":"2025-09-05T05:59:41.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 05ca9b67592430337ec996c4d18b1d76
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '91'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions
  response:
    body:
      string: '{"permissions":[{"label":"okta.users.read","created":"2025-09-05T05:59:41.000Z","lastUpdated":"2025-09-05T05:59:41.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions/okta.users.read"}}}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1a2dd4fd3a1ab189cabd617923fd4848
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '90'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions/okta.groups.read
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 70233fb6790fb35b2b711ce0efc104ce
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '89'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions/okta.groups.read
  response:
    body:
      string: '{"label":"okta.groups.read","created":"2025-09-05T05:59:44.000Z","lastUpdated":"2025-09-05T05:59:44.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions/okta.groups.read"}}}'
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7/permissions/okta.groups.read>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 33ac26c455ec9454e142ec0aa0f303ee
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '87'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1go6iMbr7exp5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5fbd8e3f2b3c5fface0dcf6bb2cd4352
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '84'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1fzg6oehk4mv5d7/permissions
  response:
    body:
      string: '{"permissions":[{"label":"okta.users.read","created":"2025-09-05T05:59:54.000Z","lastUpdated":"2025-09-05T05:59:54.000Z","conditions":null,"_links":{"role":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1fzg6oehk4mv5d7"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf1fzg6oehk4mv5d7/permissions/okta.users.read"}}}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3dabe2302b01e62f489ec1ab084d3cdc
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '82'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1fzg6oehk4mv5d7/permissions/okta.groups.read
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d9f608dde38c506f3e3924b1779f6277
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '81'
      x-rate-limit-reset:
      - '1757051996'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf1fzg6oehk4mv5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - be2236e46992a649b65f0f3faad72750
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1757052057'
    status:
      code: 204
      message: No Content
version: 1
