interactions:
- request:
    body: '{"description": "Original description for update test", "label": "Test-Update-Role",
      "permissions": ["okta.users.read"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/roles
  response:
    body:
      string: '{"id":"cr0qeufodiDEGRvF75d7","label":"Test-Update-Role","isCloneable":false,"description":"Original
        description for update test","created":"2025-09-04T20:27:41.000Z","lastUpdated":"2025-09-04T20:27:41.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c3d2c111c94bf80ec76f504835b6c621
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1757017721'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Updated description for update test", "label": "Test-Update-Role-Modified"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7
  response:
    body:
      string: '{"id":"cr0qeufodiDEGRvF75d7","label":"Test-Update-Role-Modified","isCloneable":false,"description":"Updated
        description for update test","created":"2025-09-04T20:27:41.000Z","lastUpdated":"2025-09-04T20:27:43.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeufodiDEGRvF75d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9c6f689fed34fc25683af410f11d7d82
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1757017721'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Updated description for update test", "label": "Test-Update-Role-Modified"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeuq7bpkOBbRwn5d7
  response:
    body:
      string: '{"id":"cr0qeuq7bpkOBbRwn5d7","label":"Test-Update-Role-Modified","isCloneable":false,"description":"Updated
        description for update test","created":"2025-09-04T20:42:19.000Z","lastUpdated":"2025-09-04T20:42:20.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuq7bpkOBbRwn5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuq7bpkOBbRwn5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeuq7bpkOBbRwn5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c0041341d7e05f9a53e2e53192e2ad9f
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '89'
      x-rate-limit-reset:
      - '1757018545'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Updated description for update test", "label": "Test-Update-Role-Modified"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/iam/roles/cr0qeuor4u36F6nz05d7
  response:
    body:
      string: '{"id":"cr0qeuor4u36F6nz05d7","label":"Test-Update-Role-Modified","isCloneable":false,"description":"Updated
        description for update test","created":"2025-09-04T20:42:38.000Z","lastUpdated":"2025-09-04T20:42:39.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuor4u36F6nz05d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qeuor4u36F6nz05d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qeuor4u36F6nz05d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 19fe5c467ab4a685e42e707274b705dc
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1757018618'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Updated description for update test", "label": "Test-Update-Role-Modified"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf194d3GhH7fbf5d7
  response:
    body:
      string: '{"id":"cr0qf194d3GhH7fbf5d7","label":"Test-Update-Role-Modified","isCloneable":false,"description":"Updated
        description for update test","created":"2025-09-05T05:32:13.000Z","lastUpdated":"2025-09-05T05:32:14.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf194d3GhH7fbf5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf194d3GhH7fbf5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf194d3GhH7fbf5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0a0a58ffcab9bc64db2ba46580a3fbe9
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '86'
      x-rate-limit-reset:
      - '1757050380'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Updated description for update test", "label": "Test-Update-Role-Modified"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf17rg7S8vQP6r5d7
  response:
    body:
      string: '{"id":"cr0qf17rg7S8vQP6r5d7","label":"Test-Update-Role-Modified","isCloneable":false,"description":"Updated
        description for update test","created":"2025-09-05T05:34:02.000Z","lastUpdated":"2025-09-05T05:34:03.000Z","_links":{"permissions":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf17rg7S8vQP6r5d7/permissions"},"self":{"href":"https://test-admin.okta.com/api/v1/iam/roles/cr0qf17rg7S8vQP6r5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288-admin.okta.com/api/v1/iam/roles/cr0qf17rg7S8vQP6r5d7>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d8b75fa004fe7589e335410fac702ab8
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '82'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/roles/cr0qf17rg7S8vQP6r5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - debaed62d6535d04eb5ebc7f562b69d1
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '80'
      x-rate-limit-reset:
      - '1757050485'
    status:
      code: 204
      message: No Content
version: 1
