interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00ul0huu0rZFDjqHo4x6","status":"STAGED","created":"2020-07-17T15:34:44.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-17T15:34:44.000Z","passwordChanged":"2020-07-17T15:34:44.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Update-Profile","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Update-Profile@example.com","email":"John.Doe-Update-Profile@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Update-Profile@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxHFFOLNDJabdDQeSrpVUwAAAe4
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '590'
      x-rate-limit-reset: '1595000104'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6
  response:
    body:
      string: '{"id":"00ul0huu0rZFDjqHo4x6","status":"STAGED","created":"2020-07-17T15:34:44.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-17T15:34:45.000Z","passwordChanged":"2020-07-17T15:34:44.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Update-Profile","mobilePhone":null,"nickName":"JD","secondEmail":null,"login":"John.Doe-Update-Profile@example.com","email":"John.Doe-Update-Profile@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Update-Profile@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxHFFcZqIgY6y1Gw06aq5QAAAAs
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '593'
      x-rate-limit-reset: '1595000106'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxHFFY@TRXa50Xow7wr9kgAAAfI
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '591'
      x-rate-limit-reset: '1595000106'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00ul0huu0rZFDjqHo4x6
version: 1
