interactions:
- request:
    body:
      credentials:
        password:
          hash: null
          hook: null
          value: Password
        provider: null
        recovery_question: null
      group_ids: null
      profile:
        city: null
        cost_center: null
        country_code: null
        department: null
        display_name: null
        division: null
        email: John.Doe@example.com
        employee_number: null
        first_name: John
        honorific_prefix: null
        honorific_suffix: null
        last_name: Doe
        locale: null
        login: John.Doe@example.com
        manager: null
        manager_id: null
        middle_name: null
        mobile_phone: null
        nick_name: null
        organization: null
        postal_address: null
        preferred_language: null
        primary_phone: null
        profile_url: null
        second_email: null
        state: null
        street_address: null
        timezone: null
        title: null
        user_type: null
        zip_code: null
      type: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"errorCode":"E0000003","errorSummary":"The request body was not well-formed.","errorLink":"E0000003","errorId":"oae7ElKu1S5RMC0UoTrxqMIuw","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxB07onVpgm16cd4jYdxCgAABEE
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1594914047'
    status:
      code: 400
      message: Bad Request
    url: https://test.okta.com/api/v1/users/?activate=False
version: 1
