interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"ausp3ly3qrFxs94QV4x6","name":"python_sdk_test_abDfZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/ausp3ly3qrFxs94QV4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-07T17:50:59.000Z","lastUpdated":"2020-08-07T17:50:59.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-07T17:50:59.000Z","nextRotation":"2020-11-05T17:50:59.000Z","kid":"wJ3luc9GjBKcGA_KknkHS8QJ7MWcZotPt0igtSdSako"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/ausp3ly3qrFxs94QV4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/ausp3ly3qrFxs94QV4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2Ug-Utot0sUEdcLQiqjgAABYI
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '993'
      x-rate-limit-reset: '1596822709'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes
  response:
    body:
      string: '{"id":"scpp3jv2sh9i8y9Yw4x6","name":"python_sdk:abDHz","description":null,"system":false,"metadataPublish":"ALL_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes/scpp3jv2sh9i8y9Yw4x6","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2Ug-y61LIWLaXA-qSEqAAACLU
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '992'
      x-rate-limit-reset: '1596822709'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes/scpp3jv2sh9i8y9Yw4x6
  response:
    body:
      string: '{"id":"scpp3jv2sh9i8y9Yw4x6","name":"python_sdk:abDHzupdated","description":null,"system":false,"metadataPublish":"ALL_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes/scpp3jv2sh9i8y9Yw4x6","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2UhBEnkiDtbOvpMi73RAAABks
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '991'
      x-rate-limit-reset: '1596822709'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/scopes/scpp3jv2sh9i8y9Yw4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2UhERGmrKoIKeohJeSQwAAAEc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '989'
      x-rate-limit-reset: '1596822709'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2UhJY48AurXsARgTu5xwAAB9o
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '988'
      x-rate-limit-reset: '1596822709'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/ausp3ly3qrFxs94QV4x6
version: 1
