interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00un88k8jvAChhSJ94x6","status":"STAGED","created":"2020-07-28T15:07:20.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-28T15:07:20.000Z","passwordChanged":"2020-07-28T15:07:20.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Remove-Group","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Remove-Group@example.com","email":"John.Doe-Remove-Group@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Remove-Group@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA-KNUfr-wS2HbInFKKHgAABzM
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1595948874'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gn88ub3226lkaeE4x6","created":"2020-07-28T15:07:21.000Z","lastUpdated":"2020-07-28T15:07:21.000Z","lastMembershipUpdated":"2020-07-28T15:07:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA-KZZPUQQNajBKf4OQIQAAB0w
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '495'
      x-rate-limit-reset: '1595948874'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/users/00un88k8jvAChhSJ94x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA-KT7@@XiepJO@wFnZwgAAA3Q
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '494'
      x-rate-limit-reset: '1595948874'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/users/00un88k8jvAChhSJ94x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/users
  response:
    body:
      string: '[{"id":"00un88k8jvAChhSJ94x6","status":"STAGED","created":"2020-07-28T15:07:20.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-28T15:07:20.000Z","passwordChanged":"2020-07-28T15:07:20.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Remove-Group","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Remove-Group@example.com","email":"John.Doe-Remove-Group@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Remove-Group@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/users?limit=1000>;
        rel="self"
      x-okta-request-id: XyA-KTKBJiHtjaP74xdI3wAAAPM
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '493'
      x-rate-limit-reset: '1595948874'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6/users
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA-KX8rrVP7tt@HLn-PfwAAB-c
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '998'
      x-rate-limit-reset: '1595948875'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gn88ub3226lkaeE4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA-KpY48AurXsARgTsjxAAACC8
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1595948876'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA-KnFnmflJ3upXTv6rGAAABEY
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '596'
      x-rate-limit-reset: '1595948876'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00un88k8jvAChhSJ94x6
version: 1
