interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00un80cs012BFqaDU4x6","status":"STAGED","created":"2020-07-28T14:25:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-28T14:25:16.000Z","passwordChanged":"2020-07-28T14:25:17.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Activate","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Activate@example.com","email":"John.Doe-Activate@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Activate@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00un80cs012BFqaDU4x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00un80cs012BFqaDU4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA1THFnmflJ3upXTv5zJwAABBA
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1595946328'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gn81p2oWW4GF45z4x6","created":"2020-07-28T14:25:17.000Z","lastUpdated":"2020-07-28T14:25:17.000Z","lastMembershipUpdated":"2020-07-28T14:25:17.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA1TY2tAyvD9YsxD4tPegAABlI
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1595946377'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/users/00un80cs012BFqaDU4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA1TauEQcGnICnb0V3sLwAABOc
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '498'
      x-rate-limit-reset: '1595946377'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/users/00un80cs012BFqaDU4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/users
  response:
    body:
      string: '[{"id":"00un80cs012BFqaDU4x6","status":"STAGED","created":"2020-07-28T14:25:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-28T14:25:17.000Z","passwordChanged":"2020-07-28T14:25:17.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Activate","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Activate@example.com","email":"John.Doe-Activate@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Activate@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00un80cs012BFqaDU4x6"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/users?limit=1000>;
        rel="self"
      x-okta-request-id: XyA1Tc34nJ4C3uS6zOiuTgAABDU
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '497'
      x-rate-limit-reset: '1595946377'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6/users
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00un80cs012BFqaDU4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA1TqRbxSc1PFpyiREu6wAACAc
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1595946358'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00un80cs012BFqaDU4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyA1T8iJsJrWnNsrFSabLQAAAqc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1595946379'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gn81p2oWW4GF45z4x6
version: 1
