interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaoqa4ur8d8ASYt14x6","name":"bookmark","label":"AddBookmarkApp","status":"ACTIVE","lastUpdated":"2020-08-05T19:57:27.000Z","created":"2020-08-05T19:57:27.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"requestIntegration":false,"url":"https://example.com/bookmark.htm"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oaoqa4ur8d8ASYt14x6/2557","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysPJ5BDqmSpZa9LjLNNegAAAqk
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '93'
      x-rate-limit-reset: '1596657493'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/credentials/csrs
  response:
    body:
      string: '{"id":"MTX2Q-ymqggSFlPOM7HxRhUqzQ5EyUVUd1Fk1KNFeE8","created":"2020-08-05T19:57:28.000Z","csr":"MIICyTCCAbECAQAwWjEPMA0GA1UEBhMGQ2FuYWRhMRAwDgYDVQQHDAdUb3JvbnRvMRMwEQYDVQQKDApPa3RhLCBJbmMuMQwwCgYDVQQLDANEZXYxEjAQBgNVBAMMCVNQIElzc3VlcjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAIj0AR5Us0BnmpWOASfDU3PgPoK5x9RwRI0hdZV2xyfseEU9SKwiHdM1tkMJ87jNj6wIt+MIubPFTouTOpwQvMSQk9rnYNfsLzB3EfzceWTrv/sXQjUeiW0wQ7hIEv6ivioM6PuQOlwePJILgEAZ71ZLgRir6NxTLalHqRrr3LBIdgvVUANyD8onFDjEdnX1nyCsCt/hYYl2x22fN4B/uqfFWWvveq6165pWSo83W1fTV2iAj4Ns2DjD+EXGoUnVTQ+aafn/6paJ2eJ9Rmhen5moHgP4Aumv0YwEqXAfrO2zMXJWyjr5XmcjrqMhbMMxfn/zGUx81phpgjSjET4xgA8CAwEAAaAqMCgGCSqGSIb3DQEJDjEbMBkwFwYDVR0RBBAwDoIMZGV2Lm9rdGEuY29tMA0GCSqGSIb3DQEBCwUAA4IBAQAc4EvvbuDgYfmFJMtKZjTDaSDn4ymwSVBncn7aUPhv3gLN320NPiT9RmyrvYsGJdp3GqKSQT066cSXwwcsIuA3/7XKP12KvWB/dBiEnmoWxlAKIfyxplToMdomVldBfJhqiGo9GoCPL1Dd1wlJZOb6H4cbJSpHLBNwFZZ4glGYPfH4xeYkir1cdS3RlVpn+FzRbIDT0LwwVVdTkgHWq5UAhIu/bT47XPnJTXjEl6DLdt0pN/6e/RY9PCSHJewGVV511iFyoCJdEUah7g52hD5P2ztdlTGXPcFttZLfCZM9qvdGbVgtCCrjrSjB/212nO0BR+7RBuNBe22Se4riZi2Z","kty":"RSA","_links":{"publish":{"href":"https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/credentials/csrs/MTX2Q-ymqggSFlPOM7HxRhUqzQ5EyUVUd1Fk1KNFeE8/lifecycle/publish","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/credentials/csrs/MTX2Q-ymqggSFlPOM7HxRhUqzQ5EyUVUd1Fk1KNFeE8","hints":{"allow":["GET","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      location: https://dev-195921.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/credentials/csrs/MTX2Q-ymqggSFlPOM7HxRhUqzQ5EyUVUd1Fk1KNFeE8
      x-okta-request-id: XysPKJC3KOuMgBIW4mY2HQAAAFE
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '92'
      x-rate-limit-reset: '1596657493'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/credentials/csrs
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/credentials/csrs/MTX2Q-ymqggSFlPOM7HxRhUqzQ5EyUVUd1Fk1KNFeE8
  response:
    body:
      string: '{"id":"MTX2Q-ymqggSFlPOM7HxRhUqzQ5EyUVUd1Fk1KNFeE8","created":"2020-08-05T19:57:28.000Z","csr":"MIICyTCCAbECAQAwWjEPMA0GA1UEBhMGQ2FuYWRhMRAwDgYDVQQHDAdUb3JvbnRvMRMwEQYDVQQKDApPa3RhLCBJbmMuMQwwC[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysPKUgJZZlCadrPca74xwAAA00
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '88'
      x-rate-limit-reset: '1596657493'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysPKXVUkCaUNcCqV-9njAAAAz0
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '498'
      x-rate-limit-reset: '1596657495'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaoqa4ur8d8ASYt14x6
version: 1
