interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaoqfno6wkQycojA4x6","name":"oidc_client","label":"AddOpenIdConnectApp-Revoke-Consent","status":"ACTIVE","lastUpdated":"2020-08-05T20:58:01.000Z","created":"2020-08-05T20:58:01.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"SfJtU0sKQshujd3m6stAbFtzpeGNmXtFH_98Zrp-lyg"},"oauthClient":{"autoKeyRotation":true,"client_id":"testclientid123456","client_secret":"X1vel2iW7urd9nD3LFzYvG46oN7b0hjyA0InLlte","token_endpoint_auth_method":"client_secret_post"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":"https://example.com/client","logo_uri":"https://example.com/assets/images/logo-new.png","redirect_uris":["https://example.com/oauth2/callback","myapp://callback"],"post_logout_redirect_uris":["https://example.com/postlogout","myapp://postlogoutcallback"],"response_types":["token","id_token","code"],"grant_types":["authorization_code","implicit"],"application_type":"native","issuer_mode":"ORG_URL"}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://test.okta.com/home/oidc_client/0oaoqfno6wkQycojA4x6/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysdWC30n5ak4VN@XaJVawAABZw
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '85'
      x-rate-limit-reset: '1596661082'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/grants
  response:
    body:
      string: '{"id":"oag1mt4poLI1vRETd4x6","status":"ACTIVE","created":"2020-08-05T20:58:01.000Z","createdBy":{"id":"00uc04qdrQsSHjsDO4x6","type":"User"},"lastUpdated":"2020-08-05T20:58:01.000Z","issuer":"https://test.okta.com","clientId":"testclientid123456","scopeId":"okta.users.read","source":"ADMIN","_embedded":{"scope":{"id":"okta.users.read"}},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6","title":"AddOpenIdConnectApp-Revoke-Consent"},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/grants/oag1mt4poLI1vRETd4x6","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://test.okta.com/oauth2/v1/clients/testclientid123456","title":"AddOpenIdConnectApp-Revoke-Consent"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysdWfdAPiqCubfI3FKD3gAAB0g
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '84'
      x-rate-limit-reset: '1596661082'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/grants
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/grants/oag1mt4poLI1vRETd4x6
  response:
    body:
      string: '{"id":"oag1mt4poLI1vRETd4x6","status":"ACTIVE","created":"2020-08-05T20:58:01.000Z","createdBy":{"id":"00uc04qdrQsSHjsDO4x6","type":"User"},"lastUpdated":"2020-08-05T20:58:01.000Z","issuer":"https://test.okta.com","clientId":"[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysdWmCaf1raxAM5ooyE7QAAAag
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '97'
      x-rate-limit-reset: '1596661142'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysdW18oS3XLfQ-outD71AAAAO8
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '497'
      x-rate-limit-reset: '1596661114'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaoqfno6wkQycojA4x6
version: 1
