interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00ukxesxi8lMVUo0O4x6","status":"STAGED","created":"2020-07-16T21:13:43.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-16T21:13:43.000Z","passwordChanged":"2020-07-16T21:13:43.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"John.Doe@example.com","email":"John.Doe@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00ukxesxi8lMVUo0O4x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00ukxesxi8lMVUo0O4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxDDB5zw3Z5oRU0l4yisUQAABDI
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1594934061'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00ukxesxi8lMVUo0O4x6
  response:
    body:
      string: '{"id":"00ukxesxi8lMVUo0O4x6","status":"STAGED","created":"2020-07-16T21:13:43.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-16T21:13:43.000Z","passwordChanged":"2020-07-16T21:13:43.000Z","type":{"id":"otyc04qb2rUDcq[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/John.Doe@example.com
  response:
    body:
      string: '{"id":"00ukxesxi8lMVUo0O4x6","status":"STAGED","created":"2020-07-16T21:13:43.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-16T21:13:43.000Z","passwordChanged":"2020-07-16T21:13:43.000Z","type":{"id":"otyc04qb2rUDcq[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00ukxesxi8lMVUo0O4x6
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00ukxesxi8lMVUo0O4x6 (User)","errorLink":"E0000007","errorId":"oaenRgpORgPQRy7DFlr7ukNhA","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxDDCATBPJwO5id7OJdKLQAAC90
      x-rate-limit-limit: '2000'
      x-rate-limit-remaining: '1994'
      x-rate-limit-reset: '1594934062'
    status:
      code: 404
      message: Not Found
    url: https://test.okta.com/api/v1/users/00ukxesxi8lMVUo0O4x6
version: 1
