interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects
  response:
    body:
      string: '{"primary":{"name":"python_sdk_primary_t1","title":"Primary","description":"Primary
        Link Property","type":"USER"},"associated":{"name":"python_sdk_assoc_t1","title":"Associated","description":"Associated
        Link Property","type":"USER"},"_links":{"self":{"href":"https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_t1"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXM7ZD9OSTRQFRMU-8LQAAB3I
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '994'
      x-rate-limit-reset: '1597413219'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_t1
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXM18oS3XLfQ-outAP7gAAANc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '991'
      x-rate-limit-reset: '1597413219'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_t1
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_t2
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXMwgEU6wrtlkfiAgiowAABmo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '990'
      x-rate-limit-reset: '1597413219'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_t2
version: 1
