interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks
  response:
    body:
      string: '{"id":"calpze3i917qBql6q4x6","status":"ACTIVE","name":"python_sdk Test
        Inline Hook","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlineHook","headers":[{"key":"X-Test-Header","value":"Test
        Header Value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2020-08-13T19:59:03.000Z","lastUpdated":"2020-08-13T19:59:03.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6"},"execute":{"href":"https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWbh7XECrLf1wJQc3hT1wAABoA
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1597348803'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/inlineHooks
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"calpze3i917qBql6q4x6","status":"INACTIVE","name":"python_sdk
        Test Inline Hook","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlineHook","headers":[{"key":"X-Test-Header","value":"Test
        Header Value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2020-08-13T19:59:03.000Z","lastUpdated":"2020-08-13T19:59:03.000Z","_links":{"activate":{"href":"https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6"},"delete":{"href":"https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWbh834nJ4C3uS6zOgSjQAAA-Y
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '998'
      x-rate-limit-reset: '1597348803'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWbhzKj9QJPKe69iZyyswAABY4
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '997'
      x-rate-limit-reset: '1597348803'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        calpze3i917qBql6q4x6 (InlineHook)","errorLink":"E0000007","errorId":"oaeaoq2v4ReSO6NjxYvpS36XQ","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWbiH3by3cU8ozcZbqk3AAABXk
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '996'
      x-rate-limit-reset: '1597348803'
    status:
      code: 404
      message: Not Found
    url: https://test.okta.com/api/v1/inlineHooks/calpze3i917qBql6q4x6
version: 1
