interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks
  response:
    body:
      string: '{"id":"calpzkiwh94qXDP0S4x6","status":"ACTIVE","name":"python_sdk IH0","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlineHook","headers":[{"key":"X-Test-Header","value":"Test
        Header 0"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2020-08-13T20:13:26.000Z","lastUpdated":"2020-08-13T20:13:26.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6"},"execute":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWe5S30n5ak4VN@XaLPfgAABa4
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '994'
      x-rate-limit-reset: '1597349648'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/inlineHooks
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"calpzkiwh94qXDP0S4x6","status":"INACTIVE","name":"python_sdk
        IH0","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlineHook","headers":[{"key":"X-Test-Header","value":"Test
        Header 0"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2020-08-13T20:13:26.000Z","lastUpdated":"2020-08-13T20:13:27.000Z","_links":{"activate":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6"},"delete":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWe555Kk@1h6qjS2sto2AAAAAM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '990'
      x-rate-limit-reset: '1597349648'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWe54bXhMJZx0bMnmewZQAABpc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '989'
      x-rate-limit-reset: '1597349648'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/inlineHooks/calpzkiwh94qXDP0S4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks/calpzk3iuCNnQ3m6L4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"calpzk3iuCNnQ3m6L4x6","status":"INACTIVE","name":"python_sdk
        IH1","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/inlineHooks/calpzk3iuCNnQ3m6L4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWe6CN1lVk9KyfoZR@b4QAACPQ
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '987'
      x-rate-limit-reset: '1597349648'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/inlineHooks/calpzk3iuCNnQ3m6L4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks/calpznwbhyCBYIhoC4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"calpznwbhyCBYIhoC4x6","status":"INACTIVE","name":"python_sdk
        IH2","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/inlineHooks/calpznwbhyCBYIhoC4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWe6CWX6pNt5D9Ki65c-gAAA10
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '985'
      x-rate-limit-reset: '1597349648'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/inlineHooks/calpznwbhyCBYIhoC4x6
version: 1
