interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks
  response:
    body:
      string: '{"id":"calpzgkdmDrwhWpZB4x6","status":"ACTIVE","name":"python_sdk Test
        Inline Hook","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlineHook","headers":[{"key":"X-Test-Header","value":"Test
        Header Value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2020-08-13T19:56:18.000Z","lastUpdated":"2020-08-13T19:56:18.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6"},"execute":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWa4cEInBvlR-@hs28yMgAABoE
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '994'
      x-rate-limit-reset: '1597348631'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/inlineHooks
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6
  response:
    body:
      string: '{"id":"calpzgkdmDrwhWpZB4x6","status":"ACTIVE","name":"python_sdk Test
        Inline HookUPDATE","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlin[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"calpzgkdmDrwhWpZB4x6","status":"INACTIVE","name":"python_sdk
        Test Inline HookUPDATE","type":"com.okta.oauth2.tokens.transform","version":"1.0.0","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/inlineHookUPDATE","headers":[{"key":"X-Test-Header","value":"Test
        Header Value UPDATE"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"created":"2020-08-13T19:56:18.000Z","lastUpdated":"2020-08-13T19:56:19.000Z","_links":{"activate":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6"},"delete":{"href":"https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzWa46WGcXrTtptk4FMfWgAAA3o
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '991'
      x-rate-limit-reset: '1597348631'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/inlineHooks/calpzgkdmDrwhWpZB4x6/lifecycle/deactivate
[...]
