interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=True
  response:
    body:
      string: '{"id":"00uls7wvb8blRiPR54x6","status":"ACTIVE","created":"2020-07-20T13:37:59.000Z","activated":"2020-07-20T13:38:00.000Z","statusChanged":"2020-07-20T13:38:00.000Z","lastLogin":null,"lastUpdated":"2020-07-20T13:38:00.000Z","passwordChanged":"2020-07-20T13:38:00.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Change-Recovery","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Change-Recovery@example.com","email":"John.Doe-Change-Recovery@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Change-Recovery@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxWeN-y61LIWLaXA-qS8YgAACMc
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '596'
      x-rate-limit-reset: '1595252303'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=True
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/change_recovery_question
  response:
    body:
      string: '{"password":{},"recovery_question":{"question":"What''s your favourite
        security question?"},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxWeOKuEQcGnICnb0V0rAwAABQo
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '595'
      x-rate-limit-reset: '1595252303'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/change_recovery_question
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/forgot_password
  response:
    body:
      string: '{"password":{},"recovery_question":{"question":"What''s your favourite
        security question?"},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxWeOKuEQcGnICnb0V0rBAAABQo
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '594'
      x-rate-limit-reset: '1595252303'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/forgot_password
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6
  response:
    body:
      string: '{"id":"00uls7wvb8blRiPR54x6","status":"ACTIVE","created":"2020-07-20T13:37:59.000Z","activated":"2020-07-20T13:38:00.000Z","statusChanged":"2020-07-20T13:38:00.000Z","lastLogin":null,"lastUpdated":"2020-07-20T13:38:01.000Z","passwordChanged":"2020-07-20T13:38:01.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Change-Recovery","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Change-Recovery@example.com","email":"John.Doe-Change-Recovery@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Change-Recovery@example.com","status":"VERIFIED","type":"PRIMARY"}],"recovery_question":{"question":"What''s
        your favourite security question?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxWeOWjxU2auXDjMjHiESQAAA-c
      x-rate-limit-limit: '2000'
      x-rate-limit-remaining: '1998'
      x-rate-limit-reset: '1595252305'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxWeOv@3Vf5o3LYWyvHPWwAAA00
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '596'
      x-rate-limit-reset: '1595252305'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00uls7wvb8blRiPR54x6
version: 1
