interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"auspcd451uex752gp4x6","name":"python_sdk_test_abPeZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/auspcd451uex752gp4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-10T13:36:52.000Z","lastUpdated":"2020-08-10T13:36:52.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-10T13:36:52.000Z","nextRotation":"2020-11-08T13:36:52.000Z","kid":"_zLoyWyYo_km1orZWS8YLz3ROLJD-3kJywBcSmMXe8Y"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/auspcd451uex752gp4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/auspcd451uex752gp4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzFNcxaqnV-yzw550VZj1QAAB1c
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1597066672'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6
  response:
    body:
      string: '{"id":"auspcd451uex752gp4x6","name":"python_sdk_test_abPeZ","description":"Test
        Auth Server-Updated","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/auspcd451uex752gp4x6","issuerMode":"ORG_URL","status":"ACTIV[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzFNdeC8kQTt4UQ0KVLL2QAAA-U
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '996'
      x-rate-limit-reset: '1597066672'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzFNdS1jtNBxs2DVHFdmOgAAAqs
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '995'
      x-rate-limit-reset: '1597066672'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/auspcd451uex752gp4x6
version: 1
