interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00pqe81nqgc4zDa214x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gc04qatkiyWnGoq4x6"]}}},"created":"2020-08-17T14:29:57.000Z","lastUpdated":"2020-08-17T14:29:57.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/policies/00pqe81nqgc4zDa214x6","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/00pqe81nqgc4zDa214x6/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/00pqe81nqgc4zDa214x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzqUZANwrUoJqchH6qD-EgAACPM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1597674656'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/policies
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/00pqe81nqgc4zDa214x6
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00pqe81nqgc4zDa214x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gc04qatkiyWnG[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/00pqe81nqgc4zDa214x6
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00pqe81nqgc4zDa214x6 (Policy)","errorLink":"E0000007","errorId":"oaeLLtaXkZnT9W73g_mQ52RZA","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzqUZUgJZZlCadrPca5WUAAAAzM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '996'
      x-rate-limit-reset: '1597674656'
    status:
      code: 404
      message: Not Found
    url: https://test.okta.com/api/v1/policies/00pqe81nqgc4zDa214x6
version: 1
