interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/?activate=False
  response:
    body:
      string: '{"id":"0oaohwvf0gLk3yU3q4x6","name":"bookmark","label":"AddBookmarkApp","status":"INACTIVE","lastUpdated":"2020-08-04T14:18:30.000Z","created":"2020-08-04T14:18:30.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"requestIntegration":false,"url":"https://example.com/bookmark.htm"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oaohwvf0gLk3yU3q4x6/2557","type":"text/html"}],"activate":{"href":"https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/lifecycle/activate"},"groups":{"href":"https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/users"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyluNrXECrLf1wJQc3iHqQAABmM
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '96'
      x-rate-limit-reset: '1596550755'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/lifecycle/activate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyluNg87-YoqHNGxDsuzRQAABMw
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '95'
      x-rate-limit-reset: '1596550755'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/lifecycle/activate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6
  response:
    body:
      string: '{"id":"0oaohwvf0gLk3yU3q4x6","name":"bookmark","label":"AddBookmarkApp","status":"ACTIVE","lastUpdated":"2020-08-04T14:18:30.000Z","created":"2020-08-04T14:18:30.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"requestIntegration":false,"url":"https://example.com/bookmark.htm"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oaohwvf0gLk3yU3q4x6/2557","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyluOZZPUQQNajBKf4PqiwAAByg
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '496'
      x-rate-limit-reset: '1596550758'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6
  response:
    body:
      string: '{"errorCode":"E0000056","errorSummary":"Delete application forbidden.","errorLink":"E0000056","errorId":"oaeE1WeVH7UTJq8Rwt4qhZLBQ","errorCauses":[{"errorSummary":"The
        application must be deactivated before deletion."}]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyluOZzw3Z5oRU0l4ygiMAAABAA
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '495'
      x-rate-limit-reset: '1596550758'
    status:
      code: 403
      message: Forbidden
    url: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyluOUzMOpuhcg0mpo6@CAAAAnw
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '94'
      x-rate-limit-reset: '1596550755'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyluOatyqqKEnsgEzP7D1gAAASY
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '494'
      x-rate-limit-reset: '1596550758'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaohwvf0gLk3yU3q4x6
version: 1
