interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaoot4ilZDAtH6RC4x6","name":"bookmark","label":"AddBookmarkApp","status":"ACTIVE","lastUpdated":"2020-08-05T15:01:06.000Z","created":"2020-08-05T15:01:06.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"requestIntegration":false,"url":"https://example.com/bookmark.htm"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oaoot4ilZDAtH6RC4x6/2557","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJsv2vtEO-THA4OJlAlQAAA@8
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '94'
      x-rate-limit-reset: '1596639713'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00goouav8xWgA3pKl4x6","created":"2020-08-05T15:01:06.000Z","lastUpdated":"2020-08-05T15:01:06.000Z","lastMembershipUpdated":"2020-08-05T15:01:06.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00goouav8xWgA3pKl4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00goouav8xWgA3pKl4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJsquEQcGnICnb0V1s1wAABMg
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '497'
      x-rate-limit-reset: '1596639713'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00goouav8xWgA3pKl4x6
  response:
    body:
      string: '{"id":"00goouav8xWgA3pKl4x6","lastUpdated":"2020-08-05T15:01:07.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6"},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00goouav8xWgA3pKl4x6"},"group":{"href":"https://test.okta.com/api/v1/groups/00goouav8xWgA3pKl4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJs6AoDBK-RJXuMfx6HAAABQo
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '93'
      x-rate-limit-reset: '1596639713'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00goouav8xWgA3pKl4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00gooubkdXEaVa24R4x6
  response:
    body:
      string: '{"id":"00gooubkdXEaVa24R4x6","lastUpdated":"2020-08-05T15:01:07.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6"},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00gooubkdXEaVa24R4x6"},"group":{"href":"https://test.okta.com/api/v1/groups/00gooubkdXEaVa24R4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJs4DRK3waKsc3lD5BGQAAAGc
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '92'
      x-rate-limit-reset: '1596639713'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00gooubkdXEaVa24R4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups
  response:
    body:
      string: '[{"id":"00gooubkdXEaVa24R4x6","lastUpdated":"2020-08-05T15:01:07.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6"},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00gooubkdXEaVa24R4x6"},"group":{"href":"https://test.okta.com/api/v1/groups/00gooubkdXEaVa24R4x6"}}},{"id":"00goouav8xWgA3pKl4x6","lastUpdated":"2020-08-05T15:01:07.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6"},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups/00goouav8xWgA3pKl4x6"},"group":{"href":"https://test.okta.com/api/v1/groups/00goouav8xWgA3pKl4x6"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups?limit=20>;
        rel="self"
      x-okta-request-id: XyrJtonVpgm16cd4jYcG5wAAA-U
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '91'
      x-rate-limit-reset: '1596639713'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00goouav8xWgA3pKl4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJtv2vtEO-THA4OJlArAAABAo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '997'
      x-rate-limit-reset: '1596639718'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00goouav8xWgA3pKl4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gooubkdXEaVa24R4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJt7XECrLf1wJQc3jbqAAABlk
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '996'
      x-rate-limit-reset: '1596639718'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gooubkdXEaVa24R4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJtw70y2GOUxnqjRttRQAABOY
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '90'
      x-rate-limit-reset: '1596639713'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XyrJty1jtNBxs2DVHFfyJwAAApw
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '498'
      x-rate-limit-reset: '1596639718'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaoot4ilZDAtH6RC4x6
version: 1
