interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"ausp3wcr5TFOGWtUE4x6","name":"python_sdk_test_abDfZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/ausp3wcr5TFOGWtUE4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-07T18:41:36.000Z","lastUpdated":"2020-08-07T18:41:36.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-07T18:41:36.000Z","nextRotation":"2020-11-05T18:41:36.000Z","kid":"BJ2SnKvaZyyI_Qk_vIy-Fqh9VGXbMTGUBXVClhQC55A"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/ausp3wcr5TFOGWtUE4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/ausp3wcr5TFOGWtUE4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2gYK4NdH5Crg42CD8SMwAABw0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '995'
      x-rate-limit-reset: '1596825749'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/credentials/keys
  response:
    body:
      string: '[{"kty":"RSA","status":"ACTIVE","alg":"RS256","kid":"BJ2SnKvaZyyI_Qk_vIy-Fqh9VGXbMTGUBXVClhQC55A","use":"sig","_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/credentials/keys/BJ2SnKvaZyyI_Qk_vIy-Fqh9VGXbMTGUBXVClhQC55A","hints":{"allow":["GET"]}}},"e":"AQAB","n":"pBktcFcyxSqvCcqL8Ad5gE3ibiLMYsTXcWvnTEQWAhQEuRwruDK_cmoml4eylLqDfTYLaeTMnzAf2QA04QuTTG1WU4dlBtTVnC-bdIlBbHr5FMd3-btQoQMIB62jRAOM8Xrm9wd-04Qbb_FOeVnuzDX63CrQ38YC4FsTfjVVOAK5dX3fNOd7WEwa6m8FwaEllPkubFs_s36iogdqaRyNv20BBh7cissJHvzyNHP_BEvbiSKiJTxAT-iDpGDhDKOpd-Rc7biGccUeHrg277N-osCxcXwYCXouUV9umdQTwGW5PxxfUQL3xsW1NoRHud3U57uNgWJzcOQOKh-RoIHsww"}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2gYJ@uz0vmwTLNYnKWpgAAAdE
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '994'
      x-rate-limit-reset: '1596825749'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/credentials/keys
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2gYd4Ov5sQSVBJN61JHAAABeQ
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '993'
      x-rate-limit-reset: '1596825749'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xy2gYaAoDBK-RJXuMfyRugAABRA
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '992'
      x-rate-limit-reset: '1596825749'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/ausp3wcr5TFOGWtUE4x6
version: 1
