interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/types/user
  response:
    body:
      string: '{"id":"otyotz2tmPpJAFlK34x6","displayName":"python_sdk display name","name":"python_sdk_aAaewb","description":"python_sdk
        description","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdatedBy":"00uc04qdrQsSHjsDO4x6","created":"2020-08-06T15:15:47.000Z","lastUpdated":"2020-08-06T15:15:47.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://test.okta.com/api/v1/meta/schemas/user/oscotz2tmPpJAFlK34x6","method":"GET"},"self":{"rel":"self","href":"https://test.okta.com/api/v1/meta/types/user/otyotz2tmPpJAFlK34x6","method":"GET"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xyweo5Y48AurXsARgTtF3wAACDE
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '997'
      x-rate-limit-reset: '1596726993'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/meta/types/user
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/types/user/otyotz2tmPpJAFlK34x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xyweo6uEQcGnICnb0V1wPgAABMM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '996'
      x-rate-limit-reset: '1596726993'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/meta/types/user/otyotz2tmPpJAFlK34x6
version: 1
