interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gqdyu5mVKMesC3Q4x6","created":"2020-08-17T14:06:14.000Z","lastUpdated":"2020-08-17T14:06:14.000Z","lastMembershipUpdated":"2020-08-17T14:06:14.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gqdyu5mVKMesC3Q4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gqdyu5mVKMesC3Q4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzqO1roSemauZ8lbuC2O4gAACBk
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1597673234'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00pqdz2lxO8PT0eCc4x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gqdyu5mVKMesC3Q4x6"]}}},"created":"2020-08-17T14:06:14.000Z","lastUpdated":"2020-08-17T14:06:14.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/policies/00pqdz2lxO8PT0eCc4x6","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/00pqdz2lxO8PT0eCc4x6/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/00pqdz2lxO8PT0eCc4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzqO1pC3KOuMgBIW4mZxBwAAABo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '997'
      x-rate-limit-reset: '1597673211'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/policies
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/00pqdz2lxO8PT0eCc4x6
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00pqdz2lxO8PT0eCc4x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gqdyu5mVKMesC[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gqdyu5mVKMesC3Q4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzqO17XECrLf1wJQc3isNAAABqw
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1597673235'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gqdyu5mVKMesC3Q4x6
version: 1
