interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oao23zncsE8b1xZw4x6","name":"oidc_client","label":"AddOpenIdConnectApp","status":"ACTIVE","lastUpdated":"2020-07-31T21:06:38.000Z","created":"2020-07-31T21:06:38.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"SfJtU0sKQshujd3m6stAbFtzpeGNmXtFH_98Zrp-lyg"},"oauthClient":{"autoKeyRotation":true,"client_id":"testclientid12345","client_secret":"HtMgv8FBl-Z-iII8_dT9f6ppnvLk90qJ6MPRLoW3","token_endpoint_auth_method":"client_secret_post"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":"https://example.com/client","logo_uri":"https://example.com/assets/images/logo-new.png","redirect_uris":["https://example.com/oauth2/callback","myapp://callback"],"post_logout_redirect_uris":["https://example.com/postlogout","myapp://postlogoutcallback"],"response_types":["token","id_token","code"],"grant_types":["authorization_code","implicit"],"application_type":"native","issuer_mode":"ORG_URL"}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://test.okta.com/home/oidc_client/0oao23zncsE8b1xZw4x6/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XySH3pZPUQQNajBKf4OIuQAABz4
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '96'
      x-rate-limit-reset: '1596229636'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6
  response:
    body:
      string: '{"id":"0oao23zncsE8b1xZw4x6","name":"oidc_client","label":"AddOpenIdConnectApp","status":"ACTIVE","lastUpdated":"2020-07-31T21:06:38.000Z","created":"2020-07-31T21:06:38.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XySH3-@3Vf5o3LYWyvG1NAAAAyM
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '95'
      x-rate-limit-reset: '1596229636'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XySH38MCYhgX8pCoTOPUAwAABzs
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '495'
      x-rate-limit-reset: '1596229639'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oao23zncsE8b1xZw4x6
version: 1
