interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '[{"id":"ausc04qbv1PS5ygdb4x6","name":"default","description":"Default
        Authorization Server for your Applications","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/default","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-05-13T13:29:26.000Z","lastUpdated":"2020-05-13T13:29:26.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-05-13T13:29:26.000Z","nextRotation":"2020-08-11T13:29:26.000Z","kid":"NRQAi9PGJgHyn7RCKY1A49k-mMyLhNABtEXFAC0izho"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/default/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/default/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/default/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/default/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/default/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/default/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/default","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/default/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/default/lifecycle/deactivate","hints":{"allow":["POST"]}}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/authorizationServers?after=ausc04qbv1PS5ygdb4x6&limit=200>;
        rel="next"
      x-okta-request-id: XyxZZuZUc5HN-rnRgUv90wAAApY
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '998'
      x-rate-limit-reset: '1596742043'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/authorizationServers
version: 1
