interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaoq6cn23YgtUokP4x6","name":"bookmark","label":"AddBookmarkApp","status":"ACTIVE","lastUpdated":"2020-08-05T19:43:47.000Z","created":"2020-08-05T19:43:47.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"requestIntegration":false,"url":"https://example.com/bookmark.htm"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oaoq6cn23YgtUokP4x6/2557","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysL8y1jtNBxs2DVHFdriwAAAoo
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '95'
      x-rate-limit-reset: '1596656681'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/credentials/csrs
  response:
    body:
      string: '{"id":"lj_ItXxGa_pdFmEmi8YcqrKlgF9hzKZQ1MVXZakxFJ0","created":"2020-08-05T19:43:48.000Z","csr":"MIICyTCCAbECAQAwWjEPMA0GA1UEBhMGQ2FuYWRhMRAwDgYDVQQHDAdUb3JvbnRvMRMwEQYDVQQKDApPa3RhLCBJbmMuMQwwCgYDVQQLDANEZXYxEjAQBgNVBAMMCVNQIElzc3VlcjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALA1KRvcdTr5+xRc0PvzIRxE9crxLxEV9xYvhHmAkDUqjPTeGsW84h9sNw9rayy1s5TpffAd8BuVBQiT68YVUdlYXDV4sODdcM7xyLp70B9Lq254RFLZdsTUzpgAzgty4E5S5HPPVqOQkDjWBLKIc79leL00svhlEaMSieOzw0tuDXunpkHCmb5opTK9TEHD0sep4hI3Df7X/PhnhCuzQ9kTAd8qZfkVPhvP3ahO1xRdLP+awvdFBDSlQ7IPXlYGbeqMGcEJzpVT3UFG8hS3boVV5kNR43wCj0quzQUOLIH9X83XIl+NcrPNWn2HE906t9/TCc9UQtYND0XA2D+LwssCAwEAAaAqMCgGCSqGSIb3DQEJDjEbMBkwFwYDVR0RBBAwDoIMZGV2Lm9rdGEuY29tMA0GCSqGSIb3DQEBCwUAA4IBAQAyCIqyeT3edjxSfWnpvWyHoIKbIBBGPQXlfDR/4stxlWmpZ85AWszCGkB/XTDqWsBsv2xGo9MLD2iaRKNqZQFIxNU1mKJWEhSZ/4OcBW7CEhnbCArxg8kiB5HqIzUj7vHxghWsbVpAEB1aqTgwzpIUcvPjfnIHyGcRKuj/2vZGTdCZA9ytpLkvOkU8u1b2RrRsKSK4zDzg5/0tFlnpttFzBMP3DugjMgZq75AFQy2jgQtVU7AKcRH4NZcr9GquzM9rNy9e9+vae2OP0k2nKYQf031Sy53Nql7WInp5iMTMIAqZGU33pqniLU5e+qfQsMSj6Oyc2T8wSsI9MZLezWJf","kty":"RSA","_links":{"publish":{"href":"https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/credentials/csrs/lj_ItXxGa_pdFmEmi8YcqrKlgF9hzKZQ1MVXZakxFJ0/lifecycle/publish","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/credentials/csrs/lj_ItXxGa_pdFmEmi8YcqrKlgF9hzKZQ1MVXZakxFJ0","hints":{"allow":["GET","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      location: https://dev-195921.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/credentials/csrs/lj_ItXxGa_pdFmEmi8YcqrKlgF9hzKZQ1MVXZakxFJ0
      x-okta-request-id: XysL8w70y2GOUxnqjRvSRgAABNQ
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '94'
      x-rate-limit-reset: '1596656681'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/credentials/csrs
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/credentials/csrs/lj_ItXxGa_pdFmEmi8YcqrKlgF9hzKZQ1MVXZakxFJ0
  response:
    body:
      string: '{"id":"lj_ItXxGa_pdFmEmi8YcqrKlgF9hzKZQ1MVXZakxFJ0","created":"2020-08-05T19:43:48.000Z","csr":"MIICyTCCAbECAQAwWjEPMA0GA1UEBhMGQ2FuYWRhMRAwDgYDVQQHDAdUb3JvbnRvMRMwEQYDVQQKDApPa3RhLCBJbmMuMQwwC[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysL9GKvAOVHT2iSoaPGsgAABRA
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '92'
      x-rate-limit-reset: '1596656681'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysL9JC3KOuMgBIW4mYnWgAAABQ
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '498'
      x-rate-limit-reset: '1596656682'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaoq6cn23YgtUokP4x6
version: 1
