interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00pqhehpcE4cVy3f34x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gc04qatkiyWnGoq4x6"]}}},"created":"2020-08-17T19:34:51.000Z","lastUpdated":"2020-08-17T19:34:51.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xzrb21N6sknV9HvYIbJ7cgAACNY
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '990'
      x-rate-limit-reset: '1597692939'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/policies
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules
  response:
    body:
      string: '{"type":"SIGN_ON","id":"0prqhddngDDuM7VL34x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On-Rule","priority":1,"created":"2020-08-17T19:34:51.000Z","lastUpdated":"2020-08-17T19:34:51.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":720,"maxSessionLifetimeMinutes":0}}},"_links":{"self":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xzrb2zyhr7SN2G-tlw7ntAAABYo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '989'
      x-rate-limit-reset: '1597692939'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6
  response:
    body:
      string: '{"type":"SIGN_ON","id":"0prqhddngDDuM7VL34x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On-Rule","priority":1,"created":"2020-08-17T19:34:51.000Z","lastUpdated":"2020-08-17T19:34:51.000Z","system":false,"condit[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xzrb22Caf1raxAM5oowI2AAAAaE
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '987'
      x-rate-limit-reset: '1597692939'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6
  response:
    body:
      string: '{"type":"SIGN_ON","id":"0prqhddngDDuM7VL34x6","status":"INACTIVE","name":"python_sdk
        Test-Sign-On-Rule","priority":1,"created":"2020-08-17T19:34:51.000Z","lastUpdated":"2020-08-17T19:34:51.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"network":{"connection":"ANYWHERE"},"authContext":{"authType":"ANY"}},"actions":{"signon":{"access":"ALLOW","requireFactor":false,"primaryFactor":"PASSWORD_IDP","rememberDeviceByDefault":false,"session":{"usePersistentCookie":false,"maxSessionIdleMinutes":720,"maxSessionLifetimeMinutes":0}}},"_links":{"activate":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xzrb3ERGmrKoIKeohJcumAAAAFc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '986'
      x-rate-limit-reset: '1597692939'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6/lifecycle/activate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xzrb3EaK9JuQdFKjI04m1wAABDI
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '985'
      x-rate-limit-reset: '1597692939'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6/rules/0prqhddngDDuM7VL34x6/lifecycle/activate
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: Xzrb3Tyhr7SN2G-tlw7nvgAABYo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '982'
      x-rate-limit-reset: '1597692939'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/policies/00pqhehpcE4cVy3f34x6
version: 1
