interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00ulwhixeWAiB01MD4x6","status":"STAGED","created":"2020-07-20T19:21:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-20T19:21:16.000Z","passwordChanged":"2020-07-20T19:21:16.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Paginate-1","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Paginate-1@example.com","email":"John.Doe-Paginate-1@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Paginate-1@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxXurJY48AurXsARgTu4AAAAB-E
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '599'
      x-rate-limit-reset: '1595272936'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/?limit=1
  response:
    body:
      string: '[{"id":"00ulwhixeWAiB01MD4x6","status":"STAGED","created":"2020-07-20T19:21:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-20T19:21:16.000Z","passwordChanged":"2020-07-20T19:21:16.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Paginate-1","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Paginate-1@example.com","email":"John.Doe-Paginate-1@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Paginate-1@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/users?after=000ulwhixeWAiB01MD4x6&limit=1>;
        rel="next"
      x-okta-request-id: XxXurbXECrLf1wJQc3hB0wAABq0
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1595272936'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?limit=1
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users?after=000ulwhixeWAiB01MD4x6&limit=1
  response:
    body:
      string: '[{"id":"00ulwhiy9kFLqSPCI4x6","status":"STAGED","created":"2020-07-20T19:21:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-07-20T19:21:16.000Z","passwordChanged":"2020-07-20T19:21:16.000Z","type":{"id"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxXurbZD9OSTRQFRMU@VqgAAB00
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '599'
      x-rate-limit-reset: '1595272937'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00ulwhiy9kFLqSPCI4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxXurn3by3cU8ozcZbpRXgAABZI
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1595272937'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00ulwhiy9kFLqSPCI4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00ulwhixeWAiB01MD4x6 (User)","errorLink":"E0000007","errorId":"oaexNHm9WtYROGc4b2ujJMw1g","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XxXursA@3E@3pZRjFdH3NAAAAfc
      x-rate-limit-limit: '2000'
      x-rate-limit-remaining: '1999'
      x-rate-limit-reset: '1595272938'
    status:
      code: 404
      message: Not Found
    url: https://test.okta.com/api/v1/users/00ulwhixeWAiB01MD4x6
version: 1
