interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaol60i5i6p5A3FW4x6","name":"template_basic_auth","label":"AddBasicAuthApp","status":"ACTIVE","lastUpdated":"2020-08-04T20:29:07.000Z","created":"2020-08-04T20:29:06.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BASIC_AUTH","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"authURL":"https://example.com/auth.html","url":"https://example.com/auth.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/template_basic_auth/0oaol60i5i6p5A3FW4x6/2873","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XynFEqs4JgnOwUouBhj-nAAAAA0
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '96'
      x-rate-limit-reset: '1596572985'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6
  response:
    body:
      string: '{"id":"0oaol60i5i6p5A3FW4x6","name":"template_basic_auth","label":"AddBasicAuthApp","status":"ACTIVE","lastUpdated":"2020-08-04T20:29:07.000Z","created":"2020-08-04T20:29:06.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirec[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XynFE@St7cPDsjnZpjo3DAAABQk
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '95'
      x-rate-limit-reset: '1596572985'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XynFE9Rsn41aY0TBw0nQlgAABEo
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '495'
      x-rate-limit-reset: '1596572989'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaol60i5i6p5A3FW4x6
version: 1
