interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaoqeyo4gDS8QVl24x6","name":"oidc_client","label":"AddOpenIdConnectApp-Get-Consent","status":"ACTIVE","lastUpdated":"2020-08-05T20:40:09.000Z","created":"2020-08-05T20:40:09.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"SfJtU0sKQshujd3m6stAbFtzpeGNmXtFH_98Zrp-lyg"},"oauthClient":{"autoKeyRotation":true,"client_id":"testclientid123456","client_secret":"u1uCYsBVYIjQWdNZeVrknovOZGL0pCxLYJn-ABGv","token_endpoint_auth_method":"client_secret_post"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":"https://example.com/client","logo_uri":"https://example.com/assets/images/logo-new.png","redirect_uris":["https://example.com/oauth2/callback","myapp://callback"],"post_logout_redirect_uris":["https://example.com/postlogout","myapp://postlogoutcallback"],"response_types":["token","id_token","code"],"grant_types":["authorization_code","implicit"],"application_type":"native","issuer_mode":"ORG_URL"}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://test.okta.com/home/oidc_client/0oaoqeyo4gDS8QVl24x6/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysZKLoSemauZ8lbuC1D5QAACDg
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '99'
      x-rate-limit-reset: '1596660068'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/grants
  response:
    body:
      string: '{"id":"oag1mtecpqhp8L3hS4x6","status":"ACTIVE","created":"2020-08-05T20:40:09.000Z","createdBy":{"id":"00uc04qdrQsSHjsDO4x6","type":"User"},"lastUpdated":"2020-08-05T20:40:09.000Z","issuer":"https://test.okta.com","clientId":"testclientid123456","scopeId":"okta.apps.read","source":"ADMIN","_embedded":{"scope":{"id":"okta.apps.read"}},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6","title":"AddOpenIdConnectApp-Get-Consent"},"self":{"href":"https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/grants/oag1mtecpqhp8L3hS4x6","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://test.okta.com/oauth2/v1/clients/testclientid123456","title":"AddOpenIdConnectApp-Get-Consent"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysZKf2vtEO-THA4OJnLDAAABEE
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '98'
      x-rate-limit-reset: '1596660068'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/grants
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/grants/oag1mtecpqhp8L3hS4x6
  response:
    body:
      string: '{"id":"oag1mtecpqhp8L3hS4x6","status":"ACTIVE","created":"2020-08-05T20:40:09.000Z","createdBy":{"id":"00uc04qdrQsSHjsDO4x6","type":"User"},"lastUpdated":"2020-08-05T20:40:09.000Z","issuer":"https://test.okta.com","clientId":"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysZKsGUpKDpDtPLR-3RagAAAnE
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '95'
      x-rate-limit-reset: '1596660068'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XysZKsZqIgY6y1Gw06bQQAAAADg
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1596660070'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oaoqeyo4gDS8QVl24x6
version: 1
