interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects
  response:
    body:
      string: '{"primary":{"name":"python_sdk_primary_test","title":"Primary","description":"Primary
        Link Property","type":"USER"},"associated":{"name":"python_sdk_assoc_test","title":"Associated","description":"Associated
        Link Property","type":"USER"},"_links":{"self":{"href":"https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXBNUfr-wS2HbInFIjYQAAB0U
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '995'
      x-rate-limit-reset: '1597413132'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test
  response:
    body:
      string: '{"primary":{"name":"python_sdk_primary_test","title":"Primary","description":"Primary
        Link Property","type":"USER"},"associated":{"name":"python_sdk_assoc_test","title":"Associated","description":"Associated
        Link Property","type":"USER"},"_links":{"self":{"href":"https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXBJzw3Z5oRU0l4yg3xgAABFM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '994'
      x-rate-limit-reset: '1597413132'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_assoc_test
  response:
    body:
      string: '{"primary":{"name":"python_sdk_primary_test","title":"Primary","description":"Primary
        Link Property","type":"USER"},"associated":{"name":"python_sdk_assoc_test","title":"Associated","description":"Associated
        Link Property","type":"USER"},"_links":{"self":{"href":"https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXBHVUkCaUNcCqV--e-QAAA3U
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '993'
      x-rate-limit-reset: '1597413132'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_assoc_test
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XzaXBKWGcXrTtptk4FPzAgAAA4I
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '992'
      x-rate-limit-reset: '1597413132'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/meta/schemas/user/linkedObjects/python_sdk_primary_test
version: 1
