interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gotj5wboF4Laf4G4x6","created":"2020-08-06T13:35:16.000Z","lastUpdated":"2020-08-06T13:35:16.000Z","lastMembershipUpdated":"2020-08-06T13:35:16.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test
        1","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XywHFI2tAyvD9YsxD4vKWwAABok
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '494'
      x-rate-limit-reset: '1596720968'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles
  response:
    body:
      string: '{"id":"KVJUKUS7IFCE2SKO","label":"User Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2020-08-06T13:35:17.000Z","lastUpdated":"2020-08-06T13:35:17.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XywHFUgJZZlCadrPca6tBAAAA34
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '492'
      x-rate-limit-reset: '1596720968'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles/KVJUKUS7IFCE2SKO/targets/groups/00gotjctt71VK0RO54x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XywHFQ50vVyE1uXSf7o7gQAAAcM
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '491'
      x-rate-limit-reset: '1596720968'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles/KVJUKUS7IFCE2SKO/targets/groups/00gotjctt71VK0RO54x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles/KVJUKUS7IFCE2SKO/targets/groups
  response:
    body:
      string: '[{"id":"00gotjctt71VK0RO54x6","created":"2020-08-06T13:35:17.000Z","lastUpdated":"2020-08-06T13:35:17.000Z","lastMembershipUpdated":"2020-08-06T13:35:17.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test
        2","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gotjctt71VK0RO54x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gotjctt71VK0RO54x6/apps"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles/KVJUKUS7IFCE2SKO/targets/groups?after=PGEI8MpuuVgQ8ivNptNdGdG-A1&limit=20>;
        rel="self"
      x-okta-request-id: XywHFSyRUV-iwn5fO7w-4QAAAQY
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '490'
      x-rate-limit-reset: '1596720968'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6/roles/KVJUKUS7IFCE2SKO/targets/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XywHFd4Ov5sQSVBJN60BkgAABXo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '997'
      x-rate-limit-reset: '1596720969'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gotj5wboF4Laf4G4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gotjctt71VK0RO54x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: XywHFmjxU2auXDjMjHjiCQAAA@4
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '996'
      x-rate-limit-reset: '1596720969'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gotjctt71VK0RO54x6
version: 1
