interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/org
  response:
    body:
      string: '{"id":"00okqewnfETurhtBd5d6","subdomain":"test","companyName":"okta-test","status":"ACTIVE","expiresAt":null,"created":"2021-04-13T05:55:29.000Z","lastUpdated":"2021-08-31T08:48:47.000Z","website":"https://developer.okta.com","phoneNumber":"","endUserSupportHelpURL":"","supportPhoneNumber":"","address1":null,"address2":null,"city":null,"state":null,"country":null,"postalCode":null,"_links":{"preferences":{"href":"https://test.okta.com/api/v1/org/preferences"},"uploadLogo":{"href":"https://test.okta.com/api/v1/org/logo","hints":{"allow":["POST"]}},"oktaCommunication":{"href":"https://test.okta.com/api/v1/org/privacy/oktaCommunication"},"logo":{"href":"https://ok12static.oktacdn.com/fs/bco/1/fs01m6d33fCjIUdNq5d7"},"oktaSupport":{"href":"https://test.okta.com/api/v1/org/privacy/oktaSupport"},"contacts":{"href":"https://test.okta.com/api/v1/org/contacts"}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YS33ot63elQEnJdl88@tZQAAAzg
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1630402525'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/org
[...]
