interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/org/privacy/oktaSupport
  response:
    body:
      string: '{"support":"DISABLED","expiration":null,"_links":{"grant":{"href":"https://test.okta.com/api/v1/org/privacy/oktaSupport/grant","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YS33skYC5eyIZ-hKgV8y3gAADuc
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '81'
      x-rate-limit-reset:
      - '1630402525'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/org/privacy/oktaSupport
version: 1
