interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/types/user
  response:
    body:
      string: '{"id":"otysfdb9ws3x6P3Xg4x6","displayName":"python_sdk display name","name":"python_sdk_zEVAT","description":"python_sdk
        description","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdatedBy":"00uc04qdrQsSHjsDO4x6","created":"2020-08-27T18:17:27.000Z","lastUpdated":"2020-08-27T18:17:27.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://test.okta.com/api/v1/meta/schemas/user/oscsfdb9ws3x6P3Xg4x6","method":"GET"},"self":{"rel":"self","href":"https://test.okta.com/api/v1/meta/types/user/otysfdb9ws3x6P3Xg4x6","method":"GET"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4tzRRAAUOQtIPptbMJgAACD0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '849'
      x-rate-limit-reset: '1598552263'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/meta/types/user
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/types/user/otysfdb9ws3x6P3Xg4x6
  response:
    body:
      string: '{"id":"otysfdb9ws3x6P3Xg4x6","displayName":"python_sdk display name","name":"python_sdk_zEVAT","description":"python_sdk
        description","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdatedBy":"00uc04qdrQsSHjsDO4x6","created":"2020-08-27T18:17[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/types/user/otysfdb9ws3x6P3Xg4x6
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        otysfdb9ws3x6P3Xg4x6 (CVDType)","errorLink":"E0000007","errorId":"oaeRtK80VAeRhKuQgiEVB6HOw","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4uDyhr7SN2G-tlw6JvgAABaA
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '846'
      x-rate-limit-reset: '1598552263'
    status:
      code: 404
      message: Not Found
    url: https://test.okta.com/api/v1/meta/types/user/otysfdb9ws3x6P3Xg4x6
version: 1
