interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users
  response:
    body:
      string: '{"id":"00usfcs3xVWJYt3OJ4x6","status":"ACTIVE","created":"2020-08-27T18:15:38.000Z","activated":"2020-08-27T18:15:38.000Z","statusChanged":"2020-08-27T18:15:38.000Z","lastLogin":null,"lastUpdated":"2020-08-27T18:15:38.000Z","passwordChanged":"2020-08-27T18:15:38.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Get-Factor","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Get-Factor@example.com","email":"John.Doe-Get-Factor@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Get-Factor@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4SobXhMJZx0bMnmeDRgAABp4
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '592'
      x-rate-limit-reset: '1598552194'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/factors
  response:
    body:
      string: '{"id":"mblsfd0fsK5Mh1J5Z4x6","factorType":"sms","provider":"OKTA","vendorName":"OKTA","status":"PENDING_ACTIVATION","created":"2020-08-27T18:15:39.000Z","lastUpdated":"2020-08-27T18:15:39.000Z","profile":{"phoneNumber":"+12345678901"},"_links":{"resend":[{"name":"sms","href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/factors/mblsfd0fsK5Mh1J5Z4x6/resend","hints":{"allow":["POST"]}}],"activate":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/factors/mblsfd0fsK5Mh1J5Z4x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/factors/mblsfd0fsK5Mh1J5Z4x6","hints":{"allow":["GET"]}},"user":{"href":"https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4S9@OFBAtVukbnH0skwAACYM
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '591'
      x-rate-limit-reset: '1598552194'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/factors
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/factors/mblsfd0fsK5Mh1J5Z4x6
  response:
    body:
      string: '{"id":"mblsfd0fsK5Mh1J5Z4x6","factorType":"sms","provider":"OKTA","vendorName":"OKTA","status":"PENDING_ACTIVATION","created":"2020-08-27T18:15:39.000Z","lastUpdated":"2020-08-27T18:15:39.000Z","profile":{"phoneNumber":"+123[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4SzKBJiHtjaP74xcS5wAAAPA
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '589'
      x-rate-limit-reset: '1598552194'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4TMMCYhgX8pCoTOOSWwAAB1A
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1598552195'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfcs3xVWJYt3OJ4x6
version: 1
