interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users
  response:
    body:
      string: '[{"id":"00uc04qdrQsSHjsDO4x6","status":"ACTIVE","created":"2020-05-13T13:29:28.000Z","activated":null,"statusChanged":"2020-05-13T13:33:05.000Z","lastLogin":"2020-08-27T13:30:59.000Z","lastUpdated":"2020-05-13T13:33:05.000Z","passwordChanged":"2020-05-13T13:33:05.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"Justin","lastName":"Abrokwah","mobilePhone":null,"secondEmail":null,"login":"justin.abrokwah@okta.com","email":"justin.abrokwah@okta.com"},"credentials":{"password":{},"emails":[{"value":"justin.abrokwah@okta.com","status":"VERIFIED","type":"PRIMARY"}],"recovery_question":{"question":"What
        was your dream job as a child?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00uc04qdrQsSHjsDO4x6"}}},{"id":"00uc093uwoiDxH8TX4x6","status":"ACTIVE","created":"2020-05-13T14:25:48.000Z","activated":"2020-05-13T14:25:48.000Z","statusChanged":"2020-05-13T14:25:48.000Z","lastLogin":"2020-05-13T19:00:35.000Z","lastUpdated":"2020-05-13T18:45:26.000Z","passwordChanged":"2020-05-13T14:25:48.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"Michael","lastName":"Jordan","mobilePhone":null,"secondEmail":null,"login":"thelastdanc[...]
