interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00usfhfealbkkXMo84x6","status":"STAGED","created":"2020-08-27T18:21:49.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-08-27T18:21:49.000Z","passwordChanged":"2020-08-27T18:21:49.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Activate","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Activate@example.com","email":"John.Doe-Activate@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Activate@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5vae0ikvd@6cIht6LagAAAc8
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1598552525'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6/lifecycle/activate/?sendEmail=False
  response:
    body:
      string: '{"activationUrl":"https://test.okta.com/welcome/U1uFQ4LZpbyyiMe7Tw_t","activationToken":"U1uFQ4LZpbyyiMe7Tw_t"}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5vih4NYw3TOBewrL0aAAABRc
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1598552525'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6/lifecycle/activate/?sendEmail=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/?filter=status+eq+%22ACTIVE%22
  response:
    body:
      string: '[{"id":"00uc04qdrQsSHjsDO4x6","status":"ACTIVE","created":"2020-05-13T13:29:28.000Z","activated":null,"statusChanged":"2020-05-13T13:33:05.000Z","lastLogin":"2020-08-27T13:30:59.000Z","lastUpdated":"2020-05-13T13:33:05.000Z","passwordChanged":"2020-05-13T13:33:05.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"Justin","lastName":"Abrokwah","mobilePhone":null,"secondEmail":null,"login":"justin.abrokwah@okta.com","email":"justin.abrokwah@okta.com"},"credentials":{"password":{},"emails":[{"value":"justin.abrokwah@okta.com","status":"VERIFIED","type":"PRIMARY"}],"recovery_question":{"question":"What
        was your dream job as a child?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00uc04qdrQsSHjsDO4x6"}}},{"id":"00uc093uwoiDxH8TX4x6","status":"ACTIVE","created":"2020-05-13T14:25:48.000Z","activated":"2020-05-13T14:25:48.000Z","statusChanged":"2020-05-13T14:25:48.000Z","lastLogin":"2020-05-13T19:00:35.000Z","lastUpdated":"2020-05-13T18:45:26.000Z","passwordChanged":"2020-05-13T14:25:48.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5vuSt7cPDsjnZpjonsgAABN8
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1598552555'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5vo2x2Q@J3NHoTbk1SAAAAOw
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '596'
      x-rate-limit-reset: '1598552555'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfhfealbkkXMo84x6
version: 1
