interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Unlock@example.com", "firstName": "John", "lastName": "Doe-Unlock",
      "login": "John.Doe-Unlock@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrjytbqRoGqyQd5d7","status":"ACTIVE","created":"2025-09-29T02:19:52.000Z","activated":"2025-09-29T02:19:52.000Z","statusChanged":"2025-09-29T02:19:52.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:19:52.000Z","passwordChanged":"2025-09-29T02:19:52.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Unlock","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Unlock@example.com","email":"John.Doe-Unlock@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Unlock@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4b0364063b7711eb7a7eec40a35ccdac
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759112452'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/unlock
  response:
    body:
      string: '{"errorCode":"E0000032","errorSummary":"Unlock is not allowed for this
        user.","errorLink":"E0000032","errorId":"oae9Wpz4YIiTcCdvkj0JTq0YA","errorCauses":[{"errorSummary":"The
        user is not locked out."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3ab36365bd73dbdcaaa2f93109fecc8d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759112452'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a9908e68dcb2c3ccff3018f019730d2c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759116818'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrjytbqRoGqyQd5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bb6681cf677c26ba63273f774dc1b0e4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759116819'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkoh5eiFSiEn15d7/lifecycle/unlock
  response:
    body:
      string: '{"errorCode":"E0000032","errorSummary":"Unlock is not allowed for this
        user.","errorLink":"E0000032","errorId":"oaeXt8_H2g6TtiI7Vpo_o8sbw","errorCauses":[{"errorSummary":"The
        user is not locked out."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 09e1e093bfde05575a182cec2c7103c5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759116881'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkoh5eiFSiEn15d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 95dfc72277f1c079fe125a97fd6b7c2f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759116881'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkoh5eiFSiEn15d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 56a8b2cd2ba2e01158baccc37a239c26
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759116885'
    status:
      code: 204
      message: No Content
version: 1
