interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Reactivate@example.com", "firstName": "John", "lastName": "Doe-Reactivate",
      "login": "John.Doe-Reactivate@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=false
  response:
    body:
      string: '{"id":"00uqrku6swqIv4Y1T5d7","status":"STAGED","created":"2025-09-29T04:00:54.000Z","activated":null,"statusChanged":"2025-09-29T04:00:54.000Z","lastLogin":null,"lastUpdated":"2025-09-29T04:00:54.000Z","passwordChanged":"2025-09-29T04:00:54.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Reactivate","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Reactivate@example.com","email":"John.Doe-Reactivate@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Reactivate@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"activate":{"href":"https://test.okta.com/api/v1/users/00uqrku6swqIv4Y1T5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrku6swqIv4Y1T5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrku6swqIv4Y1T5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7a0dd665bdb36230d985ffb12e0bb1ba
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759118514'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrku6swqIv4Y1T5d7/lifecycle/reactivate?sendEmail=false
  response:
    body:
      string: '{"errorCode":"E0000038","errorSummary":"This operation is not allowed
        in the user''s current status.","errorLink":"E0000038","errorId":"oae-CxK3pOUQEGBRFKUbjie0Q","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cf7173596da2412ec62986425c9128b9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759118514'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrku6swqIv4Y1T5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c4d66817b433a17f89f50366a30104f6
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759118514'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrku6swqIv4Y1T5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 960321074a01a65d0b70d6e7416bf542
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759118519'
    status:
      code: 204
      message: No Content
version: 1
