interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=True
  response:
    body:
      string: '{"id":"00usfhx23wcpmSRA34x6","status":"ACTIVE","created":"2020-08-27T18:24:07.000Z","activated":"2020-08-27T18:24:07.000Z","statusChanged":"2020-08-27T18:24:07.000Z","lastLogin":null,"lastUpdated":"2020-08-27T18:24:07.000Z","passwordChanged":"2020-08-27T18:24:07.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Group-Target-Role-Assign","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Group-Target-Role-Assign@example.com","email":"John.Doe-Group-Target-Role-Assign@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Group-Target-Role-Assign@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6R8ZqIgY6y1Gw06ZdHgAAAFc
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '599'
      x-rate-limit-reset: '1598552707'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=True
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gsfddaze34sbCaU4x6","created":"2020-08-27T18:24:08.000Z","lastUpdated":"2020-08-27T18:24:08.000Z","lastMembershipUpdated":"2020-08-27T18:24:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test-Assign","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gsfddaze34sbCaU4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gsfddaze34sbCaU4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SLXECrLf1wJQc3hAVgAABqw
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1598552708'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles
  response:
    body:
      string: '{"id":"KVJUKUS7IFCE2SKO","label":"User Administrator","type":"USER_ADMIN","status":"ACTIVE","created":"2020-08-27T18:24:08.000Z","lastUpdated":"2020-08-27T18:24:08.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SCk5U@JrimdFsURJmwAABNE
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1598552707'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups/00gsfddaze34sbCaU4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SCWX6pNt5D9Ki6498AAAAyc
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '597'
      x-rate-limit-reset: '1598552707'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups/00gsfddaze34sbCaU4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups
  response:
    body:
      string: '[{"id":"00gsfddaze34sbCaU4x6","created":"2020-08-27T18:24:08.000Z","lastUpdated":"2020-08-27T18:24:08.000Z","lastMembershipUpdated":"2020-08-27T18:24:08.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test-Assign","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gsfddaze34sbCaU4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gsfddaze34sbCaU4x6/apps"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups?after=PGEyhZS37-aSPqLfNj0gq6wnw1&limit=20>;
        rel="self"
      x-okta-request-id: X0f6SaWGcXrTtptk4FMmcQAAA0o
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '596'
      x-rate-limit-reset: '1598552707'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups/00gsfdtcrwrSjeRbc4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SX8rrVP7tt@HLn-lcQAAB9Q
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '595'
      x-rate-limit-reset: '1598552707'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6/roles/KVJUKUS7IFCE2SKO/targets/groups/00gsfdtcrwrSjeRbc4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SZF6ABcFBlVbh7VGhwAACWw
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '599'
      x-rate-limit-reset: '1598552709'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfhx23wcpmSRA34x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gsfddaze34sbCaU4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SjRRAAUOQtIPptbVigAAB@E
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1598552710'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gsfddaze34sbCaU4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gsfdtcrwrSjeRbc4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f6SomStNWBnwCvk3wSsAAACO0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '998'
      x-rate-limit-reset: '1598552710'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gsfdtcrwrSjeRbc4x6
version: 1
