interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Revoke-Grants@example.com", "firstName": "John", "lastName": "Doe-Revoke-Grants",
      "login": "John.Doe-Revoke-Grants@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrkolgmqj3LCdS5d7","status":"ACTIVE","created":"2025-09-29T03:41:01.000Z","activated":"2025-09-29T03:41:01.000Z","statusChanged":"2025-09-29T03:41:01.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:41:01.000Z","passwordChanged":"2025-09-29T03:41:01.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Revoke-Grants","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Revoke-Grants@example.com","email":"John.Doe-Revoke-Grants@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Revoke-Grants@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1bdc5e25b970b82d09bf0a4560b2d231
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1759117287'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/grants
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0caf567ff8777588f552238056b170db
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1759117287'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e25bc81263f0d2bf473f710d72f40893
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1759117287'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkolgmqj3LCdS5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8103ed4e6fafdbf90b4f420aa73069a3
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117290'
    status:
      code: 204
      message: No Content
version: 1
