interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-List-Blocks@example.com", "firstName": "John", "lastName": "Doe-List-Blocks",
      "login": "John.Doe-List-Blocks@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrkqis03rqAuOk5d7","status":"ACTIVE","created":"2025-09-29T03:39:26.000Z","activated":"2025-09-29T03:39:27.000Z","statusChanged":"2025-09-29T03:39:27.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:39:27.000Z","passwordChanged":"2025-09-29T03:39:27.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-List-Blocks","mobilePhone":null,"secondEmail":null,"login":"John.Doe-List-Blocks@example.com","email":"John.Doe-List-Blocks@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-List-Blocks@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cfe30686400fdb5e762928bbf417ead2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1759117184'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/blocks
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeOJPG9_q7SO-dKjf8Y0w31g","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b2a607330659f8e0aacee2254f290481
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1759117184'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ad732043b572134f0afdc010c17ef85e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1759117184'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkqis03rqAuOk5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 687f6c306481686962aac0f76283c9ad
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117191'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrktzdexaLmIOR5d7/blocks
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeqILF9FUrQieiLiWa6Wfmww","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 26b1d9fd45af3b6c07116a0be60668eb
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759117868'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrktzdexaLmIOR5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e5646680e1f40ff75a5fbfb08e8293a9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1759117868'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrktzdexaLmIOR5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f1787f2197e4226bf28355c4189ed4ea
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117899'
    status:
      code: 204
      message: No Content
version: 1
