interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Revoke-Sessions@example.com", "firstName": "John", "lastName": "Doe-Revoke-Sessions",
      "login": "John.Doe-Revoke-Sessions@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrkmp3c23vb0035d7","status":"ACTIVE","created":"2025-09-29T03:36:00.000Z","activated":"2025-09-29T03:36:00.000Z","statusChanged":"2025-09-29T03:36:00.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:36:00.000Z","passwordChanged":"2025-09-29T03:36:00.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Revoke-Sessions","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Revoke-Sessions@example.com","email":"John.Doe-Revoke-Sessions@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Revoke-Sessions@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4c96c1979f3ae8b7ba01e7da9a690098
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1759116980'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/sessions
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 133f03b85660e732c46432ccd00181c8
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1759116980'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5be617ec188776d07c09fde01b45da63
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1759116980'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkmp3c23vb0035d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b95e114324e08d5adf3893036a14685a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759116984'
    status:
      code: 204
      message: No Content
version: 1
