interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=True
  response:
    body:
      string: '{"id":"00usfaqcuYq9wK3qc4x6","status":"ACTIVE","created":"Fri, 27 Aug 2020 18:19:32 UTC","activated":"Fri, 27 Aug 2020 18:19:32 UTC","statusChanged":"Fri, 27 Aug 2020 18:19:32 UTC","lastLogin":null,"lastUpdated":"Fri, 27 Aug 2020 18:19:32 UTC","passwordChanged":"Fri, 27 Aug 2020 18:19:32 UTC","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Change-PW","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Change-PW@example.com","email":"John.Doe-Change-PW@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Change-PW@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5NMEInBvlR-@hs2@XfAAABpg
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '591'
      x-rate-limit-reset: '1598552424'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=True
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/credentials/change_password
  response:
    body:
      string: '{"password":{},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5NtIl-QhafEkA0hoDhgAAA4s
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '590'
      x-rate-limit-reset: '1598552424'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6/credentials/change_password
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6
  response:
    body:
      string: '{"id":"00usfaqcuYq9wK3qc4x6","status":"ACTIVE","created":"Fri, 27 Aug 2020 18:19:32 UTC","activated":"Fri, 27 Aug 2020 18:19:32 UTC","statusChanged":"Fri, 27 Aug 2020 18:19:32 UTC","lastLogin":null,"lastUpdated":"Fri, 27 Aug 2020 18:19:34 UTC","password[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5N14pREkkmm7kIoHoDQAABXw
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '591'
      x-rate-limit-reset: '1598552425'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfaqcuYq9wK3qc4x6
version: 1
