interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"displayName":
      "John Doe Comprehensive", "email": "John.Doe-Comprehensive@example.com", "firstName":
      "John", "lastName": "Doe-Comprehensive", "login": "John.Doe-Comprehensive@example.com",
      "mobilePhone": "+1-555-123-4567", "nickName": "JohnnyC"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=false
  response:
    body:
      string: '{"id":"00uqrks9ig7XuWV7X5d7","status":"STAGED","created":"2025-09-29T03:49:50.000Z","activated":null,"statusChanged":"2025-09-29T03:49:50.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:49:50.000Z","passwordChanged":"2025-09-29T03:49:50.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Comprehensive","mobilePhone":"+1-555-123-4567","displayName":"John
        Doe Comprehensive","nickName":"JohnnyC","secondEmail":null,"login":"John.Doe-Comprehensive@example.com","email":"John.Doe-Comprehensive@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Comprehensive@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"activate":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ed4b753839795d7bde001b99e2fbbdb2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '35'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/activate?sendEmail=false
  response:
    body:
      string: '{"activationUrl":"https://test.okta.com/tokens/U_YIAd2GM4DJ8ZDkH7Qv/verify","activationToken":"U_YIAd2GM4DJ8ZDkH7Qv"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d0110b9add1c8e9cdba927d4121f4865
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '34'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7
  response:
    body:
      string: '{"id":"00uqrks9ig7XuWV7X5d7","status":"ACTIVE","created":"2025-09-29T03:49:50.000Z","activated":"2025-09-29T03:49:51.000Z","statusChanged":"2025-09-29T03:49:51.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:49:51.000Z","passwordChanged":"2025-09-29T03:49:50.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Comprehensive","mobilePhone":"+1-555-123-4567","displayName":"John
        Doe Comprehensive","nickName":"JohnnyC","secondEmail":null,"login":"John.Doe-Comprehensive@example.com","email":"John.Doe-Comprehensive@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Comprehensive@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c71203e728d26e61c0fe266db3f886e892579556b6c96c79268ac7ba7bcdf30f"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0822d3c4997068c736ad4f9558cb46b4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117854'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/suspend
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 09fc777bcbd2110d19e396f3effdff5f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '33'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7
  response:
    body:
      string: '{"id":"00uqrks9ig7XuWV7X5d7","status":"SUSPENDED","created":"2025-09-29T03:49:50.000Z","activated":"2025-09-29T03:49:51.000Z","statusChanged":"2025-09-29T03:49:55.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:49:55.000Z","passwordChanged":"2025-09-29T03:49:50.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Comprehensive","mobilePhone":"+1-555-123-4567","displayName":"John
        Doe Comprehensive","nickName":"JohnnyC","secondEmail":null,"login":"John.Doe-Comprehensive@example.com","email":"John.Doe-Comprehensive@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Comprehensive@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"unsuspend":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/unsuspend","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c71203e728d26e61c0fe266db3f886e892579556b6c96c79268ac7ba7bcdf30f"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1dff89a9aa4645199b0e88161cf09b68
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117854'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/unsuspend
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 20cadda6299b23b0c34dfa525bc7bdab
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '32'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/expire_password_with_temp_password
  response:
    body:
      string: '{"tempPassword":"C8Fg5dUq4zE8"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b248472a888260e135eab295c2f424f9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '31'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/reset_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/reset_password/drpwf5himYrnOpIMbDfb"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 22803a483906511558a95ace71b02fa4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '30'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/reset_factors
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d6fb437ce5dddc8a839d67023154c964
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '29'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/sessions
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e2d83de80204e220f03981e71b203f68
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '28'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users?limit=10
  response:
    body:
      string: '[{"id":"00unwlw0tbo8E6aVj5d7","status":"ACTIVE","created":"2025-03-19T08:01:48.000Z","activated":null,"statusChanged":"2025-03-19T09:20:48.000Z","lastLogin":"2025-09-29T01:51:15.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","passwordChanged":"2025-03-19T09:20:48.0[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/grants
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/grants?limit=20>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1ab22dfba1b61fe8e82b64923a4af368
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '26'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/groups
  response:
    body:
      string: '[{"id":"00gnwlw0pbm3qMcXs5d7","created":"2025-03-19T08:01:45.000Z","lastUpdated":"2025-03-19T08:01:45.000Z","lastMembershipUpdated":"2025-09-29T02:19:52.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All
        users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gnwlw0pbm3qMcXs5d7/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gnwlw0pbm3qMcXs5d7/apps"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/groups?limit=200>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2e1db61800d67af80dad960f0f19c440
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '25'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/appLinks
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 30135e66a4394727c67aedd245e10ed9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '24'
      x-rate-limit-reset:
      - '1759117808'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 80744a8816f9af5c5ed5dc9103b6d47b
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117868'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrks9ig7XuWV7X5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9bc7eab39d7aa7357aa3d6158908c356
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117831'
    status:
      code: 204
      message: No Content
version: 1
