interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Change-Recovery@example.com", "firstName": "John", "lastName": "Doe-Change-Recovery",
      "login": "John.Doe-Change-Recovery@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=True
  response:
    body:
      string: '{"id":"00u3qig2njbLuJGLN5d7","status":"ACTIVE","created":"2022-01-27T18:16:31.000Z","activated":"2022-01-27T18:16:31.000Z","statusChanged":"2022-01-27T18:16:31.000Z","lastLogin":null,"lastUpdated":"2022-01-27T18:16:31.000Z","passwordChanged":"2022-01-27T18:16:31.000Z","type":{"id":"oty8hu2tnV8drfqhC5d5"},"profile":{"firstName":"John","lastName":"Doe-Change-Recovery","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Change-Recovery@example.com","email":"John.Doe-Change-Recovery@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Change-Recovery@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/osc8hu2tnV8drfqhC5d5"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/oty8hu2tnV8drfqhC5d5"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfLhfwmosS5YBdg4jy8DQgAAB7A
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1643307451'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users?activate=True
- request:
    body: '{"password": {"value": "Password150kta"}, "recovery_question": {"answer":
      "This One!", "question": "What''s your favourite security question?"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/change_recovery_question
  response:
    body:
      string: '{"password":{},"recovery_question":{"question":"What''s your favourite
        security question?"},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfLhgA5n5iDOF@QYOF8LVgAAAIk
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '598'
      x-rate-limit-reset:
      - '1643307451'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/change_recovery_question
- request:
    body: '{"password": {"value": "atk051drowssaP"}, "recovery_question": {"answer":
      "This One!"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/forgot_password_recovery_question
  response:
    body:
      string: '{"password":{},"recovery_question":{"question":"What''s your favourite
        security question?"},"provider":{"type":"OKTA","name":"OKTA"}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfLhgpvqXHn3xVGyxbYf1QAADN4
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '597'
      x-rate-limit-reset:
      - '1643307451'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7/credentials/forgot_password_recovery_question
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7
  response:
    body:
      string: '{"id":"00u3qig2njbLuJGLN5d7","status":"ACTIVE","created":"2022-01-27T18:16:31.000Z","activated":"2022-01-27T18:16:31.000Z","statusChanged":"2022-01-27T18:16:31.000Z","lastLogin":null,"lastUpdated":"2022-01-27T18:16:34.000Z","passwordChanged":"2022-01-27[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfLhhsLkI3EygPtEdcR9LAAAC1o
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '598'
      x-rate-limit-reset:
      - '1643307457'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00u3qig2njbLuJGLN5d7
version: 1
