interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Replace@example.com", "firstName": "John", "lastName": "Doe-Replace",
      "login": "John.Doe-Replace@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=false
  response:
    body:
      string: '{"id":"00uqrk4lifDH2YUWI5d7","status":"STAGED","created":"2025-09-29T02:17:20.000Z","activated":null,"statusChanged":"2025-09-29T02:17:20.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:17:20.000Z","passwordChanged":"2025-09-29T02:17:20.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Replace","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Replace@example.com","email":"John.Doe-Replace@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Replace@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"activate":{"href":"https://test.okta.com/api/v1/users/00uqrk4lifDH2YUWI5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrk4lifDH2YUWI5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrk4lifDH2YUWI5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - aea609f2d86a3e46c7c417727032b280
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759112300'
    status:
      code: 200
      message: OK
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Replace@example.com", "firstName": "Jane", "lastName": "Doe-Replaced",
      "login": "John.Doe-Replace@example.com", "nickName": "JaneDoe"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/users/00uqrk4lifDH2YUWI5d7
  response:
    body:
      string: '{"id":"00uqrk4lifDH2YUWI5d7","status":"STAGED","created":"2025-09-29T02:17:20.000Z","activated":null,"statusChanged":"2025-09-29T02:17:20.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:17:22.000Z","passwordChanged":"2025-09-29T02:17:22.000Z","type":{"id":"otyn[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrk4lifDH2YUWI5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cb0cf2b4e86caa2e6d92a5801167e811
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759112300'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrk4lifDH2YUWI5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c580c815f23fb73782b634b8be94c71c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759112302'
    status:
      code: 204
      message: No Content
version: 1
