interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-HttpInfo@example.com", "firstName": "John", "lastName": "Doe-HttpInfo",
      "login": "John.Doe-HttpInfo@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=false
  response:
    body:
      string: '{"id":"00uqrksfgwZD9E3uK5d7","status":"STAGED","created":"2025-09-29T03:47:07.000Z","activated":null,"statusChanged":"2025-09-29T03:47:07.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:47:07.000Z","passwordChanged":"2025-09-29T03:47:07.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-HttpInfo","mobilePhone":null,"secondEmail":null,"login":"John.Doe-HttpInfo@example.com","email":"John.Doe-HttpInfo@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-HttpInfo@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"activate":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 52e31dbde8f2f83b19ce0002f8cc2f28
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117687'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7
  response:
    body:
      string: '{"id":"00uqrksfgwZD9E3uK5d7","status":"STAGED","created":"2025-09-29T03:47:07.000Z","activated":null,"statusChanged":"2025-09-29T03:47:07.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:47:07.000Z","passwordChanged":"2025-09-29T03:47:07.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-HttpInfo","mobilePhone":null,"secondEmail":null,"login":"John.Doe-HttpInfo@example.com","email":"John.Doe-HttpInfo@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-HttpInfo@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"activate":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"107fa6ec43b212e4227e8f00959884c4d3d3d9a1f94e908b351e35f1c8485574"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b1cf7bfbcad6438af5c7e7072f0c4274
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117688'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/activate?sendEmail=false
  response:
    body:
      string: '{"activationUrl":"https://test.okta.com/tokens/ndXCtygzugfIes-0ij5I/verify","activationToken":"ndXCtygzugfIes-0ij5I"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0cd1b8953816fd1cb6fbadc4e0ff91a4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117687'
    status:
      code: 200
      message: OK
- request:
    body: '{"credentials": {"provider": {"name": "OKTA", "type": "OKTA"}}, "profile":
      {"email": "John.Doe-HttpInfo@example.com", "firstName": "John", "lastName":
      "Doe-HttpInfo", "login": "John.Doe-HttpInfo@example.com", "nickName": "JD"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7
  response:
    body:
      string: '{"id":"00uqrksfgwZD9E3uK5d7","status":"ACTIVE","created":"2025-09-29T03:47:07.000Z","activated":"2025-09-29T03:47:09.000Z","statusChanged":"2025-09-29T03:47:09.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:47:10.000Z","passwordChanged":"2025-09-29T03:47:07.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-HttpInfo","mobilePhone":null,"nickName":"JD","secondEmail":null,"login":"John.Doe-HttpInfo@example.com","email":"John.Doe-HttpInfo@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-HttpInfo@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0e0b49b7d341a53588f9312492700265
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117690'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7c254b2f02b1d831357c1063579e34d7
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759117687'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrksfgwZD9E3uK5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5dddf8d2d2c177d140f3c71e2ed2bde6
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117690'
    status:
      code: 204
      message: No Content
version: 1
