interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/users
  response:
    body:
      string: '[{"id":"00ukqewta2nwxYyZ25d6","status":"ACTIVE","created":"2021-04-13T05:55:34.000Z","activated":null,"statusChanged":"2021-04-14T11:41:05.000Z","lastLogin":"2022-01-31T17:10:07.000Z","lastUpdated":"2021-04-14T11:41:05.000Z","passwordChanged":"2021-04-14T11:41:05.000Z","type":{"id":"otykqewo4D2Rs0dZX5d6"},"profile":{"firstName":"Serhii","lastName":"Buniak","mobilePhone":null,"secondEmail":null,"login":"serhii.buniak@okta.com","email":"serhii.buniak@okta.com"},"credentials":{"password":{},"recovery_question":{"question":"What
        is your favorite security question?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00ukqewta2nwxYyZ25d6"}}},{"id":"00undyv0s22xf3WW95d6","status":"ACTIVE","created":"2021-04-26T16:08:51.000Z","activated":"2021-04-26T16:08:52.000Z","statusChanged":"2021-04-26T16:08:52.000Z","lastLogin":"2021-04-26T16:13:22.000Z","lastUpdated":"2021-04-26T16:08:52.000Z","passwordChanged":"2021-04-26T16:08:52.000Z","type":{"id":"otykqewo4D2Rs0dZX5d6"},"profile":{"firstName":"org_admin","lastName":"superadmin","mobilePhone":null,"secondEmail":null,"login":"org_a[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/users/00ukqewta2nwxYyZ25d6/subscriptions
  response:
    body:
      string: '[{"notificationType":"IWA_AGENT","channels":["email"],"status":"subscribed","_links":{"unsubscribe":{"href":"https://test.okta.com/api/v1/users/00ukqewta2nwxYyZ25d6/subscriptions/IWA_AGENT/unsubscribe","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/users/00ukqewta2nwxYyZ25d6/subscriptions/IWA_AGENT"}}},{"notificationType":"RATELIMIT_NOTIFICATION","channels":["email"],"status":"subscribed","_links":{"unsubscribe":{"href":"https://test.okta.com/api/v1/users/00ukqewta2nwxYyZ25d6/subscriptions/RATELIMIT_NOTIFICATION/unsubscribe","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/users/00ukqewta2nwxYyZ25d6/subscriptions/RATELIMIT_NOTIFICATION"}}},{"notificationType":"[...]
