interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-App-Links@example.com", "firstName": "John", "lastName": "Doe-App-Links",
      "login": "John.Doe-App-Links@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrkprzyh8YeD5i5d7","status":"ACTIVE","created":"2025-09-29T03:41:37.000Z","activated":"2025-09-29T03:41:37.000Z","statusChanged":"2025-09-29T03:41:37.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:41:37.000Z","passwordChanged":"2025-09-29T03:41:37.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-App-Links","mobilePhone":null,"secondEmail":null,"login":"John.Doe-App-Links@example.com","email":"John.Doe-App-Links@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-App-Links@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d67afb7787b14dc60f5b195bda70f5c5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117357'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/appLinks
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b7368484d4cf04ebd8914de256fe6878
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117357'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c545c8a6faf2bf679fbb9dad1e90af3a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759117357'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkprzyh8YeD5i5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c68cade214658046e593a15dca88159b
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117361'
    status:
      code: 204
      message: No Content
version: 1
