interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-Subscriptions@example.com", "firstName": "John", "lastName": "Doe-Subscriptions",
      "login": "John.Doe-Subscriptions@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrjtxipjIIX9wS5d7","status":"ACTIVE","created":"2025-09-29T01:57:58.000Z","activated":"2025-09-29T01:57:58.000Z","statusChanged":"2025-09-29T01:57:58.000Z","lastLogin":null,"lastUpdated":"2025-09-29T01:57:58.000Z","passwordChanged":"2025-09-29T01:57:58.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Subscriptions","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Subscriptions@example.com","email":"John.Doe-Subscriptions@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Subscriptions@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5ac9963ca1d81a27e0c0ef51366f73d2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759111138'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users?filter=status%20eq%20%22ACTIVE%22
  response:
    body:
      string: '[{"id":"00unwlw0tbo8E6aVj5d7","status":"ACTIVE","created":"2025-03-19T08:01:48.000Z","activated":null,"statusChanged":"2025-03-19T09:20:48.000Z","lastLogin":"2025-09-29T01:51:15.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","passwordChange[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4ec238bb81e2870b4828e9945d6820ce
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759111138'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrjtxipjIIX9wS5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 24a925c443e9b8f780438d966dc97e04
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759111141'
    status:
      code: 204
      message: No Content
version: 1
