interactions:
- request:
    body: '{"credentials": {"password": {"value": "AQZdfpio150kta"}}, "profile": {"email":
      "John.Doe-Forgot-Password@example.com", "firstName": "John", "lastName": "Doe-Forgot-Password",
      "login": "John.Doe-Forgot-Password@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"status":404,"message":"Resource not found"}

        '
    headers:
      Etag:
      - '"2e-63be058652280"'
      Last-Modified:
      - Fri, 08 Aug 2025 20:23:22 GMT
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
    status:
      code: 404
      message: Not Found
- request:
    body: '{"credentials": {"password": {"value": "AQZdfpio150kta"}}, "profile": {"email":
      "John.Doe-Forgot-Password@example.com", "firstName": "John", "lastName": "Doe-Forgot-Password",
      "login": "John.Doe-Forgot-Password@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00ur85p5ncy61rnqI1d7","status":"ACTIVE","created":"2025-10-23T12:27:08.000Z","activated":"2025-10-23T12:27:10.000Z","statusChanged":"2025-10-23T12:27:10.000Z","lastLogin":null,"lastUpdated":"2025-10-23T12:27:10.000Z","passwordChanged":"2025-10-23T12:27:10.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"John","lastName":"Doe-Forgot-Password","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Forgot-Password@example.com","email":"John.Doe-Forgot-Password@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00ur85p5ncy61rnqI1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 385f8bed1b49b0715e269907c42f5159
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761222488'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur85p5ncy61rnqI1d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfptXZax-p-clAEEqPzu"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 56072a8f2716b8101b937153c6c4fdbc
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761222488'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur85p5ncy61rnqI1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d90a40f2e9924acd0be46a22e0db65d1
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '327'
      x-rate-limit-reset:
      - '1761222488'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00ur85p5ncy61rnqI1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e7606cea573ab4826299178c0b817a52
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761222524'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur85gurieOrHqe71d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfp_TNa02w6o5z5rDwQa"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c08f1e5c3f3da1840f84cb8eabcbc179
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761222787'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur85gurieOrHqe71d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 098233beaa422a97bf81dd2144dc2e0f
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '327'
      x-rate-limit-reset:
      - '1761222787'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00ur85gurieOrHqe71d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d027368a8591d64ddc279b5a3efe9330
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761222833'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur85x2o5RnLBtZr1d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfpS_gtThzB69sDUz7cL"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8d6fc6ebd0d02218ba026e5adb2f2b12
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761223737'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur85x2o5RnLBtZr1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b0aa9c52526ad9b6715695da2acf3288
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761223737'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00ur85x2o5RnLBtZr1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5f3513e781e60e0029e861e66d7c0916
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761223741'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur860tvloABWXdt1d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfpJ6zSYY14Prn4aaQn1"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e1f08886dac5fc76eb41ce4aa269208e
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761223890'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur860tvloABWXdt1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8bf01280f042934edcdae1deefa46dde
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761223890'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00ur860tvloABWXdt1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 790ebe82249f1ebbb5b9f58e674ad334
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761223895'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur867qs180EHjyE1d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfphTGSBxnmV6lzsH05s"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f2b070b0a48bd0f4a8180e6d49dbc61c
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761224059'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur867qs180EHjyE1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 60d6307486ebff20ba1a05c97990be3f
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761224059'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00ur867qs180EHjyE1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4c4b759607cae1745ad8b06817a8d373
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761224076'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur8iv6ors2pyR931d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfpxoEM8BCEuKATKlZpl"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 53a4148b09bce5ac3c1204895422b745
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761248003'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00ur8iv6ors2pyR931d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 09b29f48047b9c9a5c819603438caf93
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761248003'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00ur8iv6ors2pyR931d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f41e4868661c9fd435755054d1b01a71
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761248054'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00urb1ns83dwle2VR1d7/credentials/forgot_password?sendEmail=false
  response:
    body:
      string: '{"resetPasswordUrl":"https://test.okta.com/signin/reset-password/dfp-G3S1x_6Q24hmKqbM"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 619ae80cba8b8326414cc6653c43ae4e
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '328'
      x-rate-limit-reset:
      - '1761497903'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com//api/v1/users/00urb1ns83dwle2VR1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1cc0abf4c1c83d410ce1fe08eb6728a3
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '327'
      x-rate-limit-reset:
      - '1761497903'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com//api/v1/users/00urb1ns83dwle2VR1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4554551ed1f4e97c8046828c6f3263ac
      x-rate-limit-limit:
      - '330'
      x-rate-limit-remaining:
      - '329'
      x-rate-limit-reset:
      - '1761497912'
    status:
      code: 204
      message: No Content
version: 1
