interactions:
- request:
    body: '{"credentials": {"password": {"value": "Awsdzertc151kta"}}, "profile":
      {"email": "John.Doe-Expire-Password@example.com", "firstName": "John", "lastName":
      "Doe-Expire-Password", "login": "John.Doe-Expire-Password@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrjxsgd0UxglnX5d7","status":"ACTIVE","created":"2025-09-29T02:03:56.000Z","activated":"2025-09-29T02:03:56.000Z","statusChanged":"2025-09-29T02:03:56.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:03:56.000Z","passwordChanged":"2025-09-29T02:03:56.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Expire-Password","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Expire-Password@example.com","email":"John.Doe-Expire-Password@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Expire-Password@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6ad7d9d9ef56745693e7291b7d0e9fe5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759111442'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/expire_password
  response:
    body:
      string: '{"id":"00uqrjxsgd0UxglnX5d7","status":"PASSWORD_EXPIRED","created":"2025-09-29T02:03:56.000Z","activated":"2025-09-29T02:03:56.000Z","statusChanged":"2025-09-29T02:03:56.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:04:0[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7
  response:
    body:
      string: '{"id":"00uqrjxsgd0UxglnX5d7","status":"PASSWORD_EXPIRED","created":"2025-09-29T02:03:56.000Z","activated":"2025-09-29T02:03:56.000Z","statusChanged":"2025-09-29T02:04:04.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:04:04.000Z","passwordChanged":"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjxsgd0UxglnX5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2a1c403f1a20061e5a0cb79d78756db1
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759111504'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjvj22HdVbFFH5d7/lifecycle/expire_password
  response:
    body:
      string: '{"id":"00uqrjvj22HdVbFFH5d7","status":"PASSWORD_EXPIRED","created":"2025-09-29T02:04:22.000Z","activated":"2025-09-29T02:04:23.000Z","statusChanged":"2025-09-29T02:04:23.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:04:2[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrjvj22HdVbFFH5d7
  response:
    body:
      string: '{"id":"00uqrjvj22HdVbFFH5d7","status":"PASSWORD_EXPIRED","created":"2025-09-29T02:04:22.000Z","activated":"2025-09-29T02:04:23.000Z","statusChanged":"2025-09-29T02:04:24.000Z","lastLogin":null,"lastUpdated":"2025-09-29T02:04:24.000Z","passwordChanged":"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrjvj22HdVbFFH5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f03bebe3d0d71789a9e2cc75161a5b80
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1759111504'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrjvj22HdVbFFH5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 030af283cdba6c00f87d4ec92aced45a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759111510'
    status:
      code: 204
      message: No Content
version: 1
