interactions:
- request:
    body: '{"credentials": {"password": {"value": "Password150kta"}}, "profile": {"email":
      "John.Doe-List-Groups@example.com", "firstName": "John", "lastName": "Doe-List-Groups",
      "login": "John.Doe-List-Groups@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uqrkpsp7ZR4AkPB5d7","status":"ACTIVE","created":"2025-09-29T03:38:44.000Z","activated":"2025-09-29T03:38:44.000Z","statusChanged":"2025-09-29T03:38:44.000Z","lastLogin":null,"lastUpdated":"2025-09-29T03:38:44.000Z","passwordChanged":"2025-09-29T03:38:44.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-List-Groups","mobilePhone":null,"secondEmail":null,"login":"John.Doe-List-Groups@example.com","email":"John.Doe-List-Groups@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-List-Groups@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnwlw0pkLLUgtNG5d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynwlw0pkLLUgtNG5d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 02680e8e9c2895fd6aaa755e9c80b207
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117184'
    status:
      code: 200
      message: OK
- request:
    body: '{"profile": {"name": "Test-User-Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gqrkqjqdg2c9XZT5d7","created":"2025-09-29T03:38:45.000Z","lastUpdated":"2025-09-29T03:38:45.000Z","lastMembershipUpdated":"2025-09-29T03:38:45.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Test-User-Group","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gqrkqjqdg2c9XZT5d7/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gqrkqjqdg2c9XZT5d7/apps"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d20e1fe3c59ebdb414a7112e20338442
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117185'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/groups/00gqrkqjqdg2c9XZT5d7/users/00uqrkpsp7ZR4AkPB5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7c19710c14fce9c78a0c3e9d5bb1ffaf
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1759117185'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/groups
  response:
    body:
      string: '[{"id":"00gnwlw0pbm3qMcXs5d7","created":"2025-03-19T08:01:45.000Z","lastUpdated":"2025-03-19T08:01:45.000Z","lastMembershipUpdated":"2025-09-29T02:19:52.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","descr[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gqrkqjqdg2c9XZT5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - dd233194d874db86ed41d5e2bd6daef3
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117189'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 03a5d668f0274321b4c7ccfcc073e5b5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759117184'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uqrkpsp7ZR4AkPB5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f6418030fb3c805e75dc554f567eb9c4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759117191'
    status:
      code: 204
      message: No Content
version: 1
