aenum==3.1.11
aiohttp==3.12.14
blinker==1.9.0
flatdict==4.0.1
jwcrypto==1.5.6
pycryptodomex==3.23.0
pydantic==2.11.3
pydash==8.0.5
PyJWT==2.10.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
xmltodict==0.14.2

# Development & Testing Tools
flake8==7.1.2
pyfakefs==5.8.0
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-mock==3.14.0
pytest-recording==0.13.2
tox==4.24.2
twine==6.1.0