interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/realms?sortBy=profile.name&sortOrder=asc
  response:
    body:
      string: '[{"id":"guopq1aoiiXrSKTRv1d7","created":"2025-09-02T08:21:35.000Z","lastUpdated":"2025-09-02T08:21:35.000Z","profile":{"name":"AccTest
        Example Realm"},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guopq1aoiiXrSKTRv1d7","method":"GET"}}},{"id":"guonkwfhlqM6PFD8m1d7","created":"2025-06-26T15:54:16.000Z","lastUpdated":"2025-06-26T15:54:16.000Z","profile":{"name":"Default
        Realm"},"isDefault":true,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guonkwfhlqM6PFD8m1d7","method":"GET"}}},{"id":"guoq9wo0bgi4MZBS61d7","created":"2025-09-22T09:59:24.000Z","lastUpdated":"2025-09-22T09:59:24.000Z","profile":{"name":"IT-http-upd-ca3[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/realms?sortBy=profile.name&sortOrder=desc
  response:
    body:
      string: '[{"id":"guoq9w97b4w0dGpfJ1d7","created":"2025-09-22T09:45:55.000Z","lastUpdated":"2025-09-22T09:45:55.000Z","profile":{"name":"IT-workflow-b7372e34356606"},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9w97b4w0dGpfJ1d7","method":"GE[...]
