interactions:
- request:
    body: '{"profile": {"name": "IT-preload--c99d1035150168"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9web4xl9rl4ez1d7","created":"2025-09-22T09:59:09.000Z","lastUpdated":"2025-09-22T09:59:09.000Z","profile":{"name":"IT-preload--c99d1035150168","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9web4xl9rl4ez1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 13c6ee4129a32aaf6bbd415d16c15bc5
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '468'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9web4xl9rl4ez1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1f7e70e20f4aaa8ea5acb4f7daf48c72
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '467'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
version: 1
