interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/realms?limit=1
  response:
    body:
      string: '[{"id":"guonkwfhlqM6PFD8m1d7","created":"2025-06-26T15:54:16.000Z","lastUpdated":"2025-06-26T15:54:16.000Z","profile":{"name":"Default
        Realm"},"isDefault":true,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guonkwfhlqM6PFD8m1d7","method":"GET"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/realms?limit=1&search=id+pr>;
        rel="self"
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/realms?after=guonkwfhlqM6PFD8m1d7&limit=1&search=id+pr>;
        rel="next"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6a8d0a409064ca7b260891269bb8f978
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '496'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
[...]
