interactions:
- request:
    body: '{"profile": {"name": "IT-preload--8af03535162309"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9wjnzoP2NHKOy1d7","created":"2025-09-22T09:59:21.000Z","lastUpdated":"2025-09-22T09:59:21.000Z","profile":{"name":"IT-preload--8af03535162309","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wjnzoP2NHKOy1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c0c70632cd4a82df4d09a563aef3851a
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '458'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9wjnzoP2NHKOy1d7
  response:
    body:
      string: '{"id":"guoq9wjnzoP2NHKOy1d7","created":"2025-09-22T09:59:21.000Z","lastUpdated":"2025-09-22T09:59:21.000Z","profile":{"name":"IT-preload--8af03535162309","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wjnzoP2NHKOy1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2d9ee95ae17c5b270c21158025d76830
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '457'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9wjnzoP2NHKOy1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 41ad3070b0bf3e5c59c1ca0778fc754c
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '456'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
version: 1
