interactions:
- request:
    body: '{"profile": {"name": "IT-get-e9d90f35154532"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9wooxd6jbXuNu1d7","created":"2025-09-22T09:59:12.000Z","lastUpdated":"2025-09-22T09:59:12.000Z","profile":{"name":"IT-get-e9d90f35154532","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wooxd6jbXuNu1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7c59014d95397bf5ff9f8a404b7c47a8
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '465'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9wooxd6jbXuNu1d7
  response:
    body:
      string: '{"id":"guoq9wooxd6jbXuNu1d7","created":"2025-09-22T09:59:12.000Z","lastUpdated":"2025-09-22T09:59:12.000Z","profile":{"name":"IT-get-e9d90f35154532","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wooxd6jbXuNu1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8a0d50ff5c5211c2b5658a29fa7e12dc
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '464'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9wooxd6jbXuNu1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ddf9eab08386b32893580b78ef0d0932
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '463'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
version: 1
