interactions:
- request:
    body: '{"profile": {"name": "IT-workflow-22e07335125155"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9wfydrqyEQcvB1d7","created":"2025-09-22T09:58:44.000Z","lastUpdated":"2025-09-22T09:58:44.000Z","profile":{"name":"IT-workflow-22e07335125155","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wfydrqyEQcvB1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 74b9d0116b5fa47de8e63f34e613a384
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '486'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9wfydrqyEQcvB1d7
  response:
    body:
      string: '{"id":"guoq9wfydrqyEQcvB1d7","created":"2025-09-22T09:58:44.000Z","lastUpdated":"2025-09-22T09:58:44.000Z","profile":{"name":"IT-workflow-22e07335125155","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wfydrqyEQcvB1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a0e241be30d2d4ef429b47311a1b3850
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '485'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9wm8h2MvtT8MN1d7
  response:
    body:
      string: '{"id":"guoq9wm8h2MvtT8MN1d7","created":"2025-09-22T09:58:46.000Z","lastUpdated":"2025-09-22T09:58:46.000Z","profile":{"name":"IT-workflow-fc814b35128540","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wm8h2MvtT8MN1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 238a42465a870005e8dc44b881b87111
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '483'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9wc88r5Zx0rUb1d7
  response:
    body:
      string: '{"id":"guoq9wc88r5Zx0rUb1d7","created":"2025-09-22T09:58:49.000Z","lastUpdated":"2025-09-22T09:58:49.000Z","profile":{"name":"IT-workflow-5e313135130331","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wc88r5Zx0rUb1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 478231d7e1e1ad684fc96e71f4e9a64a
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '481'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms?limit=2
  response:
    body:
      string: '[{"id":"guonkwfhlqM6PFD8m1d7","created":"2025-06-26T15:54:16.000Z","lastUpdated":"2025-06-26T15:54:16.000Z","profile":{"name":"Default
        Realm"},"isDefault":true,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guonkwfhlqM6PFD8m1d7","method":"GET"}}},{"id":"guopq1aoiiXrSKTRv1d7","created":"2025-09-02T08:21:35.000Z","lastUpdated":"2025-09-02T08:21:35.000Z","profile":{"name":"AccTest
        Example Realm"},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guopq1aoiiXrSKTRv1d7","method":"GET"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/realms?limit=2&search=id+pr>;
        rel="self"
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/realms?after=guopq1aoiiXrSKTRv1d7&limit=2&search=id+pr>;
        rel="next"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fc94972ca3d8636021ee2dfd2807e0cd
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '479'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9wc88r5Zx0rUb1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cbdaf0de60a8c9bd573026ddf121c075
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '476'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
version: 1
