interactions:
- request:
    body: '{"profile": {"name": "IT-preload--ecc22e35174264"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9wmhi0Hf6taqP1d7","created":"2025-09-22T09:59:33.000Z","lastUpdated":"2025-09-22T09:59:33.000Z","profile":{"name":"IT-preload--ecc22e35174264","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wmhi0Hf6taqP1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - de5729bedb86febb065642a8b4bbcba3
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '495'
      x-rate-limit-reset:
      - '1758535228'
    status:
      code: 200
      message: OK
- request:
    body: '{"profile": {"name": "IT-preload--ecc22e35174264-PreloadUpdated"}, "_links":
      {"self": {"href": "https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/realms/guoq9wmhi0Hf6taqP1d7"}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms/guoq9wmhi0Hf6taqP1d7
  response:
    body:
      string: '{"errorCode":"E0000022","errorSummary":"The endpoint does not support
        the provided HTTP method","errorLink":"E0000022","errorId":"oaemIeMSNCDQMyURZ6FGIiLqQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 405
      message: Method Not Allowed
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9wmhi0Hf6taqP1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f7a52a28a9c41151ef3305660b51c274
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '494'
      x-rate-limit-reset:
      - '1758535228'
    status:
      code: 204
      message: No Content
version: 1
