interactions:
- request:
    body: '{"profile": {"name": "IT-preload--cafcbf35145264"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9wenlliKK4ZUO1d7","created":"2025-09-22T09:59:03.000Z","lastUpdated":"2025-09-22T09:59:03.000Z","profile":{"name":"IT-preload--cafcbf35145264","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wenlliKK4ZUO1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3d38e3f0e67e4aed72c94dd3d2c45cb6
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '472'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9wenlliKK4ZUO1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ece06f6498073630f4da89c9635b06cb
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '471'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9wenlliKK4ZUO1d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        guoq9wenlliKK4ZUO1d7 (Realm)","errorLink":"E0000007","errorId":"oaeSimTtKGQRPCojDJQVPDA4w","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e846b742c31fb6b2f76b8cf59f523bd7
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '470'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 404
      message: Not Found
version: 1
