interactions:
- request:
    body: '{"profile": {"name": "IT-http-get-7a2def35121579"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9w9q3i7b2yCcq1d7","created":"2025-09-22T09:58:40.000Z","lastUpdated":"2025-09-22T09:58:40.000Z","profile":{"name":"IT-http-get-7a2def35121579","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9w9q3i7b2yCcq1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fdddcdf263b9f5894c24b07985ddc266
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '489'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/realms/guoq9w9q3i7b2yCcq1d7
  response:
    body:
      string: '{"id":"guoq9w9q3i7b2yCcq1d7","created":"2025-09-22T09:58:40.000Z","lastUpdated":"2025-09-22T09:58:40.000Z","profile":{"name":"IT-http-get-7a2def35121579","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9w9q3i7b2yCcq1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cd90e0f8a73473463c8b2f8b702b2930
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '488'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9w9q3i7b2yCcq1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9581c44ef259929069c5e993d2e8ec6f
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '487'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
version: 1
