interactions:
- request:
    body: '{"profile": {"name": "IT-update-17e93935141810"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms
  response:
    body:
      string: '{"id":"guoq9wc88wukw8P221d7","created":"2025-09-22T09:58:59.000Z","lastUpdated":"2025-09-22T09:58:59.000Z","profile":{"name":"IT-update-17e93935141810","domains":[]},"isDefault":false,"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/realms/guoq9wc88wukw8P221d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 707815a9980849b3ff53a32dff9ccdeb
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '474'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 200
      message: OK
- request:
    body: '{"profile": {"name": "IT-update-17e93935141810-Updated"}, "_links": {"self":
      {"href": "https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/realms/guoq9wc88wukw8P221d7"}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/realms/guoq9wc88wukw8P221d7
  response:
    body:
      string: '{"errorCode":"E0000022","errorSummary":"The endpoint does not support
        the provided HTTP method","errorLink":"E0000022","errorId":"oaec2dHfa_yRGG0CVlrfLsLUg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 405
      message: Method Not Allowed
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/realms/guoq9wc88wukw8P221d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bf092bc928c7a8a1c13cb4a3fd8bf430
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '473'
      x-rate-limit-reset:
      - '1758535168'
    status:
      code: 204
      message: No Content
version: 1
