interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/iam/resource-sets/irs000000000000000000
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        irs000000000000000000 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeBDalxuGuSuGB8g6PF2gmPQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 59eecceb5b91833d97d00b41d894c887
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1757354455'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"label": "Test-App-for-Error-Handling", "name": "bookmark", "settings":
      {"app": {"requestIntegration": false, "url": "https://example.com/test-error-handling-app.htm"}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oaqgmpg39xm2q0U45d7","orn":"orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:bookmark:0oaqgmpg39xm2q0U45d7","name":"bookmark","label":"Test-App-for-Error-Handling","status":"ACTIVE","lastUpdated":"2025-09-08T18:02:18.000Z","created":"2025-09-08T18:02:18.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"universalLogout":null,"settings":{"app":{"requestIntegration":false,"url":"https://example.com/test-error-handling-app.htm"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oaqgmpg39xm2q0U45d7/2557","type":"text/html"}],"profileEnrollment":{"href":"https://test.okta.com/api/v1/policies/rstnwmp14geJLJ3fx5d7"},"policies":{"href":"https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7/groups"},"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"accessPolicy":{"href":"https://test.okta.com/api/v1/policies/rstnwmp14ceJQ76Lj5d7"},"users":{"href":"https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7/lifecycle/deactivate"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 743c29b1a4498832e787018fad1a69ab
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '9'
      x-rate-limit-reset:
      - '1757354597'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Test invalid resource set", "resources": ["orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:bookmark:0oaqgmpg39xm2q0U45d7"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/iam/resource-sets
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: label","errorLink":"E0000001","errorId":"oaet2JaEUsmTQWWhKueuO8f-A","errorCauses":[{"errorSummary":"label:
        Label must be specified"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d41dda81132c67daeb0ae7eb0c66bb1c
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1757354594'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/resource-sets/irs000000000000000000/resources
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        irs000000000000000000 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeo0HymqULS4G4rNwMHe0-7A","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 273ebe6b60121aaac56d23d741a33231
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1757354594'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"additions": ["orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:bookmark:0oaqgmpg39xm2q0U45d7"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test.okta.com/api/v1/iam/resource-sets/irs000000000000000000/resources
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        irs000000000000000000 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeZncsWtExRnuoSbmDUytN_g","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fb74248b36756121207688f30348c811
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1757354594'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/iam/resource-sets/irs000000000000000000/resources/fake-resource-id
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        irs000000000000000000 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeGgyDmTyuTFapDETmneIlAw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cab46ebc3c32fbf83cfaa9effb324cce
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '94'
      x-rate-limit-reset:
      - '1757354594'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/iam/resource-sets/irs000000000000000000/bindings
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        irs000000000000000000 (IAMPolicy)","errorLink":"E0000007","errorId":"oaeNYRD4SQmRLKKttb8VNaTiQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 118bda5c93c1f4512f8e6d5d8e8eb09b
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '93'
      x-rate-limit-reset:
      - '1757354594'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 18c37894cef123163630f8c52cda6176
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '8'
      x-rate-limit-reset:
      - '1757354597'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oaqgmpg39xm2q0U45d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6b8d80a05c5344f7829c7be7f1610923
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1757354609'
    status:
      code: 204
      message: No Content
version: 1
