interactions:
- request:
    body:
      client_assertion: sanitized_client_assertion_jwt
      client_assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      grant_type: client_credentials
      scope: okta.users.read okta.apps.read okta.groups.read
    headers:
      DPoP:
      - sanitized_dpop_proof_jwt
    method: POST
    uri: https://test.okta.com/oauth2/v1/token
  response:
    body:
      string: '{"errorCode":"E0000047","errorSummary":"API call exceeded rate limit
        due to too many requests.","errorLink":"E0000047","errorId":"oaef5aQfVkMQ0W6JQ4vcV2F4g","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c02fb02067f7f59578c0218fe7ee234a
      x-rate-limit-limit:
      - '0'
      x-rate-limit-remaining:
      - '0'
      x-rate-limit-reset:
      - '1773065520'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body:
      client_assertion: sanitized_client_assertion_jwt
      client_assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      grant_type: client_credentials
      scope: okta.users.read okta.apps.read okta.groups.read
    headers:
      DPoP:
      - sanitized_dpop_proof_jwt
    method: POST
    uri: https://test.okta.com/oauth2/v1/token
  response:
    body:
      string: '{"error":"use_dpop_nonce","error_description":"Authorization server
        requires nonce in DPoP proof."}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      dpop-nonce: sanitized_dpop_nonce
      x-okta-request-id:
      - 5e6729561e99d6ae070f9709a5194dc5
      x-rate-limit-limit:
      - '150'
      x-rate-limit-remaining:
      - '139'
      x-rate-limit-reset:
      - '1773065425'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body:
      client_assertion: sanitized_client_assertion_jwt
      client_assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      grant_type: client_credentials
      scope: okta.users.read okta.apps.read okta.groups.read
    headers:
      DPoP:
      - sanitized_dpop_proof_jwt
    method: POST
    uri: https://test.okta.com/oauth2/v1/token
  response:
    body:
      string: '{"token_type":"DPoP","expires_in":3600,"access_token":"eyJraWQiOiJvdE9zblppQm1pWGI2MWt6VzBFMXBFVThuNTVSMHcyV3MxTnljdjA3ZGJ3IiwidHlwIjoiYXBwbGljYXRpb24vb2t0YS1pbnRlcm5hbC1hdCtqd3QiLCJhbGciOiJSUzI1NiJ9.eyJ2ZXIiOjEsImp0aSI6IkFULjNPNTVxZHotUFFGdFFsSElobEMzdHNLMWFwMUNIdUJ6LXp2b2FhX0d0WWciLCJpc3MiOiJodHRwczovL2Rldi0yMDk4MjI4OC5va3RhLmNvbSIsImF1ZCI6Imh0dHBzOi8vZGV2LTIwOTgyMjg4Lm9rdGEuY29tIiwic3ViIjoiMG9hdGloZGlwMGRJZ2dIbUE1ZDciLCJpYXQiOjE3NzMwNjU0MTQsImV4cCI6MTc3MzA2OTAxNCwiY2lkIjoiMG9hdGloZGlwMGRJZ2dIbUE1ZDciLCJzY3AiOlsib2t0YS51c2Vycy5yZWFkIiwib2t0YS5hcHBzLnJlYWQiLCJva3RhLmdyb3Vwcy5yZWFkIl0sImNuZiI6eyJqa3QiOiJ2dVJXSXJYdi1MUmttQmQyS3E0dFBuUU03eHZYbnNldlVwWFAyNEw0YzVRIn19.EPdd-08pYkTk5aE8gassiwfEtDa3cDwrEpWvMqXu--v_dNoj8s0S3bP4G7AXjcBnuTeBa--zyLRN7v17vU7WOCaKTeMPWie1LQmbVcC1XkCIQjfLxTk8xd0CD63x3XdKX2UCgve2rR2e0hEDgGH_996zIsDi9C8XkqtU0E1U7l1MsjWkKPecg7_FINJ5oRSeDJF09ttK2CujHr6EIkk1hDA1Vx-HuX-BeGWQyEnlvZZuRoj29plkKDjzgmWmCCfBHEOyviKq8tM8a-W8iU1WgWXFQXqUQVUVL8XUIvT4Uh8Xra8I04xv_OO55P6kBnUwIxM6xBOenKu7nWSw05f0Sg","scope":"okta.users.read
        okta.apps.read okta.groups.read"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      dpop-nonce: sanitized_dpop_nonce
      x-okta-request-id:
      - 17c065fd6d929b6b8531e734625e893f
      x-rate-limit-limit:
      - '150'
      x-rate-limit-remaining:
      - '128'
      x-rate-limit-reset:
      - '1773065425'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DPoP myDPoPToken
      DPoP:
      - sanitized_dpop_proof_jwt
      x-okta-user-agent-extended:
      - isDPoP:true
    method: GET
    uri: https://test.okta.com/api/v1/users?limit=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/users?limit=1>; rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fffaf63b0f23fba629e699e6cb873653
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1773065428'
    status:
      code: 200
      message: OK
[...]
- request:
    body:
      client_assertion: sanitized_client_assertion_jwt
      client_assertion_type: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      grant_type: client_credentials
      scope: okta.users.read okta.apps.read okta.groups.read
    headers:
      DPoP:
      - sanitized_dpop_proof_jwt
      X-Okta-Retry-Count:
      - '1'
      X-Okta-Retry-For:
      - c02fb02067f7f59578c0218fe7ee234a
    method: POST
    uri: https://test.okta.com/oauth2/v1/token
  response:
    body:
      string: '{"error":"use_dpop_nonce","error_description":"Authorization server
        requires nonce in DPoP proof."}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      dpop-nonce: sanitized_dpop_nonce
      x-okta-request-id:
      - e7a282e784154661def3623d0eac0c4d
      x-rate-limit-limit:
      - '150'
      x-rate-limit-remaining:
      - '149'
      x-rate-limit-reset:
      - '1773065582'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Authorization:
      - DPoP myDPoPToken
      DPoP:
      - sanitized_dpop_proof_jwt
      x-okta-user-agent-extended:
      - isDPoP:true
    method: GET
    uri: https://test.okta.com/api/v1/users?limit=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/users?limit=1>; rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5568b71feb557f463787e708295b7206
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1773065586'
    status:
      code: 200
      message: OK
version: 1
