interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/users?limit=1
  response:
    body:
      string: '[{"id":"00unwlw0tbo8E6aVj5d7","status":"ACTIVE","created":"2025-03-19T08:01:48.000Z","activated":null,"statusChanged":"2025-03-19T09:20:48.000Z","lastLogin":"2026-03-27T11:05:20.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","passwordChanged":"2025-03-19T09:20:48.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"Binoy","lastName":"Oza","mobilePhone":null,"secondEmail":null,"login":"binoy.oza@okta.com","email":"binoy.oza@okta.com"},"credentials":{"password":{},"emails":[{"value":"binoy.oza@okta.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://test.okta.com/api/v1/users?limit=1>; rel="self"
      - <https://test.okta.com/api/v1/users?after=200unwlw0tbo8E6aVj5d7&limit=1>;
        rel="next"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3c1e149e9047e776e3336f08209e8500
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1774857408'
    status:
      code: 200
      message: OK
version: 1
