interactions:
- request:
    body: '{"created": "2025-09-25T13:32:38.322121", "id": "dummy-id", "lastUpdated":
      "2025-09-25T13:32:38.322127", "name": "Test Deactivate Log Stream", "status":
      "INACTIVE", "type": "aws_eventbridge", "_links": {"self": {"href": "/api/v1/logStreams/dummy",
      "method": "GET"}}, "settings": {"accountId": "123456789012", "eventSourceName":
      "p", "region": "us-east-1"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '{"id":"0oaqd60czt799SPF21d7","type":"aws_eventbridge","name":"Test
        Deactivate Log Stream","lastUpdated":"2025-09-25T08:02:39.000Z","created":"2025-09-25T08:02:39.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9e3812e5c0ec496952aed53e9ab589e8
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '283'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4d2b39ee087803cfeb8daeaac93f0c7d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '282'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7
  response:
    body:
      string: '{"id":"0oaqd60czt799SPF21d7","type":"aws_eventbridge","name":"Test
        Deactivate Log Stream","lastUpdated":"2025-09-25T08:02:41.000Z","created":"2025-09-25T08:02:39.000Z","status":"INACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"activate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2dd347953f006fde26c26af78a3f661d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '281'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/logStreams/0oaqd60czt799SPF21d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 91df351a362a477d1b9bcf1a491185b8
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '280'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 204
      message: No Content
version: 1
