interactions:
- request:
    body: '{"created": "2025-09-25T13:33:05.220324", "id": "dummy-id", "lastUpdated":
      "2025-09-25T13:33:05.220330", "name": "Test Get Log Stream", "status": "INACTIVE",
      "type": "aws_eventbridge", "_links": {"self": {"href": "/api/v1/logStreams/dummy",
      "method": "GET"}}, "settings": {"accountId": "123456789012", "eventSourceName":
      "p", "region": "us-west-2"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '{"id":"0oaqd5sibdD5TKcNe1d7","type":"aws_eventbridge","name":"Test
        Get Log Stream","lastUpdated":"2025-09-25T08:03:06.000Z","created":"2025-09-25T08:03:06.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-west-2"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cc6978909910a0b699d63eb219104fbd
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758787445'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7
  response:
    body:
      string: '{"id":"0oaqd5sibdD5TKcNe1d7","type":"aws_eventbridge","name":"Test
        Get Log Stream","lastUpdated":"2025-09-25T08:03:06.000Z","created":"2025-09-25T08:03:06.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-west-2"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2023b722330f5f728ed88c98148a2d47
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1758787445'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0a67b6f962fd60fdeac859bef597e80b
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1758787445'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5sibdD5TKcNe1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 634c08b5603d06dd6e95d1dafa0d8745
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1758787445'
    status:
      code: 204
      message: No Content
version: 1
