interactions:
- request:
    body: '{"created": "2025-09-25T13:32:43.864175", "id": "dummy-id", "lastUpdated":
      "2025-09-25T13:32:43.864184", "name": "Test List AWS Log Stream", "status":
      "INACTIVE", "type": "aws_eventbridge", "_links": {"self": {"href": "/api/v1/logStreams/dummy",
      "method": "GET"}}, "settings": {"accountId": "123456789012", "eventSourceName":
      "p", "region": "us-east-1"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '{"id":"0oaqd63hmzGmzZgxG1d7","type":"aws_eventbridge","name":"Test
        List AWS Log Stream","lastUpdated":"2025-09-25T08:02:45.000Z","created":"2025-09-25T08:02:45.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd63hmzGmzZgxG1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd63hmzGmzZgxG1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 55fe70fa7ffda55db8b264278eb707c6
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '279'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '[{"id":"0oaqd63hmzGmzZgxG1d7","type":"aws_eventbridge","name":"Test
        List AWS Log Stream","lastUpdated":"2025-09-25T08:02:45.000Z","created":"2025-09-25T08:02:45.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd63hmzGmzZgxG1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd63hmzGmzZgxG1d7/lifecycle/deactivate","method":"POST"}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://node-sdk-oie.oktapreview.com/api/v1/logStreams?limit=20>; rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8e51b99fc13455b212193b320cfaf433
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '278'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd63hmzGmzZgxG1d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 60a60153976ba1eadd5061ac32655c30
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '277'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/logStreams/0oaqd63hmzGmzZgxG1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5069d7212b325c11d33d32d07f1c7ea4
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '276'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 204
      message: No Content
version: 1
