interactions:
- request:
    body: '{"created": "2025-09-25T13:32:49.594475", "id": "dummy-id", "lastUpdated":
      "2025-09-25T13:32:49.594483", "name": "Test Activate Log Stream", "status":
      "INACTIVE", "type": "aws_eventbridge", "_links": {"self": {"href": "/api/v1/logStreams/dummy",
      "method": "GET"}}, "settings": {"accountId": "123456789012", "eventSourceName":
      "p", "region": "us-east-1"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '{"id":"0oaqd5z1blchWHaKt1d7","type":"aws_eventbridge","name":"Test
        Activate Log Stream","lastUpdated":"2025-09-25T08:02:51.000Z","created":"2025-09-25T08:02:51.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ee40b625478d37828a8e2cad86432d41
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '275'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7/lifecycle/activate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3daed5780f6610477f74db0b90ac7e8d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '274'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7
  response:
    body:
      string: '{"id":"0oaqd5z1blchWHaKt1d7","type":"aws_eventbridge","name":"Test
        Activate Log Stream","lastUpdated":"2025-09-25T08:02:52.000Z","created":"2025-09-25T08:02:51.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ff9479ba455540d860b23712b2902037
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '273'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 856840804e473ca766533810b28fa8d3
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '272'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5z1blchWHaKt1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 57b0b7b3c8f197c197bd90620cab0c3a
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '271'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 204
      message: No Content
version: 1
