interactions:
- request:
    body: '{"created": "2025-09-25T13:32:28.494908", "id": "dummy-id", "lastUpdated":
      "2025-09-25T13:32:28.494915", "name": "Test Lifecycle Log Stream", "status":
      "ACTIVE", "type": "aws_eventbridge", "_links": {"self": {"href": "/api/v1/logStreams/dummy",
      "method": "GET"}}, "settings": {"accountId": "123456789012", "eventSourceName":
      "p", "region": "us-west-1"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '{"id":"0oaqd5t67ub7WW6SD1d7","type":"aws_eventbridge","name":"Test
        Lifecycle Log Stream","lastUpdated":"2025-09-25T08:02:29.000Z","created":"2025-09-25T08:02:29.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-west-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 494493c030bfb3e962f3850dc0b4b66b
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '291'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7
  response:
    body:
      string: '{"id":"0oaqd5t67ub7WW6SD1d7","type":"aws_eventbridge","name":"Test
        Lifecycle Log Stream","lastUpdated":"2025-09-25T08:02:29.000Z","created":"2025-09-25T08:02:29.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-west-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8d21dfc23d259dc9ab76778531add730
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '290'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7/lifecycle/activate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4994b6625240fd772aba403ae64cf89c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '289'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d2daa559907c65a83f9a44faa7b27f6f
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '287'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7
  response:
    body:
      string: '{"id":"0oaqd5t67ub7WW6SD1d7","type":"aws_eventbridge","name":"Test
        Lifecycle Log Stream","lastUpdated":"2025-09-25T08:02:34.000Z","created":"2025-09-25T08:02:29.000Z","status":"INACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-west-1"},"_links":{"activate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e905cb4e8205108ffef1668704508f65
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '286'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd5t67ub7WW6SD1d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        0oaqd5t67ub7WW6SD1d7 (AppInstance)","errorLink":"E0000007","errorId":"oaeg0Kji2-jT6yzpuX9CDMJsw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e8f5f86417b88e9e4ca8e3a01187ef02
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '284'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 404
      message: Not Found
version: 1
