interactions:
- request:
    body: '{"created": "2025-09-25T13:32:23.029178", "id": "dummy-id", "lastUpdated":
      "2025-09-25T13:32:23.029180", "name": "Test Delete Log Stream", "status": "INACTIVE",
      "type": "aws_eventbridge", "_links": {"self": {"href": "/api/v1/logStreams/dummy",
      "method": "GET"}}, "settings": {"accountId": "123456789012", "eventSourceName":
      "p", "region": "us-east-1"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams
  response:
    body:
      string: '{"id":"0oaqd6325xTwxNd6v1d7","type":"aws_eventbridge","name":"Test
        Delete Log Stream","lastUpdated":"2025-09-25T08:02:24.000Z","created":"2025-09-25T08:02:24.000Z","status":"ACTIVE","settings":{"accountId":"123456789012","eventSourceName":"p","region":"us-east-1"},"_links":{"self":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd6325xTwxNd6v1d7","method":"GET"},"deactivate":{"href":"https://test.okta.com/api/v1/logStreams/0oaqd6325xTwxNd6v1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 85c2e5d30ed1bf67a9a5af86afc8bcd2
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/logStreams/0oaqd6325xTwxNd6v1d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7807476847d166d99ab8382306d54775
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '294'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/logStreams/0oaqd6325xTwxNd6v1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 56ba4ae979616035aaa163d1d1fcb61d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '293'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/logStreams/0oaqd6325xTwxNd6v1d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        0oaqd6325xTwxNd6v1d7 (AppInstance)","errorLink":"E0000007","errorId":"oaeqMige8wVSzK6h-02_xg-Uw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 78ff0486ea389d21bed3f61d58558f94
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '292'
      x-rate-limit-reset:
      - '1758787385'
    status:
      code: 404
      message: Not Found
version: 1
