interactions:
- request:
    body: '{"audiences": ["api://test"], "description": "Test Auth Server for Clients
      API", "name": "python_sdk_clients_server"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"auswyvyr9iBsviais5d7","name":"python_sdk_clients_server","description":"Test
        Auth Server for Clients API","audiences":["api://test"],"issuer":"https://test.okta.com/oauth2/auswyvyr9iBsviais5d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2026-09-16T08:17:49.000Z","lastUpdated":"2026-09-16T08:17:49.000Z","credentials":{"signing":{"kid":"pPKNeLPNcNKWrmLudGlFZO7oDu9J8oq8vkMJPLO70Co","rotationMode":"AUTO","lastRotated":"2026-09-16T08:17:49.000Z","nextRotation":"2026-12-15T08:17:49.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/.well-known/oauth-authorization-server/oauth2/auswyvyr9iBsviais5d7","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/auswyvyr9iBsviais5d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"resourceServerCredentialsKeys":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/resourceservercredentials/keys","hints":{"allow":["GET"]}},"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 374dc45879099f08150427dcb5666be5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1789546729'
    status:
      code: 201
      message: Created
- request:
    body: '{"label": "python_sdk_clients_app", "signOnMode": "OPENID_CONNECT", "credentials":
      {"oauthClient": {"autoKeyRotation": true, "pkce_required": true, "token_endpoint_auth_method":
      "client_secret_post"}}, "name": "oidc_client", "settings": {"oauthClient": {"application_type":
      "web", "client_uri": "https://example.com", "consent_method": "TRUSTED", "dpop_bound_access_tokens":
      false, "grant_types": ["authorization_code", "refresh_token"], "logo_uri": "https://example.com/logo.png",
      "redirect_uris": ["https://example.com/callback"], "response_types": ["code"]}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: generalSettings","errorLink":"E0000001","errorId":"oaecVvznm3fSJyd_00ykRUowg","errorCauses":[{"errorSummary":"Cannot
        create application instance. Maximum number of instances has been reached."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6d9b9298cf9e12fad23171d5979d9d07
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '9'
      x-rate-limit-reset:
      - '1789546731'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '[{"id":"0oanwlw0oco6NshA65d7","orn":"orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:saasure:0oanwlw0oco6NshA65d7","name":"saasure","label":"Okta
        Admin Console","status":"ACTIVE","lastUpdated":"2025-04-24T16:03:48.000Z","created":"2025-03-19T08:01:45.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"YAC_CqBzpba6NOipi2Eo6nbzZZcCWPGeGxKxCkeB_8c"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false},"_links":{"uploadLogo":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://test.okta.com/home/saasure/0oanwlw0oco6NshA65d7/2","type":"text/html"}],"profileEnrollment":{"href":"https://test.okta.com/api/v1/policies/rstnwmp14geJLJ3fx5d7"},"policies":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/groups"},"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://test.okta.com/api/v1/policies/rstnwmp13cg3r0SMK5d7"},"users":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/lifecycle/deactivate"}}},{"id":"0oanwlw0so3WcfOQi5d7","orn":"orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:okta_enduser:0oanwlw0so3WcfOQi5d7","name":"okta_enduser","label":"Okta
        Dashboard","status":"ACTIVE","lastUpdated":"2025-05-08T17:56:48.000Z","created":"2025-03-19T08:01:48.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"log[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/clients
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ecd468905c130bffaa37d0503888575e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1789546729'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/clients/0oanwlw0oco6NshA65d7/tokens
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        0oanwlw0oco6NshA65d7 (PublicClientApp)","errorLink":"E0000007","errorId":"oae2puHeuu4RqmbtYm9gtacnw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 21eaad133587cbddeedbb007a4bf7ffb
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1789546729'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7/clients/0oanwlw0oco6NshA65d7/tokens?expand=scope&limit=10
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        0oanwlw0oco6NshA65d7 (PublicClientApp)","errorLink":"E0000007","errorId":"oaeQ8VR10nAQvKiwSyBQPNz9w","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 086af35fc16a17f75e5bdf7f6af39155
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1789546729'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/auswyvyr9iBsviais5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ab8f5df90f3cbf0c60585628b183c7bb
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1789546729'
    status:
      code: 204
      message: No Content
version: 1
