interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps
  response:
    body:
      string: '{"id":"0oasfewzrOhZhzogX4x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"ACTIVE","created":"2020-08-27T18:16:31.000Z","lastUpdated":"2020-08-27T18:16:31.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://www.facebook.com/dialog/oauth","binding":"HTTP-REDIRECT"},"token":{"url":"https://graph.facebook.com/v2.8/oauth/access_token","binding":"HTTP-POST"}},"scopes":["public_profile","email"],"credentials":{"client":{"client_id":"your-client-id","client_secret":"your-client-secret"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"_links":{"authorize":{"href":"https://test.okta.com/oauth2/v1/authorize?idp=0oasfewzrOhZhzogX4x6&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://test.okta.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4fwotPnWCLz98drxgtwAAB9Q
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '940'
      x-rate-limit-reset: '1598552203'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/idps
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasfewzrOhZhzogX4x6/credentials/keys/generate/?validityYears=2
  response:
    body:
      string: '{"kty":"RSA","created":"2020-08-27T18:16:32.000Z","lastUpdated":"2020-08-27T18:16:32.000Z","expiresAt":"2022-08-27T18:16:32.000Z","kid":"bVLiI8vdRF3J1GT-PwhYk-4b3JQmPu_bZU15OLTQ1ok","use":"sig","x5c":["MIIDpDCCAoygAwIBAgIGAXQxIrYWMA0GCSqGSIb3DQEBCwUAMIGSMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEzARBgNVBAMMCmRldi0xOTU5MjExHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjAwODI3MTgxNTMyWhcNMjIwODI3MTgxNjMyWjCBkjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRMwEQYDVQQDDApkZXYtMTk1OTIxMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMIIBIjANBg[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasfewzrOhZhzogX4x6/credentials/keys/bVLiI8vdRF3J1GT-PwhYk-4b3JQmPu_bZU15OLTQ1ok/clone/?targetIdpId=0oasfadumMMpFPz5T4x6
  response:
    body:
      string: '{"kty":"RSA","created":"2020-08-27T18:16:32.000Z","lastUpdated":"2020-08-27T18:16:32.000Z","expiresAt":"2022-08-27T18:16:32.000Z","kid":"bVLiI8vdRF3J1GT[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/idps/0oasfadumMMpFPz5T4x6/credentials/keys/bVLiI8vdRF3J1GT-PwhYk-4b3JQmPu_bZU15OLTQ1ok
  response:
    body:
      string: '{"kty":"RSA","created":"2020-08-27T18:16:32.000Z","lastUpdated":"2020-08-27T18:16:32.000Z","expiresAt":"2022-08-27T18:16:32.000Z","kid":"bVLiI8vdRF3J1GT-PwhYk-4b3JQmPu_bZU15OLTQ1ok","use":"sig"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasfewzrOhZhzogX4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"0oasfewzrOhZhzogX4x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"INACTIVE","created":"2020-08-27T18:16:31.000Z","lastUpdated":"2020-08-27T18:16:33.000Z","protocol":{"type":"OAUTH2"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/idps/0oasfewzrOhZhzogX4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4gRaqnV-yzw550VZMLwAABzs
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '934'
      x-rate-limit-reset: '1598552203'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/idps/0oasfewzrOhZhzogX4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasfadumMMpFPz5T4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"0oasfadumMMpFPz5T4x6","type":"LINKEDIN","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"INACTIVE","created":"2020-08-27T18:16:32.000Z","lastUpdated":"2020-08-27T18:16:34.000Z","protocol":{"type":"OAUTH2"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/idps/0oasfadumMMpFPz5T4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4ggQNhBF8lqgR5105hQAAAPo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '932'
      x-rate-limit-reset: '1598552203'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/idps/0oasfadumMMpFPz5T4x6
version: 1
