interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps
  response:
    body:
      string: '{"id":"0oasff696I0JDtg984x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"ACTIVE","created":"2020-08-27T18:16:10.000Z","lastUpdated":"2020-08-27T18:16:11.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://www.facebook.com/dialog/oauth","binding":"HTTP-REDIRECT"},"token":{"url":"https://graph.facebook.com/v2.8/oauth/access_token","binding":"HTTP-POST"}},"scopes":["public_profile","email"],"credentials":{"client":{"client_id":"your-client-id","client_secret":"your-client-secret"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"_links":{"authorize":{"href":"https://test.okta.com/oauth2/v1/authorize?idp=0oasff696I0JDtg984x6&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://test.okta.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4avy61LIWLaXA-qTeHAAACME
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '988'
      x-rate-limit-reset: '1598552203'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/idps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/idps/0oasff696I0JDtg984x6
  response:
    body:
      string: '{"id":"0oasff696I0JDtg984x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"ACTIVE","created":"2020-08-27T18:16:10.000Z","lastUpdated":"2020-08-27T18:16:11.000Z","protocol":{"type":"OAUTH2","endpoints":{"authoriza[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasff696I0JDtg984x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"0oasff696I0JDtg984x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"INACTIVE","created":"2020-08-27T18:16:10.000Z","lastUpdated":"2020-08-27T18:16:11.000Z","protocol":{"type":"OAUTH2"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/idps/0oasff696I0JDtg984x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4a9Rsn41aY0TBw0mWZgAAA-w
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '985'
      x-rate-limit-reset: '1598552203'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/idps/0oasff696I0JDtg984x6
version: 1
