interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps
  response:
    body:
      string: '{"id":"0oasfb0tcpNNNNJo24x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"ACTIVE","created":"2020-08-27T18:16:27.000Z","lastUpdated":"2020-08-27T18:16:27.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://www.facebook.com/dialog/oauth","binding":"HTTP-REDIRECT"},"token":{"url":"https://graph.facebook.com/v2.8/oauth/access_token","binding":"HTTP-POST"}},"scopes":["public_profile","email"],"credentials":{"client":{"client_id":"your-client-id","client_secret":"your-client-secret"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"},"conditions":{"deprovisioned":{"action":"NONE"},"suspended":{"action":"NONE"}}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.email"},"filter":null,"matchType":"USERNAME","matchAttribute":null},"maxClockSkew":0},"_links":{"authorize":{"href":"https://test.okta.com/oauth2/v1/authorize?idp=0oasfb0tcpNNNNJo24x6&client_id={clientId}&response_type={responseType}&response_mode={responseMode}&scope={scopes}&redirect_uri={redirectUri}&state={state}&nonce={nonce}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://test.okta.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4e6e0ikvd@6cIht6CmgAAAbk
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '951'
      x-rate-limit-reset: '1598552203'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/idps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasfb0tcpNNNNJo24x6/credentials/keys/generate/?validityYears=2
  response:
    body:
      string: '{"kty":"RSA","created":"2020-08-27T18:16:27.000Z","lastUpdated":"2020-08-27T18:16:27.000Z","expiresAt":"2022-08-27T18:16:27.000Z","kid":"KjchRag1DVhkXgYbMpNZUhZ2LEb6QGCATCK_K1UNtwU","use":"sig","x5c":["MIIDpDCCAoygAwIBAgIGAXQxIqJ3MA0GCSqGSIb3DQEBCwUAMIGSMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEUMBIGA1UECwwLU1NPUHJvdmlkZXIxEzARBgNVBAMMCmRldi0xOTU5MjExHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wHhcNMjAwODI3MTgxNTI3WhcNMjIwODI3MTgxNjI3WjCBkjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xDTALBgNVBAoMBE9rdGExFDASBgNVBAsMC1NTT1Byb3ZpZGVyMRMwEQYDVQQDDApkZXYtMTk1OTIxMRwwGgYJKoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMIIBIjANBg[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/idps/0oasfb0tcpNNNNJo24x6/credentials/keys/KjchRag1DVhkXgYbMpNZUhZ2LEb6QGCATCK_K1UNtwU
  response:
    body:
      string: '{"kty":"RSA","created":"2020-08-27T18:16:27.000Z","lastUpdated":"2020-08-27T18:16:27.000Z","expiresAt":"2022-08-27T18:16:27.000Z","kid":"KjchRag1DVhkXgYbMpNZUhZ2LEb6QGCATCK_K1UNtwU","use":"sig"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/idps/0oasfb0tcpNNNNJo24x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"0oasfb0tcpNNNNJo24x6","type":"FACEBOOK","issuerMode":"ORG_URL","name":"python_sdk
        facebook","status":"INACTIVE","created":"2020-08-27T18:16:27.000Z","lastUpdated":"2020-08-27T18:16:28.000Z","protocol":{"type":"OAUTH2"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/idps/0oasfb0tcpNNNNJo24x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4fNIl-QhafEkA0hr@ZwAAA3c
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '947'
      x-rate-limit-reset: '1598552203'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/idps/0oasfb0tcpNNNNJo24x6
version: 1
