interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524477@example.com", "firstName": "SessionTest",
      "lastName": "User1758524477", "login": "sessiontest.user1758524477@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rcvu7eN6CRAf1d7","status":"ACTIVE","created":"2025-09-22T07:01:15.000Z","activated":"2025-09-22T07:01:16.000Z","statusChanged":"2025-09-22T07:01:16.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:01:16.000Z","passwordChanged":"2025-09-22T07:01:16.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524477","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524477@example.com","email":"sessiontest.user1758524477@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - becbffd0ba8a7a7a5ece45b69e9dee58
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '294'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:06:17.000Z","status":"SUCCESS","sessionToken":"201114iP3qaMobF-LkBeek5RsXm1P-o5BWav6bi18XdgJW-crTPd5Qg","_embedded":{"user":{"id":"00uq9rcvu7eN6CRAf1d7","passwordChanged":"2025-09-22T07:01:16.000Z","profile":{"login":"sessiontest.user1758524477@example.com","firstName":"SessionTest","lastName":"User1758524477","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4600c981322d4ccfa47bfa0a327b367e
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '497'
      x-rate-limit-reset:
      - '1758524515'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "201114iP3qaMobF-LkBeek5RsXm1P-o5BWav6bi18XdgJW-crTPd5Qg"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102LsnkgdPeTQaq4xKUFD3g6g","userId":"00uq9rcvu7eN6CRAf1d7","login":"sessiontest.user1758524477@example.com","createdAt":"2025-09-22T07:01:17.000Z","expiresAt":"2025-09-22T09:01:17.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:17.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524477","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bd5a4a7d5d7016e6c584b6b758541149
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '366'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions/102LsnkgdPeTQaq4xKUFD3g6g/lifecycle/refresh
  response:
    body:
      string: '{"id":"102LsnkgdPeTQaq4xKUFD3g6g","userId":"00uq9rcvu7eN6CRAf1d7","login":"sessiontest.user1758524477@example.com","createdAt":"2025-09-22T07:01:17.000Z","expiresAt":"2025-09-22T09:01:17.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:17.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102quPsxs1HTX2eG7cW999q5w","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102quPsxs1HTX2eG7cW999q5w/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524477","href":"https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ad89caf02da8c242eb9146f613462a46
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '365'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/102LsnkgdPeTQaq4xKUFD3g6g
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 773065b00a5dc421a28b39e2cbde9af3
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '364'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session/lifecycle/refresh
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session (AppSession)","errorLink":"E0000007","errorId":"oae4d0R9Os0RWOm76xgNDq8_A","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 32e380897e4d24f720c2c30e75f66068
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '363'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2586785a2206bd03f25333fb6dddeb9e
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '293'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rcvu7eN6CRAf1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d495b2022e4fb0459d9adcc53455cb7b
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1758524523'
    status:
      code: 204
      message: No Content
version: 1
