interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524514@example.com", "firstName": "SessionTest",
      "lastName": "User1758524514", "login": "sessiontest.user1758524514@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rveb6VXxQJ2g1d7","status":"ACTIVE","created":"2025-09-22T07:01:52.000Z","activated":"2025-09-22T07:01:53.000Z","statusChanged":"2025-09-22T07:01:53.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:01:53.000Z","passwordChanged":"2025-09-22T07:01:53.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524514","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524514@example.com","email":"sessiontest.user1758524514@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ddf5af5ee8003d580195052fc69dc964
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758524572'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:06:54.000Z","status":"SUCCESS","sessionToken":"20111h5K6Z2460NvPcOE1whL7K_lRMnznC_8ZCWWapdwWswzahkWrX4","_embedded":{"user":{"id":"00uq9rveb6VXxQJ2g1d7","passwordChanged":"2025-09-22T07:01:53.000Z","profile":{"login":"sessiontest.user1758524514@example.com","firstName":"SessionTest","lastName":"User1758524514","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a065f134f24d3f7aeb4182da5a7aa3d5
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '494'
      x-rate-limit-reset:
      - '1758524515'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111h5K6Z2460NvPcOE1whL7K_lRMnznC_8ZCWWapdwWswzahkWrX4"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102vwTW3VfLRw6gvEknx7hfTw","userId":"00uq9rveb6VXxQJ2g1d7","login":"sessiontest.user1758524514@example.com","createdAt":"2025-09-22T07:01:54.000Z","expiresAt":"2025-09-22T09:01:54.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:54.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524514","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e31e0ab5d6c8c1d625319c94c3892ad5
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '350'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111h5K6Z2460NvPcOE1whL7K_lRMnznC_8ZCWWapdwWswzahkWrX4"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"errorCode":"E0000004","errorSummary":"Authentication failed","errorLink":"E0000004","errorId":"oaeQ9qKPOgwT4iyHpsLinnaeA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ff1e59546faf4091448b12c7bc7974ef
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '374'
      x-rate-limit-reset:
      - '1758524577'
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 774466f765c96cdd78ce74aa4deb32c3
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758524572'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rveb6VXxQJ2g1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7b3b093e7ea9f807db6d7686a37a28ce
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '294'
      x-rate-limit-reset:
      - '1758524523'
    status:
      code: 204
      message: No Content
version: 1
