interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524433@example.com", "firstName": "SessionTest",
      "lastName": "User1758524433", "login": "sessiontest.user1758524433@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rr6s7CqOpe6h1d7","status":"ACTIVE","created":"2025-09-22T07:00:30.000Z","activated":"2025-09-22T07:00:32.000Z","statusChanged":"2025-09-22T07:00:32.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:00:32.000Z","passwordChanged":"2025-09-22T07:00:32.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524433","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524433@example.com","email":"sessiontest.user1758524433@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c7e1736279dbe5a6c82ab5ca9ded3c8c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '291'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:05:33.000Z","status":"SUCCESS","sessionToken":"20111k9GbnwMEoVwGPwxJ9aQVsBD-4wrhXH7VOpa7V-2_nnA71RD4fj","_embedded":{"user":{"id":"00uq9rr6s7CqOpe6h1d7","passwordChanged":"2025-09-22T07:00:32.000Z","profile":{"login":"sessiontest.user1758524433@example.com","firstName":"SessionTest","lastName":"User1758524433","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a78909462484efb2b3f27749be468072
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '495'
      x-rate-limit-reset:
      - '1758524449'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111k9GbnwMEoVwGPwxJ9aQVsBD-4wrhXH7VOpa7V-2_nnA71RD4fj"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102xeWHibVtRiGd43qMgBK2_A","userId":"00uq9rr6s7CqOpe6h1d7","login":"sessiontest.user1758524433@example.com","createdAt":"2025-09-22T07:00:33.000Z","expiresAt":"2025-09-22T09:00:33.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:33.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524433","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2c50fb1694e881a69844d6dd973cabcd
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '359'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/102xeWHibVtRiGd43qMgBK2_A
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a0ccb84595189a40824ed031d7b049b9
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '358'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 204
      message: No Content
- request:
    body: '{"sessionToken": "invalid_token"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"errorCode":"E0000004","errorSummary":"Authentication failed","errorLink":"E0000004","errorId":"oaeUEW4zVy_RROzhbsZuZd4hQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - eb41e3ee18ecda9739cde2de923c367d
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '357'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4799c81661b684d9976e256525b6e4dc
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '290'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rr6s7CqOpe6h1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f5f9b7ad6599f53fdafd288b282faf64
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1758524457'
    status:
      code: 204
      message: No Content
version: 1
