interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524423@example.com", "firstName": "SessionTest",
      "lastName": "User1758524423", "login": "sessiontest.user1758524423@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rof7ynmBxj0Q1d7","status":"ACTIVE","created":"2025-09-22T07:00:20.000Z","activated":"2025-09-22T07:00:22.000Z","statusChanged":"2025-09-22T07:00:22.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:00:22.000Z","passwordChanged":"2025-09-22T07:00:22.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524423","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524423@example.com","email":"sessiontest.user1758524423@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 876ba0f16aefd52e43d969dc93ed2387
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '293'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:05:23.000Z","status":"SUCCESS","sessionToken":"20111ujB38jNUdV2ZRIhi-tL744L75dPUtd6tlfw25Bp7K4Y4uGCRSE","_embedded":{"user":{"id":"00uq9rof7ynmBxj0Q1d7","passwordChanged":"2025-09-22T07:00:22.000Z","profile":{"login":"sessiontest.user1758524423@example.com","firstName":"SessionTest","lastName":"User1758524423","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 89da8fcd08095117259d04c14d5a37df
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '496'
      x-rate-limit-reset:
      - '1758524449'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111ujB38jNUdV2ZRIhi-tL744L75dPUtd6tlfw25Bp7K4Y4uGCRSE"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102FGCjmlvFSdqs6lwkLV0Z7Q","userId":"00uq9rof7ynmBxj0Q1d7","login":"sessiontest.user1758524423@example.com","createdAt":"2025-09-22T07:00:23.000Z","expiresAt":"2025-09-22T09:00:23.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:23.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524423","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9ba0fd09969e45600ee87c7696cc9e38
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '362'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/102FGCjmlvFSdqs6lwkLV0Z7Q
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - acfc7174236e5ee8b81522f6e8534c1e
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '361'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 204
      message: No Content
- request:
    body: '{"sessionToken": "invalid_token_12345"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"errorCode":"E0000004","errorSummary":"Authentication failed","errorLink":"E0000004","errorId":"oae7pVK2gNxQDOSj5MydnoNrg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bb197474baed28a645884d41bd443207
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '360'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 539b25f5d51f2b478907c3de9297d9d0
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '292'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rof7ynmBxj0Q1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c25ff8b47dd8fdb36ad677ff6cefc848
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1758524457'
    status:
      code: 204
      message: No Content
version: 1
