interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524455@example.com", "firstName": "SessionTest",
      "lastName": "User1758524455", "login": "sessiontest.user1758524455@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rgxol2uZABHN1d7","status":"ACTIVE","created":"2025-09-22T07:00:53.000Z","activated":"2025-09-22T07:00:54.000Z","statusChanged":"2025-09-22T07:00:54.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:00:54.000Z","passwordChanged":"2025-09-22T07:00:54.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524455","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524455@example.com","email":"sessiontest.user1758524455@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d287d31f1d7f9502daf34cef17cddf55
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:05:55.000Z","status":"SUCCESS","sessionToken":"20111CAaa5t6aHgLU-W7U28JVv1F5KvkwEHpXso-Mk1LODnXxgtAtHt","_embedded":{"user":{"id":"00uq9rgxol2uZABHN1d7","passwordChanged":"2025-09-22T07:00:54.000Z","profile":{"login":"sessiontest.user1758524455@example.com","firstName":"SessionTest","lastName":"User1758524455","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1dcf988cfe4934c6ab68cebff83bb93b
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1758524515'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111CAaa5t6aHgLU-W7U28JVv1F5KvkwEHpXso-Mk1LODnXxgtAtHt"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102l8zwRRO8Q2y3vlkDEVbkig","userId":"00uq9rgxol2uZABHN1d7","login":"sessiontest.user1758524455@example.com","createdAt":"2025-09-22T07:00:55.000Z","expiresAt":"2025-09-22T09:00:55.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:55.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524455","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 21304ea3d1bccdfd00b8c37a362cafac
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '374'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/102l8zwRRO8Q2y3vlkDEVbkig
  response:
    body:
      string: '{"id":"102l8zwRRO8Q2y3vlkDEVbkig","userId":"00uq9rgxol2uZABHN1d7","login":"sessiontest.user1758524455@example.com","createdAt":"2025-09-22T07:00:55.000Z","expiresAt":"2025-09-22T09:00:55.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:55.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102cyuIrJyHQy6VmCm5Ws8jAw","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102cyuIrJyHQy6VmCm5Ws8jAw/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524455","href":"https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fa1b6239519b520b50937adda0b71a3d
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '373'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session_12345
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session_12345 (AppSession)","errorLink":"E0000007","errorId":"oaePpLzLbXSRlqRkpauT89ojQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5345e00adf58b715f401c2ba36bce582
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '371'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fe4c01055d877bb8548a7b54b08d6490
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rgxol2uZABHN1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 76accf52c07d27c3a838b146a840d645
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758524523'
    status:
      code: 204
      message: No Content
version: 1
