interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524389@example.com", "firstName": "SessionTest",
      "lastName": "User1758524389", "login": "sessiontest.user1758524389@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rhzdiKV1VG7m1d7","status":"ACTIVE","created":"2025-09-22T06:59:47.000Z","activated":"2025-09-22T06:59:48.000Z","statusChanged":"2025-09-22T06:59:48.000Z","lastLogin":null,"lastUpdated":"2025-09-22T06:59:48.000Z","passwordChanged":"2025-09-22T06:59:48.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524389","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524389@example.com","email":"sessiontest.user1758524389@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c401e9d4e3b757c5a247335ecdbab208
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:04:49.000Z","status":"SUCCESS","sessionToken":"20111kQHH_VlpQCb-Ja9o4lKdxkUXYFJAZesvmxn84OQx3ZFv6iaWVa","_embedded":{"user":{"id":"00uq9rhzdiKV1VG7m1d7","passwordChanged":"2025-09-22T06:59:48.000Z","profile":{"login":"sessiontest.user1758524389@example.com","firstName":"SessionTest","lastName":"User1758524389","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 21fc381f3cbc1e0b5e62aa0c485ec786
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1758524449'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111kQHH_VlpQCb-Ja9o4lKdxkUXYFJAZesvmxn84OQx3ZFv6iaWVa"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102gQ7X_jRbRfuj2govt1YPKA","userId":"00uq9rhzdiKV1VG7m1d7","login":"sessiontest.user1758524389@example.com","createdAt":"2025-09-22T06:59:49.000Z","expiresAt":"2025-09-22T08:59:49.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T06:59:49.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524389","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ea82e4386485849b55ac80fa1ea61a19
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '374'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/102gQ7X_jRbRfuj2govt1YPKA
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4bdff89330268c95d301cb466fd37647
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '373'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session (AppSession)","errorLink":"E0000007","errorId":"oaeErWS19RaQDWeXs8wDfrSOg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1c1351386bea475e055de9ab8f428671
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '372'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cb0efce2d1a9b0dc5582bb95fa335b49
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rhzdiKV1VG7m1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 68dbe0cffbdc26679968d425f289d084
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758524457'
    status:
      code: 204
      message: No Content
version: 1
