interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524411@example.com", "firstName": "SessionTest",
      "lastName": "User1758524411", "login": "sessiontest.user1758524411@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rg9h1JHPX97h1d7","status":"ACTIVE","created":"2025-09-22T07:00:09.000Z","activated":"2025-09-22T07:00:10.000Z","statusChanged":"2025-09-22T07:00:10.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:00:10.000Z","passwordChanged":"2025-09-22T07:00:10.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524411","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524411@example.com","email":"sessiontest.user1758524411@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 35c56062f084393b23970a53847cde8c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:05:11.000Z","status":"SUCCESS","sessionToken":"20111CDKzNDF8hGes74kC5xc8ogMDHQZ9v0NQzoRVgDhFAGb0-tKDvk","_embedded":{"user":{"id":"00uq9rg9h1JHPX97h1d7","passwordChanged":"2025-09-22T07:00:10.000Z","profile":{"login":"sessiontest.user1758524411@example.com","firstName":"SessionTest","lastName":"User1758524411","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bdb353a4fc2879c9c02b5a0bf2361049
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '497'
      x-rate-limit-reset:
      - '1758524449'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111CDKzNDF8hGes74kC5xc8ogMDHQZ9v0NQzoRVgDhFAGb0-tKDvk"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"1020-K1vgd_TTCIelKXTB8VZQ","userId":"00uq9rg9h1JHPX97h1d7","login":"sessiontest.user1758524411@example.com","createdAt":"2025-09-22T07:00:11.000Z","expiresAt":"2025-09-22T09:00:11.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:11.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524411","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 95a6c85aee999ce808e74489ace3879e
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '366'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/1020-K1vgd_TTCIelKXTB8VZQ
  response:
    body:
      string: '{"id":"1020-K1vgd_TTCIelKXTB8VZQ","userId":"00uq9rg9h1JHPX97h1d7","login":"sessiontest.user1758524411@example.com","createdAt":"2025-09-22T07:00:11.000Z","expiresAt":"2025-09-22T09:00:11.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:11.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102oeKwGYdJQI2vhrVF4AiLRQ","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102oeKwGYdJQI2vhrVF4AiLRQ/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524411","href":"https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d6d5e689680e37c7fffc862e5fad9094
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '365'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session (AppSession)","errorLink":"E0000007","errorId":"oaeDfL20vfPS2yjMK3rJTgYRA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bfc05ed9fc58126df470cff96f5e18b9
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '363'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 134dd334b5e1ff1885ef18307ecd89a2
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '294'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rg9h1JHPX97h1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d35dda3000b22b7711f7ac599e1cc396
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1758524457'
    status:
      code: 204
      message: No Content
version: 1
