interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524443@example.com", "firstName": "SessionTest",
      "lastName": "User1758524443", "login": "sessiontest.user1758524443@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9ro3m4jnseZRu1d7","status":"ACTIVE","created":"2025-09-22T07:00:41.000Z","activated":"2025-09-22T07:00:42.000Z","statusChanged":"2025-09-22T07:00:42.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:00:42.000Z","passwordChanged":"2025-09-22T07:00:42.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524443","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524443@example.com","email":"sessiontest.user1758524443@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d899b5972b7aabfdc6420d0e4c96a396
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '289'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:05:44.000Z","status":"SUCCESS","sessionToken":"20111KSRJQkKMJU2lhO5T8ErXfN424Y0VF8BFuSrotE2k0NXjyM_4Ej","_embedded":{"user":{"id":"00uq9ro3m4jnseZRu1d7","passwordChanged":"2025-09-22T07:00:42.000Z","profile":{"login":"sessiontest.user1758524443@example.com","firstName":"SessionTest","lastName":"User1758524443","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - df56a6912f75cbbd5f70506fb26f3a45
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '494'
      x-rate-limit-reset:
      - '1758524449'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111KSRJQkKMJU2lhO5T8ErXfN424Y0VF8BFuSrotE2k0NXjyM_4Ej"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102dvCbS5veQI2B7Ud18rEgNQ","userId":"00uq9ro3m4jnseZRu1d7","login":"sessiontest.user1758524443@example.com","createdAt":"2025-09-22T07:00:44.000Z","expiresAt":"2025-09-22T09:00:44.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:44.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524443","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 15b94dbacbd3d4c2c40e63b29b751f0b
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '356'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/102dvCbS5veQI2B7Ud18rEgNQ
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cc2446eb78640cceffc6cb0f8a7b93e6
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '355'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"errorCode":"E0000003","errorSummary":"The request body was not well-formed.","errorLink":"E0000003","errorId":"oaejoDxH9u7QZOW0nD84unFEA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c3d9565992f2a524dd79371287f385ac
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '354'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/
  response:
    body:
      string: '{"errorCode":"E0000022","errorSummary":"The endpoint does not support
        the provided HTTP method","errorLink":"E0000022","errorId":"oaeAKtOu1Q1QNSLL8_opiz3CA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 405
      message: Method Not Allowed
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9111999ee59cedf3c0c087393e03aef8
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9ro3m4jnseZRu1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b1d41fa885b7c19b8a01bb15d13e06eb
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '294'
      x-rate-limit-reset:
      - '1758524457'
    status:
      code: 204
      message: No Content
version: 1
