interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524400@example.com", "firstName": "SessionTest",
      "lastName": "User1758524400", "login": "sessiontest.user1758524400@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9riutbHI64dIw1d7","status":"ACTIVE","created":"2025-09-22T06:59:58.000Z","activated":"2025-09-22T06:59:59.000Z","statusChanged":"2025-09-22T06:59:59.000Z","lastLogin":null,"lastUpdated":"2025-09-22T06:59:59.000Z","passwordChanged":"2025-09-22T06:59:59.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524400","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524400@example.com","email":"sessiontest.user1758524400@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 30bde933a20a4c27446fc519fb966b7a
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:05:00.000Z","status":"SUCCESS","sessionToken":"20111cjhXIfpeYnVMXk3HoE7koSYTs6EbSDUbD9nb1jKLC_jpHz6frV","_embedded":{"user":{"id":"00uq9riutbHI64dIw1d7","passwordChanged":"2025-09-22T06:59:59.000Z","profile":{"login":"sessiontest.user1758524400@example.com","firstName":"SessionTest","lastName":"User1758524400","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 572e74b6b22c626aa945d3ad0834b55d
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '498'
      x-rate-limit-reset:
      - '1758524449'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111cjhXIfpeYnVMXk3HoE7koSYTs6EbSDUbD9nb1jKLC_jpHz6frV"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102dUUzySOOQwKWC1cPdLUrlQ","userId":"00uq9riutbHI64dIw1d7","login":"sessiontest.user1758524400@example.com","createdAt":"2025-09-22T07:00:00.000Z","expiresAt":"2025-09-22T09:00:00.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:00.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524400","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4b3b95f710451acd98114b91316ff57f
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '370'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions/102dUUzySOOQwKWC1cPdLUrlQ/lifecycle/refresh
  response:
    body:
      string: '{"id":"102dUUzySOOQwKWC1cPdLUrlQ","userId":"00uq9riutbHI64dIw1d7","login":"sessiontest.user1758524400@example.com","createdAt":"2025-09-22T07:00:00.000Z","expiresAt":"2025-09-22T09:00:00.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:00:00.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/1022S9dVy1lRlq7kYVWyghOVw","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/1022S9dVy1lRlq7kYVWyghOVw/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524400","href":"https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 525f78156f71a36fbd3ab32b5b67f5b9
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '369'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/102dUUzySOOQwKWC1cPdLUrlQ
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4e834217fce762987a4c44c50bf12a4f
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '368'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session/lifecycle/refresh
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session (AppSession)","errorLink":"E0000007","errorId":"oaemDer91I9TJWWAQ0zRJfdmw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2ada570968809eb67a82c2066b249fcf
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '367'
      x-rate-limit-reset:
      - '1758524450'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 810607b9f32e866872d397c2555dbdec
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1758524447'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9riutbHI64dIw1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1f4fa412dcb22c8a191dae13823abace
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758524457'
    status:
      code: 204
      message: No Content
version: 1
