interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524500@example.com", "firstName": "SessionTest",
      "lastName": "User1758524500", "login": "sessiontest.user1758524500@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rs3h9Fu2NAyU1d7","status":"ACTIVE","created":"2025-09-22T07:01:38.000Z","activated":"2025-09-22T07:01:39.000Z","statusChanged":"2025-09-22T07:01:39.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:01:39.000Z","passwordChanged":"2025-09-22T07:01:39.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524500","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524500@example.com","email":"sessiontest.user1758524500@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e8838d1f78303e74d6828a2b6e22653d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '290'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:06:40.000Z","status":"SUCCESS","sessionToken":"20111WVVH4GogTZZzDH-NJFjZqX14fZX3AqUOSbQYlck1Nubx8n4Unb","_embedded":{"user":{"id":"00uq9rs3h9Fu2NAyU1d7","passwordChanged":"2025-09-22T07:01:39.000Z","profile":{"login":"sessiontest.user1758524500@example.com","firstName":"SessionTest","lastName":"User1758524500","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7983e1982689044dda7f11348b65cfcc
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '495'
      x-rate-limit-reset:
      - '1758524515'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111WVVH4GogTZZzDH-NJFjZqX14fZX3AqUOSbQYlck1Nubx8n4Unb"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102DX7d0qDaSzOaVLZFyBpoQw","userId":"00uq9rs3h9Fu2NAyU1d7","login":"sessiontest.user1758524500@example.com","createdAt":"2025-09-22T07:01:40.000Z","expiresAt":"2025-09-22T09:01:40.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:40.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524500","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 61638038a1b17abe8e04c80f19e4bc8a
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '357'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/102DX7d0qDaSzOaVLZFyBpoQw
  response:
    body:
      string: '{"id":"102DX7d0qDaSzOaVLZFyBpoQw","userId":"00uq9rs3h9Fu2NAyU1d7","login":"sessiontest.user1758524500@example.com","createdAt":"2025-09-22T07:01:40.000Z","expiresAt":"2025-09-22T09:01:40.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:40.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102KotbxeSYTjykcaPFcmtjRQ","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102KotbxeSYTjykcaPFcmtjRQ/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524500","href":"https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 70709590dd8d8231c41969ec36a621e4
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '356'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/nonexistent_0
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_0 (AppSession)","errorLink":"E0000007","errorId":"oaeLq72T9scRKSQK0SIfCUKlQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7907407d63424215a8c894d1a08fcca3
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '352'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d4dd02ee3f9a79f5e55ebcf36125f243
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '289'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rs3h9Fu2NAyU1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5ebd4d9eab521875bed56dd52cf6b6ee
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1758524523'
    status:
      code: 204
      message: No Content
version: 1
