interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524488@example.com", "firstName": "SessionTest",
      "lastName": "User1758524488", "login": "sessiontest.user1758524488@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9re9mup35oXfu1d7","status":"ACTIVE","created":"2025-09-22T07:01:26.000Z","activated":"2025-09-22T07:01:27.000Z","statusChanged":"2025-09-22T07:01:27.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:01:27.000Z","passwordChanged":"2025-09-22T07:01:27.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524488","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524488@example.com","email":"sessiontest.user1758524488@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c811b4eed0d27d21ab1efe0cc2786541
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '292'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:06:28.000Z","status":"SUCCESS","sessionToken":"20111q-SBT-lEXP4UMRiigD6MdG7KWCce1ZlG9vbksZc7z-Q23GONOk","_embedded":{"user":{"id":"00uq9re9mup35oXfu1d7","passwordChanged":"2025-09-22T07:01:27.000Z","profile":{"login":"sessiontest.user1758524488@example.com","firstName":"SessionTest","lastName":"User1758524488","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7d7e2c67993d9bc127079d87cf88b0a3
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '496'
      x-rate-limit-reset:
      - '1758524515'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111q-SBT-lEXP4UMRiigD6MdG7KWCce1ZlG9vbksZc7z-Q23GONOk"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102etAqRbcPRXGtoDMIRXgWOQ","userId":"00uq9re9mup35oXfu1d7","login":"sessiontest.user1758524488@example.com","createdAt":"2025-09-22T07:01:28.000Z","expiresAt":"2025-09-22T09:01:28.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:28.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524488","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9896115b42bb831a40c7fae69b4cb531
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '362'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/102etAqRbcPRXGtoDMIRXgWOQ
  response:
    body:
      string: '{"id":"102etAqRbcPRXGtoDMIRXgWOQ","userId":"00uq9re9mup35oXfu1d7","login":"sessiontest.user1758524488@example.com","createdAt":"2025-09-22T07:01:28.000Z","expiresAt":"2025-09-22T09:01:28.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:28.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102nobB50ZZQbCoOvKsrzGE7g","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102nobB50ZZQbCoOvKsrzGE7g/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524488","href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6d5f0d1fcaf48d88402d4555c4b92fb8
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '361'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions/102etAqRbcPRXGtoDMIRXgWOQ/lifecycle/refresh
  response:
    body:
      string: '{"id":"102etAqRbcPRXGtoDMIRXgWOQ","userId":"00uq9re9mup35oXfu1d7","login":"sessiontest.user1758524488@example.com","createdAt":"2025-09-22T07:01:28.000Z","expiresAt":"2025-09-22T09:01:28.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:28.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102nobB50ZZQbCoOvKsrzGE7g","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102nobB50ZZQbCoOvKsrzGE7g/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524488","href":"https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e975f00bb518ad61bb7546c32748d3d7
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '360'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/102etAqRbcPRXGtoDMIRXgWOQ
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        102etAqRbcPRXGtoDMIRXgWOQ (AppSession)","errorLink":"E0000007","errorId":"oaeGUi6nuLJR7-bpOtUGm0bcA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8a3972966429352dbb2e43825cc85551
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '358'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4b78885dd1f6a650574d4828765230ed
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '291'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9re9mup35oXfu1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f3069d21bb3fdd59a0495fc8a0d60079
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1758524523'
    status:
      code: 204
      message: No Content
version: 1
