interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524466@example.com", "firstName": "SessionTest",
      "lastName": "User1758524466", "login": "sessiontest.user1758524466@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rori33OujKxL1d7","status":"ACTIVE","created":"2025-09-22T07:01:04.000Z","activated":"2025-09-22T07:01:05.000Z","statusChanged":"2025-09-22T07:01:05.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:01:05.000Z","passwordChanged":"2025-09-22T07:01:05.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524466","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524466@example.com","email":"sessiontest.user1758524466@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9f9f7721cb70270472bc6f2beefc10bf
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:06:07.000Z","status":"SUCCESS","sessionToken":"20111I3-DjPr5-hDBOCt9k9h3GqKe_uGzayfcrzMKo1-RQg1y2MPpil","_embedded":{"user":{"id":"00uq9rori33OujKxL1d7","passwordChanged":"2025-09-22T07:01:05.000Z","profile":{"login":"sessiontest.user1758524466@example.com","firstName":"SessionTest","lastName":"User1758524466","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5edd62162abef7d332e9ec78215cb289
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '498'
      x-rate-limit-reset:
      - '1758524515'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111I3-DjPr5-hDBOCt9k9h3GqKe_uGzayfcrzMKo1-RQg1y2MPpil"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"1022brAtyOQSZGkh9TWcngTtQ","userId":"00uq9rori33OujKxL1d7","login":"sessiontest.user1758524466@example.com","createdAt":"2025-09-22T07:01:06.000Z","expiresAt":"2025-09-22T09:01:06.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:01:06.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524466","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fd8cdd2983506bc659fd0e312fef5d54
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '370'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/1022brAtyOQSZGkh9TWcngTtQ
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 14fc3f64bb3012c02e1a4d4d1c751685
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '369'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session (AppSession)","errorLink":"E0000007","errorId":"oaev7TkoHLUQcuvABA792sZ2A","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 394a6f24c44cb2e72f231c38c2f30c27
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '368'
      x-rate-limit-reset:
      - '1758524517'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 54e1610f18b60194ab86380bea2bc629
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1758524510'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rori33OujKxL1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 27661cc614e9362cb614b19db97a587d
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758524523'
    status:
      code: 204
      message: No Content
version: 1
