interactions:
- request:
    body: '{"credentials": {"password": {"value": "TempPassword123!"}}, "profile":
      {"email": "sessiontest.user1758524524@example.com", "firstName": "SessionTest",
      "lastName": "User1758524524", "login": "sessiontest.user1758524524@example.com"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users?activate=true
  response:
    body:
      string: '{"id":"00uq9rgwq17X8QCUh1d7","status":"ACTIVE","created":"2025-09-22T07:02:02.000Z","activated":"2025-09-22T07:02:03.000Z","statusChanged":"2025-09-22T07:02:03.000Z","lastLogin":null,"lastUpdated":"2025-09-22T07:02:03.000Z","passwordChanged":"2025-09-22T07:02:03.000Z","realmId":"guonkwfhlqM6PFD8m1d7","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"SessionTest","lastName":"User1758524524","mobilePhone":null,"secondEmail":null,"login":"sessiontest.user1758524524@example.com","email":"sessiontest.user1758524524@example.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f606793921974e27a51a8d00586227b4
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1758524572'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://test.okta.com/api/v1/authn
  response:
    body:
      string: '{"expiresAt":"2025-09-22T07:07:05.000Z","status":"SUCCESS","sessionToken":"20111QNVlokewGva4TFUXo9UrytszPbVs9MCkTRDI_62MPVX31KOxCp","_embedded":{"user":{"id":"00uq9rgwq17X8QCUh1d7","passwordChanged":"2025-09-22T07:02:03.000Z","profile":{"login":"sessiontest.user1758524524@example.com","firstName":"SessionTest","lastName":"User1758524524","locale":"en_US","timeZone":"America/Los_Angeles"}}},"_links":{"cancel":{"href":"https://test.okta.com/api/v1/authn/cancel","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bfe7f3a7540b05ae16593daa9892cf70
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1758524584'
    status:
      code: 200
      message: OK
- request:
    body: '{"sessionToken": "20111QNVlokewGva4TFUXo9UrytszPbVs9MCkTRDI_62MPVX31KOxCp"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/sessions
  response:
    body:
      string: '{"id":"102ARR4i5bIQGy1Mig1K-zQTQ","userId":"00uq9rgwq17X8QCUh1d7","login":"sessiontest.user1758524524@example.com","createdAt":"2025-09-22T07:02:05.000Z","expiresAt":"2025-09-22T09:02:04.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:02:05.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/me","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/me/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524524","href":"https://test.okta.com/api/v1/users/me","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2da63c941e4d36aa0d5c37edb0b07550
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '372'
      x-rate-limit-reset:
      - '1758524577'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/102ARR4i5bIQGy1Mig1K-zQTQ
  response:
    body:
      string: '{"id":"102ARR4i5bIQGy1Mig1K-zQTQ","userId":"00uq9rgwq17X8QCUh1d7","login":"sessiontest.user1758524524@example.com","createdAt":"2025-09-22T07:02:05.000Z","expiresAt":"2025-09-22T09:02:04.000Z","status":"ACTIVE","lastPasswordVerification":"2025-09-22T07:02:05.000Z","lastFactorVerification":null,"amr":["pwd"],"idp":{"id":"00onkw1sbuAh3Q06I1d7","type":"OKTA"},"mfaActive":true,"_links":{"self":{"href":"https://test.okta.com/api/v1/sessions/102G5yCCp99SAiVByzZxZf79Q","hints":{"allow":["GET","DELETE"]}},"refresh":{"href":"https://test.okta.com/api/v1/sessions/102G5yCCp99SAiVByzZxZf79Q/lifecycle/refresh","hints":{"allow":["POST"]}},"user":{"name":"SessionTest
        User1758524524","href":"https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - dc762c17720192e8f7691ac33d8cf680
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '371'
      x-rate-limit-reset:
      - '1758524577'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/sessions/nonexistent_session
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent_session (AppSession)","errorLink":"E0000007","errorId":"oaeXKEismB8TnuWD7ar5eW_yw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f06e676ca06bc8d8686571b728517c59
      x-rate-limit-limit:
      - '375'
      x-rate-limit-remaining:
      - '369'
      x-rate-limit-reset:
      - '1758524577'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 86d5b8564f451ce2a01df823a7d93147
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1758524572'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00uq9rgwq17X8QCUh1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7ce6ef83b6c7a34b467641a232d5c48c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758524592'
    status:
      code: 204
      message: No Content
version: 1
