interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Schema to Delete", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe5w5xwoNtGla85d7","uiSchema":{"type":"Group","label":"Schema
        to Delete","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T19:29:49.000Z","lastUpdated":"2025-09-03T19:29:49.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5w5xwoNtGla85d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a085da1206bbc1a58fb6d64c749c2d75
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5w5xwoNtGla85d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 300fce869514674fe29f98c3169d2422
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5w5xwoNtGla85d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        uisqe5w5xwoNtGla85d7 (UISchemaEntity)","errorLink":"E0000007","errorId":"oaemjgONqhlQhOBbjlWIkwZEQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 24dff10b42b7b7310bb5b3f397e9fbca
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 404
      message: Not Found
version: 1
