interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}, {"type": "Control", "scope": "#/properties/lastName", "label": "Last
      Name", "options": {"format": "text"}}, {"type": "Control", "scope": "#/properties/email",
      "label": "Primary email", "options": {"format": "text"}}], "label": "Sign in",
      "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe5tnb4I0qWoe15d7","uiSchema":{"type":"Group","label":"Sign
        in","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Primary
        email","options":{"format":"text"}}]},"created":"2025-09-03T19:29:47.000Z","lastUpdated":"2025-09-03T19:29:47.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5tnb4I0qWoe15d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c2e74f68fd0ff1b4f1de8829d76c9f44
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5tnb4I0qWoe15d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6afb224db9ca22904e678ca2c39d3adf
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 204
      message: No Content
version: 1
