interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/non-existent-id
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        non-existent-id (UISchemaEntity)","errorLink":"E0000007","errorId":"oaeBLdueDIoQG-OgCWfIRq7CA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 845d08c9f0bef1681d6ab6bf1408202f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/non-existent-id
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 010e05d9a7d6a1da848d33d3782f3e77
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 204
      message: No Content
version: 1
