interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Create", "elements": [{"type": "Control",
      "scope": "#/properties/username", "label": "Username", "options": {"format":
      "text"}}], "label": "CRUD Test Schema", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: elements","errorLink":"E0000001","errorId":"oaehG8aR2lBSDuo5cK_o4FZCg","errorCauses":[{"errorSummary":"elements:
        Element #/properties/username doesn''t have a corresponding user attribute
        in the Profile Editor."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a85f4e2356db16cf560751a1dfe774dd
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756922412'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Create", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}], "label": "CRUD Test Schema", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe3yhtgJ4aV6975d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T18:00:31.000Z","lastUpdated":"2025-09-03T18:00:31.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe3yhtgJ4aV6975d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 78b33c4a074d478a992df92b50ea9cc4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756922490'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe3yhtgJ4aV6975d7
  response:
    body:
      string: '{"id":"uisqe3yhtgJ4aV6975d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T18:00:31.000Z","lastUpdated":"2025-09-03T18:00:31.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe3yhtgJ4aV6975d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 41aa182a91e9c0d4b8a2e8a8c833e55c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756922490'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe3y8iyQ6QytBW5d7
  response:
    body:
      string: '{"id":"uisqe3y8iyQ6QytBW5d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T18:00:57.000Z","lastUpdated":"2025-09-03T18:00:57.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe3y8iyQ6QytBW5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1cea34ef3cf942ba1c2a1b1f625be260
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1756922490'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe58rztuHFpLWC5d7
  response:
    body:
      string: '{"id":"uisqe58rztuHFpLWC5d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T19:02:32.000Z","lastUpdated":"2025-09-03T19:02:32.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe58rztuHFpLWC5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c5fba52f28f212347b9feae9a8dd58f4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1756926185'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5pjwioQ8Tf0O5d7
  response:
    body:
      string: '{"id":"uisqe5pjwioQ8Tf0O5d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T19:23:03.000Z","lastUpdated":"2025-09-03T19:23:03.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5pjwioQ8Tf0O5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 93016985b234dcc706ea67350cd82c8d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5pjwioQ8Tf0O5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8130ec1a71f3fd4a29b6926da3fb1e44
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 204
      message: No Content
version: 1
