interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/non-existent-id
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        non-existent-id (UISchemaEntity)","errorLink":"E0000007","errorId":"oaeSmWVM31hRkWDn8-uqn4RuA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ab5fd40ba4abdde3b0cb46169b17edbc
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756925703'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/non-existent-id
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3f287ae353865aa640f75c2fd6348d61
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '28'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 204
      message: No Content
version: 1
