interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '[{"id":"uisnwmp14wbKosCTD5d7","uiSchema":{"type":"Group","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Email","options":{"format":"text"}}]},"created":"2025-03-19T09:20:47.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisnwmp14wbKosCTD5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0ff1c996d6496b713ff038795612a435
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756761344'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '[{"id":"uisnwmp14wbKosCTD5d7","uiSchema":{"type":"Group","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Email","options":{"format":"text"}}]},"created":"2025-03-19T09:20:47.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisnwmp14wbKosCTD5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 14f73afa045eb60d04ff102d072fabf9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 200
      message: OK
version: 1
