interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}, {"type": "Control", "scope": "#/properties/lastName", "label": "Last
      Name", "options": {"format": "text"}}, {"type": "Control", "scope": "#/properties/email",
      "label": "Primary email", "options": {"format": "text"}}], "label": "Sign in",
      "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe5unt3mS21G9Y5d7","uiSchema":{"type":"Group","label":"Sign
        in","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Primary
        email","options":{"format":"text"}}]},"created":"2025-09-03T19:29:41.000Z","lastUpdated":"2025-09-03T19:29:41.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5unt3mS21G9Y5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7a16704511ff1098458f48a8fa76e450
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '34'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5unt3mS21G9Y5d7
  response:
    body:
      string: '{"id":"uisqe5unt3mS21G9Y5d7","uiSchema":{"type":"Group","label":"Sign
        in","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Primary
        email","options":{"format":"text"}}]},"created":"2025-09-03T19:29:41.000Z","lastUpdated":"2025-09-03T19:29:41.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5unt3mS21G9Y5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e1e3793bcb1b273c79e575edef697e62
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5unt3mS21G9Y5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 425a2db631a76deb22f8289912bdbfcb
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756927843'
    status:
      code: 204
      message: No Content
version: 1
