interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}, {"type": "Control", "scope": "#/properties/lastName", "label": "Last
      Name", "options": {"format": "text"}}, {"type": "Control", "scope": "#/properties/email",
      "label": "Primary email", "options": {"format": "text"}}], "label": "Sign in",
      "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe5uuypgVMWM4N5d7","uiSchema":{"type":"Group","label":"Sign
        in","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Primary
        email","options":{"format":"text"}}]},"created":"2025-09-03T19:29:27.000Z","lastUpdated":"2025-09-03T19:29:27.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5uuypgVMWM4N5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 415eb2b89224069755212f2245fa05c6
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 200
      message: OK
- request:
    body: '{"uiSchema": {"buttonLabel": "Save Changes", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Updated Schema Label", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5uuypgVMWM4N5d7
  response:
    body:
      string: '{"id":"uisqe5uuypgVMWM4N5d7","uiSchema":{"type":"Group","label":"Updated
        Schema Label","buttonLabel":"Save Changes","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T19:29:27.000Z","lastUpdated":"2025-09-03T19:29:28.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5uuypgVMWM4N5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8d9f43f982c4011b372cefe0c642fb22
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5uuypgVMWM4N5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a1ab2408bacb8eb8caaaa4b056e21570
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 204
      message: No Content
version: 1
