interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/testField", "label": "Test Field", "options": {"format":
      "text"}}], "label": "Schema to Delete", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: elements","errorLink":"E0000001","errorId":"oae_7y8SKASTxyFVZtA2kj-NQ","errorCauses":[{"errorSummary":"elements:
        Element #/properties/testField doesn''t have a corresponding user attribute
        in the Profile Editor."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 658fcfb71a5f6d7be0b50542100c03f0
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756922039'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Schema to Delete", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe3qidbWqgZPbc5d7","uiSchema":{"type":"Group","label":"Schema
        to Delete","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T17:53:27.000Z","lastUpdated":"2025-09-03T17:53:27.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe3qidbWqgZPbc5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 38d7627481c3c087a02eff1e34c12154
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756922039'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe3qidbWqgZPbc5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c819be860ef05d19bcfd2fc10acf1057
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1756922039'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe59d1meHSrIK35d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e7b81aee7fe3acc108d1ceb0d7c1543e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '33'
      x-rate-limit-reset:
      - '1756926185'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5mjebSdXIIeg5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0276b5b637a47503adef576780a11968
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '31'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5mjebSdXIIeg5d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        uisqe5mjebSdXIIeg5d7 (UISchemaEntity)","errorLink":"E0000007","errorId":"oaeIL7h6i6dTNu2WcxzgMRYGA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 72efdc61016fb264eb42ecaef93b73d7
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '30'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 404
      message: Not Found
version: 1
