interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}, {"type": "Control", "scope": "#/properties/lastName", "label": "Last
      Name", "options": {"format": "text"}}, {"type": "Control", "scope": "#/properties/email",
      "label": "Primary email", "options": {"format": "text"}}], "label": "Sign in",
      "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqdufmadQ9EDDd55d7","uiSchema":{"type":"Group","label":"Sign
        in","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Primary
        email","options":{"format":"text"}}]},"created":"2025-09-03T10:53:48.000Z","lastUpdated":"2025-09-03T10:53:48.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqdufmadQ9EDDd55d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0eadbb562581ae635677d9d79dd9d985
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756896888'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqdufmadQ9EDDd55d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 94f6b2ca0c5283fc71c3be1327b4ec14
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756896888'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Save Changes", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}, {"type": "Control", "scope": "#/properties/phone", "label": "Phone
      Number", "options": {"format": "text"}}], "label": "Updated Schema Label", "type":
      "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqdufut7hmVDrPw5d7
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: elements","errorLink":"E0000001","errorId":"oaeeOL2uQ69TIy3oTHT_U6r2w","errorCauses":[{"errorSummary":"elements:
        Element #/properties/phone doesn''t have a corresponding user attribute in
        the Profile Editor."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 477eaab745461b13a03a707d0da23ca3
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1756896888'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Save Changes", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Updated Schema Label", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqduebkvhRSQ7qW5d7
  response:
    body:
      string: '{"id":"uisqduebkvhRSQ7qW5d7","uiSchema":{"type":"Group","label":"Updated
        Schema Label","buttonLabel":"Save Changes","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T10:55:28.000Z","lastUpdated":"2025-09-03T10:55:29.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqduebkvhRSQ7qW5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e5b25ad656c2d4789ecf86e613142eb8
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756896988'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Save Changes", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Updated Schema Label", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqdug2jvmfGD9RM5d7
  response:
    body:
      string: '{"id":"uisqdug2jvmfGD9RM5d7","uiSchema":{"type":"Group","label":"Updated
        Schema Label","buttonLabel":"Save Changes","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T10:55:46.000Z","lastUpdated":"2025-09-03T10:55:48.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqdug2jvmfGD9RM5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3c957d3bde24ee4a7dcef7c2f272ea48
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1756896988'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Save Changes", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Updated Schema Label", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe57ydyvE80Lv55d7
  response:
    body:
      string: '{"id":"uisqe57ydyvE80Lv55d7","uiSchema":{"type":"Group","label":"Updated
        Schema Label","buttonLabel":"Save Changes","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T19:02:49.000Z","lastUpdated":"2025-09-03T19:02:50.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe57ydyvE80Lv55d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c39885ed7a67f73b273135a27043bd11
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '30'
      x-rate-limit-reset:
      - '1756926185'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Save Changes", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email Address", "options": {"format":
      "text"}}], "label": "Updated Schema Label", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5pzxpit98hEA5d7
  response:
    body:
      string: '{"id":"uisqe5pzxpit98hEA5d7","uiSchema":{"type":"Group","label":"Updated
        Schema Label","buttonLabel":"Save Changes","elements":[{"type":"Control","scope":"#/properties/email","label":"Email
        Address","options":{"format":"text"}}]},"created":"2025-09-03T19:23:17.000Z","lastUpdated":"2025-09-03T19:23:18.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5pzxpit98hEA5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 22257d231bfc22ef57a624b8b5e6ed02
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '35'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5pzxpit98hEA5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a38d436c955018ed462984fadcc21d34
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '33'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 204
      message: No Content
version: 1
