interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Create", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}], "label": "CRUD Test Schema", "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe5ue18XP0xovv5d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T19:29:32.000Z","lastUpdated":"2025-09-03T19:29:32.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5ue18XP0xovv5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bc4e82bdb42f6abe9e7eb243207dbe24
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5ue18XP0xovv5d7
  response:
    body:
      string: '{"id":"uisqe5ue18XP0xovv5d7","uiSchema":{"type":"Group","label":"CRUD
        Test Schema","buttonLabel":"Create","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}}]},"created":"2025-09-03T19:29:32.000Z","lastUpdated":"2025-09-03T19:29:32.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5ue18XP0xovv5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4196261a609a1b198a80a7d9a5889aa9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '40'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5ue18XP0xovv5d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        uisqe5ue18XP0xovv5d7 (UISchemaEntity)","errorLink":"E0000007","errorId":"oaeiMCveKkaSUO_7-0msnA0Cw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9c85fb3f9f6a41e3b8a0a1c012e4d591
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '36'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5ue18XP0xovv5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3c992841549b3b52881389d28537da7e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '35'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 204
      message: No Content
version: 1
