interactions:
- request:
    body: '{"uiSchema": {"buttonLabel": "Register", "elements": [{"type": "Control",
      "scope": "#/properties/email", "label": "Email", "options": {"format": "email"}},
      {"type": "Control", "scope": "#/properties/password", "label": "Password", "options":
      {"format": "password"}}, {"type": "Control", "scope": "#/properties/firstName",
      "label": "First Name", "options": {"format": "text"}}, {"type": "Control", "scope":
      "#/properties/lastName", "label": "Last Name", "options": {"format": "text"}},
      {"type": "Control", "scope": "#/properties/department", "label": "Department",
      "options": {"format": "text"}}], "label": "Complex Registration Form", "type":
      "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"errorCode":"E0000003","errorSummary":"The request body was not well-formed.","errorLink":"E0000003","errorId":"oaebOQ82RRaQcyBg9K8J58B_g","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 39af9609437d02f8de16ecf8108dfb7d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756925941'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"uiSchema": {"buttonLabel": "Submit", "elements": [{"type": "Control",
      "scope": "#/properties/firstName", "label": "First Name", "options": {"format":
      "text"}}, {"type": "Control", "scope": "#/properties/lastName", "label": "Last
      Name", "options": {"format": "text"}}, {"type": "Control", "scope": "#/properties/email",
      "label": "Primary email", "options": {"format": "text"}}], "label": "Sign in",
      "type": "Group"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '{"id":"uisqe5819sHLPvmv05d7","uiSchema":{"type":"Group","label":"Sign
        in","buttonLabel":"Submit","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        Name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Primary
        email","options":{"format":"text"}}]},"created":"2025-09-03T19:02:05.000Z","lastUpdated":"2025-09-03T19:02:05.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisqe5819sHLPvmv05d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a99c7ee77c9ed78f813965a02be82e00
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1756926185'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5819sHLPvmv05d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e0c0a0ead627c09fca4903396b47bbc5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1756926185'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe58s0eclHtVjx5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5ec78439ce540849d54933ae0de77a18
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '38'
      x-rate-limit-reset:
      - '1756926185'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/meta/uischemas/uisqe5p2slS4a8d6y5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9687c7c77ae1ca5bb0fa8f7ad6836a8a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '37'
      x-rate-limit-reset:
      - '1756927443'
    status:
      code: 204
      message: No Content
version: 1
