interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/meta/uischemas
  response:
    body:
      string: '[{"id":"uisnwmp14wbKosCTD5d7","uiSchema":{"type":"Group","elements":[{"type":"Control","scope":"#/properties/firstName","label":"First
        name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/lastName","label":"Last
        name","options":{"format":"text"}},{"type":"Control","scope":"#/properties/email","label":"Email","options":{"format":"text"}}]},"created":"2025-03-19T09:20:47.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/uischemas/uisnwmp14wbKosCTD5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 70493a4ba41c32d137fd12a3e08007cc
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1756927781'
    status:
      code: 200
      message: OK
version: 1
