interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/subscribe
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfgbSQf-6VtkVf9As8x3ugAADxI
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1643649922'
    status:
      code: 200
      message: OK
    url: https://test.okta.com//api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/subscribe
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE
  response:
    body:
      string: '{"notificationType":"OKTA_ISSUE","channels":["email"],"status":"subscribed","_links":{"unsubscribe":{"href":"https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/unsubscribe","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE"}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfgbSROvqStTJzrY7jPmnwAAD1s
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1643649922'
    status:
      code: 200
      message: OK
    url: https://test.okta.com//api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/unsubscribe
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfgbSsGjgvzYPHDWAwiBkwAACCc
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1643649922'
    status:
      code: 200
      message: OK
    url: https://test.okta.com//api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/unsubscribe
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE
  response:
    body:
      string: '{"notificationType":"OKTA_ISSUE","channels":["email"],"status":"unsubscribed","_links":{"subscribe":{"href":"https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/subscribe","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE"}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfgbS7H@AunFdSGfbQ1EnAAAB6o
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '94'
      x-rate-limit-reset:
      - '1643649922'
    status:
      code: 200
      message: OK
    url: https://test.okta.com//api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/subscribe
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YfgbTMGjgvzYPHDWAwiBoAAAB-s
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '93'
      x-rate-limit-reset:
      - '1643649922'
    status:
      code: 200
      message: OK
    url: https://test.okta.com//api/v1/roles/SUPER_ADMIN/subscriptions/OKTA_ISSUE/subscribe
version: 1
