interactions:
- request:
    body: '{"name": "python_sdk_domain_brand"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '{"id":"bndsdaff13UXTOS0L5d7","name":"python_sdk_domain_brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndsdaff13UXTOS0L5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndsdaff13UXTOS0L5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1246fd4ddb77827d425857aae2a0101c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1768139748'
    status:
      code: 201
      message: Created
- request:
    body: '{"certificateSourceType": "OKTA_MANAGED", "domain": "pythonsdkdomain.example.com"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/domains
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: domain","errorLink":"E0000001","errorId":"oae_i9u_3gtRSG0iLAxmnIU9g","errorCauses":[{"errorSummary":"domain:
        Prohibited custom domain name."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f2299a11dfdf00c820fe7a67a0d98983
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '14'
      x-rate-limit-reset:
      - '1768139749'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/brands/bndsdaff13UXTOS0L5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b0145aee252d4654f77aaba17763523d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1768139748'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/domains
  response:
    body:
      string: '{"domains":[{"id":"default","domain":"dev-20982288.okta.com","certificateSourceType":"OKTA_MANAGED","validationStatus":"COMPLETED","brandId":"bndnwlw0p87d5HCgg5d7","_links":{"self":{"href":"https://test.okta.com/api/v1/domains/default","hints":{"allow":["GET"]}},"brand":{"href":"https://test.okta.com/api/v1/brands/bndnwlw0p87d5HCgg5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 036c6b4a325ae74df7decbdcdcbd737a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1768139806'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/domains/default
  response:
    body:
      string: '{"id":"default","domain":"dev-20982288.okta.com","certificateSourceType":"OKTA_MANAGED","validationStatus":"COMPLETED","brandId":"bndnwlw0p87d5HCgg5d7","_links":{"self":{"href":"https://test.okta.com/api/v1/domains/default","hints":{"allow":["GET"]}},"brand":{"href":"https://test.okta.com/api/v1/brands/bndnwlw0p87d5HCgg5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 52a2c6997d7fc7ae3ee25bdd690fc0ba
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1768139806'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/domains/default/verify
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: id","errorLink":"E0000001","errorId":"oaeRNzibGlzRJmYs18hsMUU-g","errorCauses":[{"errorSummary":"This
        operation is not supported for this domain"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5ac1f93f9938485fdba371ade4493bff
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '13'
      x-rate-limit-reset:
      - '1768139749'
    status:
      code: 400
      message: Bad Request
version: 1
