interactions:
- request:
    body: '{"name": "python_sdk_pages_brand"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '{"id":"bndsdaleqnXyeVSpL5d7","name":"python_sdk_pages_brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1a47defab1b493987f1010b1173235fa
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/pages/sign-in/default
  response:
    body:
      string: '{"pageContent":"<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\"
        \"http://www.w3.org/TR/html4/strict.dtd\">\n<html>\n<head>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n    <meta name=\"robots\" content=\"noindex,nofollow\"
        />\n    <!-- Styles generated from theme -->\n    <link href=\"{{themedStylesUrl}}\"
        rel=\"stylesheet\" type=\"text/css\">\n    <!-- Favicon from theme -->\n    <link
        rel=\"shortcut icon\" href=\"{{faviconUrl}}\" type=\"image/x-icon\"/>\n\n    <title>{{pageTitle}}</title>\n    {{{SignInWidgetResources}}}\n\n    <style
        nonce=\"{{nonceValue}}\">\n        {{#useSiwGen3}}\n        html {\n            font-size:
        87.5%;\n        }\n        {{/useSiwGen3}}\n\n        #login-bg-image-id {\n            background-image:
        {{bgImageUrl}}\n        }\n    </style>\n</head>\n<body>\n    <div id=\"login-bg-image-id\"
        class=\"login-bg-image tb--background\"></div>\n    <div id=\"okta-login-container\"></div>\n\n    <!--\n        \"OktaUtil\"
        defines a global OktaUtil object\n        that contains methods used to complete
        the Okta login flow.\n     -->\n    {{{OktaUtil}}}\n\n    <script type=\"text/javascript\"
        nonce=\"{{nonceValue}}\">\n        // \"config\" object contains default widget
        configuration\n        // with any custom overrides defined in your admin
        settings.\n        var config = OktaUtil.getSignInWidgetConfig();\n\n        //
        Render the Okta Sign-In Widget\n        var oktaSignIn = new OktaSignIn(config);\n        oktaSignIn.renderEl({
        el: ''#okta-login-container'' },\n            OktaUtil.completeLogin,\n            function(error)
        {\n                // Logs errors that occur when configuring the widget.\n                //
        Remove or replace this with your own custom error handler.\n                console.log(error.message,
        error);\n            }\n        );\n    </script>\n</body>\n</html>\n","contentSecurityPolicySetting":{"mode":"enforced"},"widgetVersion":"^7","widgetCustomizations":{"signInLabel":"Sign
        In","usernameLabel":"Username","usernameInfoTip":"","passwordLabel":"Password","passwordInfoTip":"","showPasswordVisibilityToggle":true,"showUserIdentifier":true,"forgotPasswordLabel":"Forgot
        password?","forgotPasswordUrl":"","unlockAccountLabel":"Unlock account?","unlockAccountUrl":"","helpLabel":"Help","helpUrl":"","customLink1Label":"","customLink1Url":"","customLink2Label":"","customLink2Url":"","authenticatorPageCustomLinkLabel":"","authenticatorPageCustomLinkUrl":"","classicRecoveryFlowEmailOrUsernameLabel":"Email
        or Username","widgetGeneration":"G2"}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 93c31d054c648d4d28cb8a5a6aea6f9a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 200
      message: OK
- request:
    body: '{"pageContent": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Custom Sign-In</title>\n</head>\n<body>\n    <div
      id=\"okta-sign-in\"></div>\n    <script>\n        // Custom sign-in page for
      testing\n    </script>\n</body>\n</html>", "widgetCustomizations": {"widgetGeneration":
      "G3"}, "widgetVersion": "*"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/[...]
[...]
- request:
    body: '{"pageContent": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Preview Sign-In</title>\n</head>\n<body>\n    <div
      id=\"okta-sign-in\"></div>\n    <script>\n        // Preview sign-in page for
      testing\n    </script>\n</body>\n</html>", "widgetCustomizations": {"widgetGeneration":
      "G3"}, "widgetVersion": "*"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/ap[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/pages/error/default
  response:
    body:
      string: '{"pageContent":"<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\"
        \"http://www.w3.org/TR/html4/strict.dtd\">\n<html>\n<head>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n    <meta name=\"robots\" content=\"noindex,nofollow\"
        />\n\n    <title>{{orgName}} - {{errorSummary}}</title>\n\n    <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/assets/css/sections/errors-v2.css\">\n\n    <!--
        Styles generated from theme -->\n    <link href=\"{{themedStylesUrl}}\" rel=\"stylesheet\"
        type=\"text/css\">\n\n    <!-- Favicon from theme -->\n    <link rel=\"shortcut
        icon\" href=\"{{faviconUrl}}\" type=\"image/x-icon\"/>\n\n    {{{ErrorPageResources}}}\n\n    <style
        nonce=\"{{nonceValue}}\">\n        #login-bg-image-id {\n            background-image:
        {{bgImageUrl}}\n        }\n    </style>\n</head>\n<body>\n<div id=\"login-bg-image-id\"
        class=\"login-bg-image tb--background\"></div>\n<div class=\"widget\">\n    <div
        class=\"container\">\n        <div class=\"header\">\n            <img alt=\"{{orgName}}\"
        src=\"{{orgLogo}}\" class=\"org-logo\">\n        </div>\n        <div class=\"illustration\">\n            <!--
        Show HTTP error code if exists -->\n            {{#httpStatusCode}}\n            <div
        class=\"error-code\">{{httpStatusCode}}</div>\n            {{/httpStatusCode}}\n            <!--
        Show generic error image if not  -->\n            {{^httpStatusCode}}\n            <img
        alt=\"{{errorSummary}}\" src=\"/assets/img/icons/alert.png\" />\n            {{/httpStatusCode}}\n        </div>\n        <div
        class=\"content\">\n            <h2 class=\"o-form-title\">{{errorSummary}}</h2>\n            <p
        class=\"o-form-explain\">{{{errorDescription}}}</p>\n            <a href=\"{{buttonHref}}\"
        class=\"button tb--button\">{{buttonText}}</a>\n\n            {{#technicalDetails}}\n            <div
        class=\"footer\">\n                <a class=\"non-link\">\n                    {{technicalDetailsHeading}}\n                </a>
        <span class=\"dropdown-arrow\">&#9662;</span>\n                <p class=\"technical-details\">{{technicalDetails}}</p>\n            </div>\n            {{/technicalDetails}}\n        </div>\n    </div>\n</div>\n</body>\n</html>","contentSecurityPolicySetting":{"mode":"enforced"}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1371f23e960779efbf0e96c01452e441
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 200
      message: OK
- request:
    body: '{"pageContent": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Custom Error
      Page</title>\n</head>\n<body>\n    <h1>Custom Error</h1>\n    <p>Something went
      wrong. Please try again.</p>\n</body>\n</html>"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/pages/error/customized
  response:
    body:
      string: '{"pageContent":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Custom
        Error Page</title>\n</head>\n<body>\n    <h1>Custom Error</h1>\n    <p>Something
        went wrong. Please try again.</p>\n</body>\n</html>"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c90ed14356796819c6f15eb4ae433ac6
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '40'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"pageContent": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Preview Error
      Page</title>\n</head>\n<body>\n    <h1>Preview Error</h1>\n    <p>This is a
      preview error page.</p>\n</body>\n</html>"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/pages/error/preview
  response:
    body:
      string: '{"pageContent":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Preview
        Error Page</title>\n</head>\n<body>\n    <h1>Preview Error</h1>\n    <p>This
        is a preview error page.</p>\n</body>\n</html>"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 768ca93c17fa4f52c50e5aa88c93bd88
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '38'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/pages/sign-out/customized
  response:
    body:
      string: '{"type":"OKTA_DEFAULT"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9f4623bcd9325eac719b30b8b81a362d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '34'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7/pages/sign-in/widget-versions
  response:
    body:
      string: '["5.11","5.12","5.13","5.14","5.15","5.16","^5","6.0","6.1","6.2","6.3","6.4","6.5","6.6","6.7","6.8","6.9","^6","7.0","7.1","7.2","7.3","7.4","7.5","7.6","7.7","7.8","7.9","7.10","7.11","7.12","7.13","7.14","7.15","7.16","7.17","7.18","7.19","7.20","7.21","7.22","7.23","7.24","7.25","7.26","7.27","7.28","7.29","7.30","7.31","7.32","7.33","7.34","7.35","7.36","7.37","7.38","^7","*"]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f708c906cce36834566cd59237f9246c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '32'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/brands/bndsdaleqnXyeVSpL5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 526d69e3ce9323e596ac0dc89205ad9b
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '31'
      x-rate-limit-reset:
      - '1768140854'
    status:
      code: 204
      message: No Content
version: 1
