# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
version: 2.1

orbs:
  python: circleci/python@3.3.0
  platform-helpers-general: okta/general-platform-helpers@1.8
  aws-cli: circleci/aws-cli@5.1

jobs:
  build:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: |
            pip install --upgrade pip setuptools wheel
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ~/.cache/pip
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Build Distribution
          command: |
            python setup.py sdist bdist_wheel
      - persist_to_workspace:
          root: ~/project
          paths:
            - dist
            - ./*
  
  unit_tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: |
            pip install --upgrade pip setuptools wheel
            pip install -r requirements.txt
      - run:
          name: Run Unit Tests
          command: |
            pytest tests/unit -v --junitxml=test-results/unit/junit.xml || true
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  
  integration_tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: |
            pip install --upgrade pip setuptools wheel
            pip install -r requirements.txt
      - run:
          name: Run Integration Tests
          command: |
            pytest tests/integration -v --junitxml=test-results/integration/junit.xml || true
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  
  snyk-scan:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: |
            pip install --upgrade pip
            pip install -r requirements.txt
      - platform-helpers-general/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          run-on-non-main: true
  reversing-labs:
    docker:
      - image: cimg/python:3.10
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: pip wheel -r requirements.txt -w _vendor/
      - run:
          name: Download Reverse Labs Scanner
          command: |
            curl https://dso-resources.oktasecurity.com/scanner \
              -H "x-api-key: $RESOURCE_TOKEN" \
              --output rl_wrapper-0.0.2+35ababa-py3-none-any.whl
      - run:
          name: Install RL Wrapper
          command: |
            pip install ./rl_wrapper-0.0.2+35ababa-py3-none-any.whl
      - aws-cli/setup:
          profile_name: default
          role_arn: $AWS_ARN
          region: us-east-1
      - run: >-
          eval "$(aws configure export-credentials --profile default --format env)" 2> /dev/null
      - run:
          name: Run Reversing Labs Wrapper Scanner
          command: |
            rl-wrapper \
              --artifact ${CIRCLE_WORKING_DIRECTORY/#\~/$HOME} \
              --name $CIRCLE_PROJECT_REPONAME\
              --version $CIRCLE_SHA1\
              --repository $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME \
              --commit $CIRCLE_SHA1 \
              --build-env "circleci" \
              --suppress_output

  publish_to_pypi:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Install Twine
          command: |
            pip install --upgrade pip twine
      - run:
          name: Verify Distribution
          command: |
            twine check dist/*
      - run:
          name: Publish to PyPI
          command: |
            twine upload dist/* --username __token__ --password $PYPI_TOKEN

workflows:
  # Workflow for non-production: PRs and non-master branches (internal contributors)
  non-prod:
    jobs:
      # Security scans run first in parallel
      - snyk-scan:
          context:
            - static-analysis
      
      - reversing-labs:
          context:
            - okta-dcp
      
      # Build only after security scans pass
      - build:
          requires:
            - snyk-scan
            - reversing-labs
      
      # Unit tests run after build succeeds
      - unit_tests:
          requires:
            - build
      
      # Integration tests run after unit tests pass
      - integration_tests:
          requires:
            - unit_tests
  
  # Workflow for external contributors (forked repository PRs)
  # Security scans may be skipped due to missing context access
  contributors:
    jobs:
      # Build runs first for external contributors
      - build:
          filters:
            branches:
              # This will run on forked PR branches
              only: /pull\/[0-9]+/
      
      # Unit tests run after build succeeds
      - unit_tests:
          requires:
            - build
          filters:
            branches:
              only: /pull\/[0-9]+/
      
      # Integration tests run after unit tests pass
      - integration_tests:
          requires:
            - unit_tests
          filters:
            branches:
              only: /pull\/[0-9]+/
  
  # Production workflow - only runs on master branch
  prod:
    jobs:
      # Security scans run first in parallel
      - snyk-scan:
          context:
            - static-analysis
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      
      - reversing-labs:
          context:
            - okta-dcp
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      
      # Build only after security scans pass
      - build:
          requires:
            - snyk-scan
            - reversing-labs
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      
      # Unit tests run after build succeeds
      - unit_tests:
          requires:
            - build
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      
      # Integration tests run after unit tests pass
      - integration_tests:
          requires:
            - unit_tests
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      
      # Publish only after all tests are successful
      - publish_to_pypi:
          context:
            - pypi-publish
          requires:
            - integration_tests
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
