# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
version: 2.1

orbs:
  python: circleci/python@3.3.0
  platform-helpers-general: okta/general-platform-helpers@1.8
  aws-cli: circleci/aws-cli@5.1

jobs:
  build_and_test:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Build
          command: python setup.py build
      - run:
          name: Run Integration Tests
          command: pytest tests/integration
  snyk-scan:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace: # Allows for sharing of build-workspace (containing downloaded dependencies) (optional)
          at: ~/project # This is the working directory for CCI containers, change if necessary
      - checkout # Might not need this if you have "persist_to_workspace" and "attach_workspace"
      - run: |   # Might not need this if you have "persist_to_workspace" and "attach_workspace"
          pip install -r requirements.txt
      - platform-helpers-general/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          run-on-non-main: true
  reversing-labs:
    docker:
      - image: cimg/python:3.10
    resource_class: large
    steps:
      - checkout

      - run:
          name: Install Dependencies
          command: pip wheel -r requirements.txt -w _vendor/

      - run:
          name: Download Reverse Labs Scanner
          command: |
            curl https://dso-resources.oktasecurity.com/scanner \
              -H "x-api-key: $RESOURCE_TOKEN" \
              --output rl_wrapper-0.0.2+35ababa-py3-none-any.whl
      # Install the wrapper that was downloaded
      - run:
          name: Install RL Wrapper
          command: |
            pip install ./rl_wrapper-0.0.2+35ababa-py3-none-any.whl
      # Setup the AWS profile
      - aws-cli/setup:
          profile_name: default
          role_arn: $AWS_ARN
          region: us-east-1
      # Get the credentials and save to env
      - run: >-
          eval "$(aws configure export-credentials --profile default --format env)" 2> /dev/null
      # Run the wrapper, do not change anything here
      - run:
          name: Run Reversing Labs Wrapper Scanner
          command: |
            rl-wrapper \
              --artifact ${CIRCLE_WORKING_DIRECTORY/#\~/$HOME} \
              --name $CIRCLE_PROJECT_REPONAME\
              --version $CIRCLE_SHA1\
              --repository $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME \
              --commit $CIRCLE_SHA1 \
              --build-env "circleci" \
              --suppress_output

workflows:
  "Circle CI Tests":
    jobs:
      - build_and_test
      - snyk-scan:
          context:
            - static-analysis
          name: execute-snyk

  "Malware Scanner":
    jobs:
      - reversing-labs:
          context:
            - static-analysis

