interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/captchas/cap0000000000000000000
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        cap0000000000000000000 (Captcha)","errorLink":"E0000007","errorId":"oaeLfC3_6s8RFG0ejMSI7IPng","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 43fea66e32b773ff38266bd60e527f40
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1758675364'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name": "Invalid Update", "secretKey": "invalid-secret-key", "siteKey":
      "invalid-site-key", "type": "HCAPTCHA"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/captchas/cap0000000000000000000
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        cap0000000000000000000 (Captcha)","errorLink":"E0000007","errorId":"oaeNFa7x-3LSHWaI7xnrxltmg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5197e4cbdf2110d212ae6a240846dad9
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '493'
      x-rate-limit-reset:
      - '1758675364'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name": "Invalid Update", "secretKey": "invalid-secret-key", "siteKey":
      "invalid-site-key", "type": "HCAPTCHA"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/captchas/cap0000000000000000000
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        cap0000000000000000000 (Captcha)","errorLink":"E0000007","errorId":"oaeTgMh1zKcSmKED7Yuf8ixpw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f3053baff7a1ee1c815df26d37cc3aaf
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '491'
      x-rate-limit-reset:
      - '1758675364'
    status:
      code: 404
      message: Not Found
version: 1
