interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/org/captcha
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e11461e4e5b60cc639ddaa8d12f3dbb2
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/captchas
  response:
    body:
      string: '[{"id":"capqbrctwq9RMXB0K1d7","name":"Preload Replace Test","siteKey":"60000000-ffff-ffff-ffff-000000000006","type":"RECAPTCHA_V2","_links":{"self":{"href":"https://test.okta.com/api/v1/captchas/capqbrctwq9RMXB0K1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 342f596c4e6f294f962f0985ccb4710c
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '498'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/captchas/capqbrctwq9RMXB0K1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a7ded5449759ee90337df67fcb852c5b
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '497'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 204
      message: No Content
- request:
    body: '{"name": "Test CAPTCHA Instance", "secretKey": "0x0000000000000000000000000000000000000000",
      "siteKey": "10000000-ffff-ffff-ffff-000000000001", "type": "HCAPTCHA"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/captchas
  response:
    body:
      string: '{"id":"capqbriq05JvW9D6g1d7","name":"Test CAPTCHA Instance","siteKey":"10000000-ffff-ffff-ffff-000000000001","type":"HCAPTCHA","_links":{"self":{"href":"https://test.okta.com/api/v1/captchas/capqbriq05JvW9D6g1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 03f89c621436bd63c92e6a5996ef7185
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '496'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "Preload Test Instance", "secretKey": "0x4444444444444444444444444444444444444444",
      "siteKey": "50000000-ffff-ffff-ffff-000000000005", "type": "RECAPTCHA_V2"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/captchas
  response:
    body:
      string: '{"errorCode":"E0000166","errorSummary":"CAPTCHA count limit reached.
        At most one CAPTCHA instance is allowed per Org. Please remove existing CAPTCHA
        to create a new one.","errorLink":"E0000166","errorId":"oaeS82i74ZMTVeAmz8OljD7bQ","errorCauses":[{"errorSummary":"CAPTCHA
        count limit reached. At most one CAPTCHA instance is allowed per Org. Please
        remove existing CAPTCHA to create a new one.","reason":"EXCEEDS_MAX_VALUE","locationType":"url","domain":"captcha"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - db5195b83eb0c74f31c622f98fa50525
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '495'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/captchas/capqbriq05JvW9D6g1d7
  response:
    body:
      string: '{"id":"capqbriq05JvW9D6g1d7","name":"Test CAPTCHA Instance","siteKey":"10000000-ffff-ffff-ffff-000000000001","type":"HCAPTCHA","_links":{"self":{"href":"https://test.okta.com/api/v1/captchas/capqbriq05JvW9D6g1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 83c104e21ae6b92ac90cadea5e1b3f24
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '494'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"captchaId": "capqbriq05JvW9D6g1d7", "enabledPages": ["SIGN_IN", "SSPR"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/org/captcha
  response:
    body:
      string: '{"enabledPages":["SSPR","SIGN_IN"],"captchaId":"capqbriq05JvW9D6g1d7","_links":{"captcha":{"href":"https://test.okta.com/api/v1/captchas/capqbriq05JvW9D6g1d7","hints":{"allow":["GET","POST","PUT","DELETE"]}},"self":{"href":"https://test.okta.com/api/v1/org/captcha","hints":{"allow":["GET","PUT"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 64bd3ba48c87d1cb1aa4a984e2afd823
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '485'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/captchas/capqbrieclxa6guhw1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8ae7a50079d417b78119a788b6963d00
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '470'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/captchas/capqbrieclxa6guhw1d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        capqbrieclxa6guhw1d7 (Captcha)","errorLink":"E0000007","errorId":"oaelnwf6tAiTrCcjN79ifbXlA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 08bd4d74a433af45677856e39e1aeb98
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '469'
      x-rate-limit-reset:
      - '1758674914'
    status:
      code: 404
      message: Not Found
version: 1
