interactions:
- request:
    body: '{"name": "Python SDK Test Brand"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '{"id":"bndsd9wr30gjz0jTQ5d7","name":"Python SDK Test Brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8d2ad6c6b651de500794e3ae32235477
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1768135236'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands?limit=10
  response:
    body:
      string: '[{"id":"bndnwlw0p87d5HCgg5d7","name":"okta-dev-20982288","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":true,"defaultApp":{"appInstanceId":"0oanwlw0so3WcfOQi5d7","appLinkName":null,"classicApplicationUri":n[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7
  response:
    body:
      string: '{"id":"bndsd9wr30gjz0jTQ5d7","name":"Python SDK Test Brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oanwlw0so3WcfOQi5d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 739382f6357a54b5e840c5c1929e278c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1768135236'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7?expand=domains
  response:
    body:
      string: '{"id":"bndsd9wr30gjz0jTQ5d7","name":"Python SDK Test Brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oanwlw0so3WcfOQi5d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7","hints":{"allow":["GET","PUT","DELETE"]}}},"_embedded":{"domains":[]}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 286b150e36f04f90f8977c53f966193a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1768135236'
    status:
      code: 200
      message: OK
- request:
    body: '{"agreeToCustomPrivacyPolicy": true, "customPrivacyPolicyUrl": "https://example.com/privacy",
      "name": "Python SDK Test Brand", "removePoweredByOkta": false}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7
  response:
    body:
      string: '{"id":"bndsd9wr30gjz0jTQ5d7","name":"Python SDK Test Brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":"https://example.com/privacy","agreeToCustomPrivacyPolicy":true,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7958d309f08b490b1c0afa1594e40448
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1768135236'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7/domains
  response:
    body:
      string: '{"domains":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a729e92c526f71691bc40828132d44d4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1768135236'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndsd9wr30gjz0jTQ5d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        bndsd9wr30gjz0jTQ5d7 (Brand)","errorLink":"E0000007","errorId":"oaezt2Z7Z86TICaWb2QrAEtzQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cc2adb4cf65e251007996ed066c873f2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1768135236'
    status:
      code: 404
      message: Not Found
version: 1
