interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '[{"id":"bnd8cxvskK3NpqF6H0w6","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YhOi3MPk2Dy8Yro1r7R@-AAAAGY
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '575'
      x-rate-limit-reset:
      - '1645454079'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email
  response:
    body:
      string: '[{"name":"welcome","_links":{"self":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome","hints":{"allow":["GET"]}},"defaultContent":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/default-content","hints":{"allow":["GET"]}},"test":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/test","hints":{"allow":["POST"]}},"customizations":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations","hints":{"allow":["GET","POST","DELETE"]}}}},{"name":"forgotPassword","_links":{"self":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/forgotPassword","hints":{"allow":["GET"]}},"defaultContent":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/forgotPassword/default-content","hints":{"allow":["GET"]}},"test":{"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YhOi3cqaLa6h3bS0xykzrAAADeU
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '573'
      x-rate-limit-reset:
      - '1645454079'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations
- request:
    body: '{"body": "<!DOCTYPE html><html><body><p>Hello ${user.profile.firstName}.
      <a href=\"${activationLink}\">Activate account</a></p></body></html>", "isDefault":
      true, "language": "en", "subject": "Hello, welcome to ${org.name}!"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations
  response:
    body:
      string: '{"subject":"Hello, welcome to ${org.name}!","body":"<!DOCTYPE html><html><body><p>Hello
        ${user.profile.firstName}. <a href=\"${activationLink}\">Activate account</a></p></body></html>","id":"oel8qylaj8wqHe4og0w6","language":"en","isDefault":true,"created":"2022-02-21T14:34:06.000Z","lastUpdated":"2022-02-21T14:34:06.000Z","_links":{"preview":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations/oel8qylaj8wqHe4og0w6/preview","hints":{"allow":["GET"]}},"template":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations/oel8qylaj8wqHe4og0w6","hints":{"allow":["GET","PUT","DELETE"]}},"test":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/test","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YhOi3iwT54@nocbTVEEnNwAAANw
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '572'
      x-rate-limit-reset:
      - '1645454079'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations/oel8qylaj8wqHe4og0w6/preview
  response:
    body:
      string: '{"subject":"Hello, welcome to test!","body":"<!DOCTYPE HTML PUBLIC
        \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html><head><meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head>\n<body><div><p>Hello
        John. <a href=\"%28activationLink%20Placeholder%29\">Activate account</a></p></div></body></html>","_links":{"template":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations/oel8qylaj8wqHe4og0w6/preview","hints":{"allow":["GET"]}},"test":{"href":"https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/test","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YhOi3sqaLa6h3bS0xykzrQAADeU
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '571'
      x-rate-limit-reset:
      - '1645454079'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations/oel8qylaj8wqHe4og0w6/preview
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/default-content
  response:
    body:
      string: '{"subject":"Welcome to Okta!","body":"<!DOCTYPE html PUBLIC \"-//W3C//DTD
        HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html>\n<head>\n    <meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n</head>\n<body>\n<div
        style=\"background-color: ${brand.theme.secondaryColor}; margin: 0\">\n    <table
        style=\"font-family: ''Proxima Nova'', ''Century Gothic'', Arial, Verdana,
        sans-serif; font-size: 14px; color: #5e5e5e; width:98%; max-width: 600px;
        float: none; margin: 0 auto;\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"
        valign=\"top\" align=\"left\">\n        <tr align=\"middle\"><td style=\"padding-top:
        30px; padding-bottom: 32px;\"><img src=\"${brand.theme.logo}\" height=\"37\"></td></tr>\n        <tr
        bgcolor=\"#ffffff\"><td>\n            <table bgcolor=\"#ffffff\" style=\"width:
        100%; line-height: 20px; padding: 32px; border: 1px solid; border-color: #f0f0f0;\"
        cellpadding=\"0\">\n                <tr>\n                    <td style=\"color:
        #5e5e5e; font-size: 22px; line-height: 22px;\">\n                        ${org.name}
        - Welcome to Okta!\n                    </td>\n                </tr>\n                <tr>\n                    <td
        style=\"padding-top: 24px; vertical-align: bottom;\">\n                        Hi
        $!{StringTool.escapeHtml($!{user.profile.firstName})},\n                    </td>\n                </tr>\n                <tr>\n                    <td
        style=\"padding-top: 24px\">\n                        Your organization is
        using Okta to manage your web applications. This means you can conveniently
        access all the applications you normally use, through a single, secure home
        page. Watch this short video to learn more: <a href=\"https://www.okta.com/intro-to-okta/\"
        style=\"color: #007dc1; text-decoration: none;\"><span style=\"color: #007dc1;
        text-decoration: none;\">https://www.okta.com/intro-to-okta/</span></a>\n                    </td>\n                </tr>\n                <tr>\n                    <td
        style=\"padding-top: 24px;\">\n                        Your system administrator
        has created an Okta user account for you.<br/>\n                        <strong>Click
        the following link to activate your Okta account:</strong>\n                    </td>\n                </tr>\n                <tr>\n                    <td
        align=\"center\">\n                        <table border=\"0\" cellpadding=\"0\"
        cellspacing=\"0\" valign=\"top\">\n                            <tr>\n                                <td
        align=\"center\" style=\"height: 39px; padding-top: 24px; padding-bottom:
        8px;\"><a id=\"reset-password-link\" href=\"${activationLink}\" style=\"text-decoration:
        none;\"><span style=\"display: block; padding: 9px 32px 7px 31px; border:
        1px solid; text-align: center; cursor: pointer; color: #fff; border-radius:
        3px; background-color: ${brand.theme.primaryColor}; border-color: ${brand.theme.primaryColor};
        box-shadow: ${brand.theme.primaryColor} 0 1px 0;\">Activate Okta Account</span></a>\n                                </td>\n                            </tr>\n                            <tr>\n                                <td
        align=\"center\" style=\"color: #999;\">\n                                    This
        link expires in ${f.formatTimeDiffHoursNowInUserLocale(${org.activationTokenExpirationHours})}.\n                                </td>\n                            </tr>\n            [...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/default-content/preview
  response:
    body:
      string: '{"subject":"Welcome to Okta!","body":"<!DOCTYPE HTML PUBLIC \"-//W3C//DTD
        HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html><head><meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head>\n<body><div><div
        style=\"background-color:#fafafa;margin:0\"> \n  <table style=\"font-family:''proxima
        nova'' , ''century gothic'' , ''arial'' , ''verdana'' , sans-serif;font-size:14px;color:#5e5e5e;width:98%;max-width:600px;float:none;margin:0
        auto\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" valign=\"top\" align=\"left\">\n    <tbody>\n      <tr
        align=\"middle\">\n        <td style=\"padding-top:30px;padding-bottom:32px\"><img
        src=\"https://tc2static.oktacdn.com/assets/img/logos/okta-logo.47066819ac7db5c13f4c431b2687cef6.png\"
        height=\"37\" /></td>\n      </tr>\n      <tr bgcolor=\"#ffffff\">\n        <td>
        \n          <table bgcolor=\"#ffffff\" style=\"width:100%;line-height:20px;padding:32px;border:1px
        solid;border-color:#f0f0f0\" cellpadding=\"0\">\n            <tbody>\n              <tr>\n                <td
        style=\"color:#5e5e5e;font-size:22px;line-height:22px\"> test - Welcome
        to Okta! </td>\n              </tr>\n              <tr>\n                <td
        style=\"padding-top:24px;vertical-align:bottom\"> Hi John, </td>\n              </tr>\n              <tr>\n                <td
        style=\"padding-top:24px\"> Your organization is using Okta to manage your
        web applications. This means you can conveniently access all the applications
        you normally use, through a single, secure home page. Watch this short video
        to learn more: <a href=\"https://www.okta.com/intro-to-okta/\" style=\"color:#007dc1;text-decoration:none\"><span
        style=\"color:#007dc1;text-decoration:none\">https://www.okta.com/intro-to-okta/</span></a>
        </td>\n              </tr>\n              <tr>\n                <td style=\"padding-top:24px\">
        Your system administrator has created an Okta user account for you.<br />
        <strong>Click the following link to activate your Okta account:</strong> </td>\n              </tr>\n              <tr>\n                <td
        align=\"center\"> \n                  <table border=\"0\" cellpadding=\"0\"
        cellspacing=\"0\" valign=\"top\">\n                    <tbody>\n                      <tr>\n                        <td
        align=\"center\" style=\"height:39px;padding-top:24px;padding-bottom:8px\"><a
        id=\"reset-password-link\" href=\"%28activ[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YhOi4KJx2XPybkSIgANe@AAABLo
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '568'
      x-rate-limit-reset:
      - '1645454079'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/brands/bnd8cxvskK3NpqF6H0w6/templates/email/welcome/customizations
version: 1
