interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '[{"id":"bnd1vfbcisOVD11TW5d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YYkz2QKwYP4UUHXW4iTHdgAAAlw
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1636381714'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7
  response:
    body:
      string: '{"id":"bnd1vfbcisOVD11TW5d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7","hints":{"allow":["GET","PUT"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YYkz2pjov0gd07TfvSwfDgAACgw
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '95'
      x-rate-limit-reset:
      - '1636381714'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7
- request:
    body: '{"_links": {"themes": {"href": "https://dev-44577309.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes",
      "hints": {"allow": ["GET"]}}, "self": {"href": "https://dev-44577309.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7",
      "hints": {"allow": ["GET", "PUT"]}}}, "agreeToCustomPrivacyPolicy": true, "customPrivacyPolicyUrl":
      "https://www.someHost.com/privacy-policy", "id": "bnd1vfbcisOVD11TW5d7", "removePoweredByOkta":
      false}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7
  response:
    body:
      string: '{"id":"bnd1vfbcisOVD11TW5d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":"https://www.someHost.com/privacy-policy","_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7","hints":{"allow":["GET","PUT"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YYkz2-57Z9lYTaX0mX2TrgAAAyU
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '94'
      x-rate-limit-reset:
      - '1636381714'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7
[...]
