interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/features
  response:
    body:
      string: "[{\"id\":\"ftrBBUMpPWbXqutKZYcW\",\"type\":\"self-service\",\"status\"\
        :\"DISABLED\",\"name\":\"Import Monitoring Dashboard\",\"description\":\"\
        This feature lets you monitor the import jobs that are in progress or were\
        \ started in the last 24 hours\",\"stage\":{\"value\":\"BETA\",\"state\":\"\
        OPEN\"},\"_links\":{\"helpDoc\":{\"href\":\"https://okta.box.com/s/io6u0o9dsn3ila42p5bnrz31lonmzc7x\"\
        },\"self\":{\"href\":\"https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW\"\
        },\"dependents\":{\"href\":\"https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW/dependents\"\
        },\"dependencies\":{\"href\":\"https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW/dependencies\"\
        }}},{\"id\":\"ftrj8SxnN6gQaFpkSTGg\",\"type\":\"self-service\",\"status\"\
        :\"DISABLED\",\"name\":\"New Admin Dashboard\",\"description\":\"Introduces\
        \ a new admin dashboard as part of the admin console that helps surface actionable\
        \ insights and gives admins the ability to monitor their orgs.\",\"stage\"\
        :{\"value\":\"BETA\",\"state\":\"OPEN\"},\"_links\":{\"helpDoc\":{\"href\"\
        :\"https://okta.app.box.com/v/AdminDashboardRedesign\"},\"self\":{\"href\"\
        :\"https://test.okta.com/api/v1/features/ftrj8SxnN6gQaFpkSTGg\"},\"dependents\"\
        :{\"href\":\"https://test.okta.com/api/v1/features/ftrj8SxnN6gQaFpkSTGg/dependents\"\
        },\"dependencies\":{\"href\":\"https://test.okta.com/api/v1/features/ftrj8SxnN6gQaFpkSTGg/dependencies\"\
        }}},{\"id\":\"ftrFDVSQ9wBWPnDqohOS\",\"type\":\"self-service\",\"status\"\
        :\"DISABLED\",\"name\":\"Allow end-users to quickly access everyday apps\"\
        ,\"description\":\"End-users can find recently used apps in a separate Quick\
        \ Access section on their dashboard. This section only appears if the user\
        \ has 13+ apps assigned on their dashboard.\",\"stage\":{\"value\":\"EA\"\
        },\"_links\":{\"enable\":{\"href\":\"https://test.okta.com/api/v1/features/ftrFDVSQ9wBWPnDqohOS/enable\"\
        ,\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://test.okta.com/api/v1/features/ftrFDVSQ9wBWPnDqohOS\"\
        },\"dependents\":{\"href\":\"https://test.okta.com/api/v1/features/ftrFDVSQ9wBWPnDqohOS/dependents\"\
        },\"dependencies\":{\"href\":\"https://test.okta.com/api/v1/features/ftrFDVSQ9wBWPnDqohOS/dependencies\"\
        }}},{\"id\":\"ftrxOgrYBFeZWpXzNfx8\",\"type\":\"self-service\",\"status\"\
        :\"DISABLED\",\"name\":\"Preview and test inline hook request and response\"\
        ,\"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW
  response:
    body:
      string: '{"id":"ftrBBUMpPWbXqutKZYcW","type":"self-service","status":"DISABLED","name":"Import
        Monitoring Dashboard","description":"This feature lets you monitor the import
        jobs that are in progress or were started in the last 24 hours","stage":{"value":"BETA","state":"OPEN"},"_links":{"helpDoc":{"href":"https://okta.box.com/s/io6u0o9dsn3ila42p5bnrz31lonmzc7x"},"self":{"href":"https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW"},"dependents":{"href":"https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW/dependents"},"dependencies":{"href":"https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW/dependencies"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4UTRRAAUOQtIPptbJlAAAB9w
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '997'
      x-rate-limit-reset: '1598552203'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/features/ftrBBUMpPWbXqutKZYcW
version: 1
