interactions:
- request:
    body: '{"type": "IP", "name": "testNetworkZone", "status": "ACTIVE", "gateways":
      [{"type": "CIDR", "value": "1.2.3.4/24"}], "proxies": [{"type": "CIDR", "value":
      "2.2.3.4/24"}]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/zones
  response:
    body:
      string: '{"type":"IP","id":"nzo10bbupvxaNpCSy5d7","name":"testNetworkZone","status":"ACTIVE","usage":"POLICY","created":"2021-06-14T15:06:10.000Z","lastUpdated":"2021-06-14T15:06:10.000Z","system":false,"gateways":[{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"}],"_links":{"self":{"href":"https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YMdwYmOnwW0ZYkzugw-fTAAAC3o
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1623683229'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/zones
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7/lifecycle/deactivate
  response:
    body:
      string: '{"type":"IP","id":"nzo10bbupvxaNpCSy5d7","name":"testNetworkZone","status":"INACTIVE","usage":"POLICY","created":"2021-06-14T15:06:10.000Z","lastUpdated":"2021-06-14T15:06:11.000Z","system":false,"gateways":[{"type":"CIDR","value":"1.2.3.4/24"}],"proxies":[{"type":"CIDR","value":"2.2.3.4/24"}],"_links":{"activate":{"href":"https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YMdwY@PSSjgrTvZUOD3McAAABZA
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1623683229'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YMdwZNzhNTVfKpgJHExrYgAAAdE
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1623683229'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/zones/nzo10bbupvxaNpCSy5d7
version: 1
