interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/threats/configuration
  response:
    body:
      string: '{"action":"audit","excludeZones":[],"created":"2021-06-14 14:45:46","lastUpdated":"2021-06-14
        14:58:03","_links":{"self":{"href":"https://test.okta.com/api/v1/threats/configuration","hints":{"allow":["GET","POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YMdwEOiqOn@LRSTxbP2ARgAAC54
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1623683148'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/threats/configuration
version: 1
