interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/principal-rate-limits?filter=principalType%20eq%20%22SSWS_TOKEN%22
  response:
    body:
      string: '[{"id":"prlnpbzamkh0Z8xYo1d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1cuuokxSImd8ST1d7","principalType":"SSWS_TOKEN","defaultPercentage":50,"defaultConcurrencyPercentage":50,"lastUpdate":"2025-09-22T17:31:41Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","createdDate":"2025-07-01T08:14:57Z","createdBy":"00unkw1sfbTw08c0g1d7"},{"id":"prlonn4aroMawFVD81d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1dnauwfcmvN3bq1d7","principalType":"SSWS_TOKEN","defaultPercentage":50,"defaultConcurrencyPercentage":50,"lastUpdate":"2025-07-30T05:51:30Z","lastUpdatedBy":"00unli90kor62oF5Z1d7","createdDate":"2025-07-30T05:51:30Z","createdBy":"00unli90kor62oF5Z1d7"},{"id":"prloor7m4efox2b921d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1doilwxfYVehRY1d7","principalType":"SSWS_TOKEN","defaultPercentage"[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/principal-rate-limits
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: principalRateLimitMediated","errorLink":"E0000001","errorId":"oaex5gRBu_HSkG9w0NdmdqqdQ","errorCauses":[{"errorSummary":"The
        provided filter parameter did not contain the required attrbute filter \"principalType\""}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3981b9e068c184f4b21cac178d912672
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '69'
      x-rate-limit-reset:
      - '1758562344'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/principal-rate-limits?filter=principalId%20eq%20%22nonexistent-principal-id-12345%22
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: principalRateLimitMediated","errorLink":"E0000001","errorId":"oaetQRJMIU2ScybdbH--e5l8A","errorCauses":[{"errorSummary":"The
        provided filter parameter did not contain the required attrbute filter \"principalType\""}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c1b2f2050312998c6b3a68d996a1284e
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '67'
      x-rate-limit-reset:
      - '1758562344'
    status:
      code: 400
      message: Bad Request
[...]
