interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/principal-rate-limits?filter=principalType%20eq%20%22SSWS_TOKEN%22
  response:
    body:
      string: '[{"id":"prlnpbzamkh0Z8xYo1d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1cuuokxSImd8ST1d7","principalType":"SSWS_TOKEN","defaultPercentage":50,"defaultConcurrencyPercentage":50,"lastUpdate":"2025-09-22T17:31:28Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","createdDate":"2025-07-01T08:14:57Z","createdBy":"00unkw1sfbTw08c0g1d7"},{"id":"prlonn4aroMawFVD81d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1dnauwfcmvN3bq1d7","principalType":"SSWS_TOKEN","defaultPercentage":50,"defaultConcurrencyPercentage":50,"lastUpdate":"2025-07-30T05:51:30Z","lastUpdatedBy":"00unli90kor62oF5Z1d7","createdDate":"2025-07-30T05:51:30Z","createdBy":"00unli90kor62oF5Z1d7"},{"id":"prloor7m4efox2b921d7","orgId":"00onkw1sbuAh3Q06I1d7","principalId":"00T1doilwxfYVehRY1d7","principalType":"SSWS_TOKEN","defaultPercentage"[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/principal-rate-limits/invalid-id-12345
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid-id-12345 (PrincipalRateLimit)","errorLink":"E0000007","errorId":"oaegsKOtGRzTuOPb9FZzenTcw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 55d836d5a5293bd524be42ca13e79861
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '92'
      x-rate-limit-reset:
      - '1758562344'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"principalId": "00T1dnauwfcmvN3bq1d7", "principalType": "SSWS_TOKEN"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/principal-rate-limits
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00T1dnauwfcmvN3bq1d7 (Token)","errorLink":"E0000007","errorId":"oae1xGu2bAVSlCRQ_1qe3FBkQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8ed25638129db3e99fc138038f403c1d
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '90'
      x-rate-limit-reset:
      - '1758562344'
    status:
      code: 404
      message: Not Found
[...]
