interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/eventHooks
  response:
    body:
      string: '{"id":"whosfap1oHfjrkCoP4x6","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE0","created":"2020-08-27T18:15:27.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:27.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.activate","user.lifecycle.create"]},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/eventHooks","headers":[{"key":"X-Test-Header","value":"Test
        Header value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"self":{"href":"https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6"},"verify":{"href":"https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6/lifecycle/verify","hints":{"allow":["POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4P-2vtEO-THA4OJm6-QAABC0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '870'
      x-rate-limit-reset: '1598552143'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/eventHooks
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"whosfap1oHfjrkCoP4x6","status":"INACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE0","created":"2020-08-27T18:15:27.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:28.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.activate","user.lifecycle.create"]},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/eventHooks","headers":[{"key":"X-Test-Header","value":"Test
        Header value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"activate":{"href":"https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6"},"delete":{"href":"https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4QHFnmflJ3upXTv4oqwAAA@w
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '866'
      x-rate-limit-reset: '1598552143'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4QHFnmflJ3upXTv4osAAAA-w
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '865'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/eventHooks/whosfap1oHfjrkCoP4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/eventHooks/whosf7biiVzubELOm4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"whosf7biiVzubELOm4x6","status":"INACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE1","created":"2020-08-27T18:15:27.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:28.000Z","events":[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/eventHooks/whosf7biiVzubELOm4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4QK43Jt4d6yYfyFZSdAAAA38
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '863'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/eventHooks/whosf7biiVzubELOm4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/eventHooks/whosfa0uabBHiwcoB4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"whosfa0uabBHiwcoB4x6","status":"INACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE2","created":"2020-08-27T18:15:27.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:29.000Z","events":[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/eventHooks/whosfa0uabBHiwcoB4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4QTJX6i8rVRl78fHDzwAACMo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '861'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/eventHooks/whosfa0uabBHiwcoB4x6
version: 1
