interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps/invalid_test_app_123456/features
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid_test_app_123456 (AppInstance)","errorLink":"E0000007","errorId":"oaeey44y3YhRWOg_6SviDVaGQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1c55ecc8609199ec352d12b7ae2f9f19
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '35'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps/invalid_test_app_123456/features/USER_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid_test_app_123456 (AppInstance)","errorLink":"E0000007","errorId":"oaedL0x_ZA8QQiudVwlofMlrg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d890e060fc5aeea3cd90d3c189bf706d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '32'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps/invalid_test_app_123456/features/USER_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid_test_app_123456 (AppInstance)","errorLink":"E0000007","errorId":"oaeipP5djRUSVyzb0JvNzclbw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - da4cb632f3c90dbcf4b8c0f7709b6e51
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '30'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
version: 1
