interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps/comprehensive_coverage_test_123/features
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        comprehensive_coverage_test_123 (AppInstance)","errorLink":"E0000007","errorId":"oaekFI3vIH5QgCHgygeqENNtQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 190aef7e1da3a3fcaa48897a03f40a06
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '17'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      X-Okta-Retry-Count:
      - '1'
      X-Okta-Retry-For:
      - d8c32875dfe75dda51a3f0bad9478b90
    method: GET
    uri: https://test.okta.com/api/v1/apps/comprehensive_coverage_test_123/features
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        comprehensive_coverage_test_123 (AppInstance)","errorLink":"E0000007","errorId":"oae9dL3TxELRKa7mRJ0GyYRtg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 98bd8c175ba7b77b53fda32507d57d7d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1759127167'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      X-Okta-Retry-Count:
      - '1'
      X-Okta-Retry-For:
      - d8c32875dfe75dda51a3f0bad9478b90
    method: GET
    uri: https://test.okta.com/api/v1/apps/comprehensive_coverage_test_123/features/USER_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        comprehensive_coverage_test_123 (AppInstance)","errorLink":"E0000007","errorId":"oaeJZ4ToIjLTzKmzPn-w6_rzQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0e745e33566f75230b1d034c75a0fa48
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1759127167'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      X-Okta-Retry-Count:
      - '1'
      X-Okta-Retry-For:
      - d8c32875dfe75dda51a3f0bad9478b90
    method: GET
    uri: https://test.okta.com/api/v1/apps/comprehensive_coverage_test_123/features/INBOUND_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        comprehensive_coverage_test_123 (AppInstance)","errorLink":"E0000007","errorId":"oaeRSfMGSZfT5OLGXEH52Jy4Q","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6c60da58723fc83ab8a7d46bbbe639d2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '19'
      x-rate-limit-reset:
      - '1759127167'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      X-Okta-Retry-Count:
      - '1'
      X-Okta-Retry-For:
      - 310867c9e3798db4907bdfb67133de2c
    method: GET
    uri: https://test.okta.com/api/v1/apps/comprehensive_coverage_test_123/features/INBOUND_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        comprehensive_coverage_test_123 (AppInstance)","errorLink":"E0000007","errorId":"oaee_7ZCVHZSxiQQfkMDdoR-Q","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 35df299145cdab838838f50520b27abd
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1759127229'
    status:
      code: 404
      message: Not Found
version: 1
