interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps/coverage_test_app_789/features
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        coverage_test_app_789 (AppInstance)","errorLink":"E0000007","errorId":"oaeNh6Bugt_TSyjfv5YPAziRQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f99bec26338da63c8818a536c524574a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/apps/coverage_test_app_789/features/USER_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        coverage_test_app_789 (AppInstance)","errorLink":"E0000007","errorId":"oaewudmJWZ0QsyUZLfpDBB5fw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b32d808d176100cbb31ec37b59025171
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/coverage_test_app_789/features/INBOUND_PROVISIONING
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        coverage_test_app_789 (AppInstance)","errorLink":"E0000007","errorId":"oaeFytrvYRSRcKiaDGJ1hm3Qg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 40946020ac8d43881ddff17845c8a16e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/coverage_test_app_789/features/INVALID_FEATURE
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        INVALID_FEATURE (PublicAppFeatureSetName)","errorLink":"E0000007","errorId":"oaeZYEqR13sQ5i0p7-UC9dYyg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 94bfc9d93c32a7bf7b5fed5b103cc946
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '38'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/coverage_test_app_789/features/INVALID_FEATURE
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        INVALID_FEATURE (PublicAppFeatureSetName)","errorLink":"E0000007","errorId":"oaev1cnaLd7QCanRiFbznrJZA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 847294733a81cf73a5d6662515452ef0
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '36'
      x-rate-limit-reset:
      - '1759127105'
    status:
      code: 404
      message: Not Found
version: 1
