interactions:
- request:
    body: '{"name": "IT-http-inf-138042541673216", "providerType": "APNS", "configuration":
      {"fileName": "test-integration-key.p8", "keyId": "ABC1234567", "teamId": "DEF9876543",
      "tokenSigningKey": "-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgT4kkhFmOd0LqJLX5\nV/TqazlHg8ECQDIqDu++QR5bI4GhRANCAATTD1Vg7z/NZ5SfqPHsTOloLkqHAHWT\nMDNSnPEZJJ9JtFnMlsKB11Z9VPd+FNoiaaOHONq0ZV9aUQo5qhJ9TCw6\n-----END
      PRIVATE KEY-----"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/push-providers
  response:
    body:
      string: '{"id":"ppcq9z6hepd4jh65s1d7","providerType":"APNS","name":"IT-http-inf-138042541673216","lastUpdatedDate":"2025-09-22T11:47:51.000Z","configuration":{"fileName":"test-integration-key.p8","teamId":"DEF9876543","keyId":"ABC1234567"},"_links":{"self":{"href":"https://test.okta.com/api/v1/push-providers/ppcq9z6hepd4jh65s1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ecba50e724061b648f029f56abe1565e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '40'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/push-providers/ppcq9z6hepd4jh65s1d7
  response:
    body:
      string: '{"id":"ppcq9z6hepd4jh65s1d7","providerType":"APNS","name":"IT-http-inf-138042541673216","lastUpdatedDate":"2025-09-22T11:47:51.000Z","configuration":{"fileName":"test-integration-key.p8","teamId":"DEF9876543","keyId":"ABC1234567"},"_links":{"self":{"href":"https://test.okta.com/api/v1/push-providers/ppcq9z6hepd4jh65s1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cc6acec343c9dc00884fbc9a85afd9e0
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '39'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/push-providers/ppcq9z6hepd4jh65s1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 45d93fdd0a88ca018603a401a2d515b0
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '36'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 204
      message: No Content
version: 1
