interactions:
- request:
    body: '{"name": "IT-crud-wor-200a77541665877", "providerType": "APNS", "configuration":
      {"fileName": "test-integration-key.p8", "keyId": "ABC1234567", "teamId": "DEF9876543",
      "tokenSigningKey": "-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgT4kkhFmOd0LqJLX5\nV/TqazlHg8ECQDIqDu++QR5bI4GhRANCAATTD1Vg7z/NZ5SfqPHsTOloLkqHAHWT\nMDNSnPEZJJ9JtFnMlsKB11Z9VPd+FNoiaaOHONq0ZV9aUQo5qhJ9TCw6\n-----END
      PRIVATE KEY-----"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/push-providers
  response:
    body:
      string: '{"id":"ppcq9zdy91vK4z1sR1d7","providerType":"APNS","name":"IT-crud-wor-200a77541665877","lastUpdatedDate":"2025-09-22T11:47:43.000Z","configuration":{"fileName":"test-integration-key.p8","teamId":"DEF9876543","keyId":"ABC1234567"},"_links":{"self":{"href":"https://test.okta.com/api/v1/push-providers/ppcq9zdy91vK4z1sR1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 20dccab82932ae148d14a2d90067cde5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/push-providers/ppcq9zdy91vK4z1sR1d7
  response:
    body:
      string: '{"id":"ppcq9zdy91vK4z1sR1d7","providerType":"APNS","name":"IT-crud-wor-200a77541665877","lastUpdatedDate":"2025-09-22T11:47:43.000Z","configuration":{"fileName":"test-integration-key.p8","teamId":"DEF9876543","keyId":"ABC1234567"},"_links":{"self":{"href":"https://test.okta.com/api/v1/push-providers/ppcq9zdy91vK4z1sR1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 252904cda8b63d001d3c6297f1970a14
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/push-providers/ppcq9zdy91vK4z1sR1d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        ppcq9zdy91vK4z1sR1d7 (PushProviderConfigEntity)","errorLink":"E0000007","errorId":"oaeTaqoo08fSVCSeo-lqnwhIA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c1c95b288afa1fc07eda0111b8465979
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 404
      message: Not Found
version: 1
