interactions:
- request:
    body: '{"name": "IT-preload-9041b0541688476", "providerType": "APNS", "configuration":
      {"fileName": "test-integration-key.p8", "keyId": "ABC1234567", "teamId": "DEF9876543",
      "tokenSigningKey": "-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgT4kkhFmOd0LqJLX5\nV/TqazlHg8ECQDIqDu++QR5bI4GhRANCAATTD1Vg7z/NZ5SfqPHsTOloLkqHAHWT\nMDNSnPEZJJ9JtFnMlsKB11Z9VPd+FNoiaaOHONq0ZV9aUQo5qhJ9TCw6\n-----END
      PRIVATE KEY-----"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/push-providers
  response:
    body:
      string: '{"id":"ppcq9zbct5LVZuXlU1d7","providerType":"APNS","name":"IT-preload-9041b0541688476","lastUpdatedDate":"2025-09-22T11:48:07.000Z","configuration":{"fileName":"test-integration-key.p8","teamId":"DEF9876543","keyId":"ABC1234567"},"_links":{"self":{"href":"https://test.okta.com/api/v1/push-providers/ppcq9zbct5LVZuXlU1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6e926e42bf3ca6f5e252c86e4a1fac85
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '28'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/push-providers/ppcq9zbct5LVZuXlU1d7
  response:
    body:
      string: '{"id":"ppcq9zbct5LVZuXlU1d7","providerType":"APNS","name":"IT-preload-9041b0541688476","lastUpdatedDate":"2025-09-22T11:48:07.000Z","configuration":{"fileName":"test-integration-key.p8","teamId":"DEF9876543","keyId":"ABC1234567"},"_links":{"self":{"href":"https://test.okta.com/api/v1/push-providers/ppcq9zbct5LVZuXlU1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c1ebe21c17fa29714a9220af26a64b9e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '27'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/push-providers/ppcq9zbct5LVZuXlU1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bb20e8f5b9559b1e954c48904fdad3e0
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '24'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 204
      message: No Content
version: 1
