interactions:
- request:
    body: '{"name": "Invalid-Test"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/push-providers
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: providerType","errorLink":"E0000001","errorId":"oaeZIYYDaVWSqacHGsycfP0zA","errorCauses":[{"errorSummary":"providerType:
        The field cannot be left blank"},{"errorSummary":"configuration: The field
        cannot be left blank"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c75619337fd4b919e7e597b07a7ba0fc
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '35'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/push-providers/nonexistent-id-12345
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent-id-12345 (PushProviderConfigEntity)","errorLink":"E0000007","errorId":"oaeB7jjv2y1QK-Cvq0JCTzkEA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b023b008d2f9723f49207be230fad215
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '34'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "IT-test-rep-8c5468541682471", "providerType": "APNS", "configuration":
      {"fileName": "test-integration-key.p8", "keyId": "ABC1234567", "teamId": "DEF9876543",
      "tokenSigningKey": "-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgT4kkhFmOd0LqJLX5\nV/TqazlHg8ECQDIqDu++QR5bI4GhRANCAATTD1Vg7z/NZ5SfqPHsTOloLkqHAHWT\nMDNSnPEZJJ9JtFnMlsKB11Z9VPd+FNoiaaOHONq0ZV9aUQo5qhJ9TCw6\n-----END
      PRIVATE KEY-----"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/push-providers/nonexistent-id-12345
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent-id-12345 (PushProviderConfigEntity)","errorLink":"E0000007","errorId":"oaefVhRbd7_SS2uXC5k-U6Ycg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 17ef54b13beb2caaa4a1c43a2a0b5bb6
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '33'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/push-providers/nonexistent-id-12345
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        nonexistent-id-12345 (PushProviderConfigEntity)","errorLink":"E0000007","errorId":"oaeqqSUqbjtTlePDB54s5Luag","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3a7b4b739604ffe42a5c28dcc6bae6fd
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '32'
      x-rate-limit-reset:
      - '1758541720'
    status:
      code: 404
      message: Not Found
version: 1
