interactions:
- request:
    body: '{"definitions": {"custom": {"id": "#custom", "type": "object", "properties":
      {"murihubopsckijpcffbx": {"title": "Test Custom Attribute", "description": "Custom
      attribute for testing purposes", "type": "string", "required": false, "minLength":
      1, "maxLength": 20, "permissions": [{"principal": "SELF", "action": "READ_WRITE"}]}}}}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/meta/schemas/group/default
  response:
    body:
      string: '{"id":"https://test.okta.com/meta/schemas/group/default","$schema":"http://json-schema.org/draft-04/schema#","name":"group","title":"Okta
        group","description":"Okta group profile template","lastUpdated":"2021-09-17T12:50:55.000Z","created":"2021-04-13T05:55:29.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"customGroupAttribute":{"title":"Custom
        Group Attribute","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"murihubopsckijpcffbx":{"title":"Test
        Custom Attribute","description":"Custom attribute for testing purposes","type":"string","mutability":"READ_WRITE","scope":"NONE","minLength":1,"maxLength":20,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}}},"required":[]},"base":{"id":"#base","type":"object","properties":{"name":{"title":"Name","description":"Name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","maxLength":255,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"description":{"title":"Description","description":"Description","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":1024,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}}},"required":["name"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://test.okta.com/api/v1/meta/schemas/group/default","method":"GET"}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YUSPMAAbHOzIRz4lZvtaKwAADWc
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1631883113'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/meta/schemas/group/default
[...]
