interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/zones
  response:
    body:
      string: '[{"type":"IP","id":"nzokqewqlRZEmDTI35d6","name":"BlockedIpZone","status":"ACTIVE","usage":"BLOCKLIST","created":"2021-04-13T05:55:32.000Z","lastUpdated":"2021-04-13T05:55:32.000Z","system":true,"gateways":null,"proxies":null,"_links":{"self":{"href":"https://test.okta.com/api/v1/zones/nzokqewqlRZEmDTI35d6","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/zones/nzokqewqlRZEmDTI35d6/lifecycle/deactivate","hints":{"allow":["POST"]}}}},{"type":"IP","id":"nzokqewqkySLYtl9W5d6","name":"LegacyIpZone","status":"ACTIVE","usage":"POLICY","created":"2021-04-13T05:55:32.000Z","lastUpdated":"2021-04-13T05:55:32.000Z","system":true,"gateways":null,"proxies":null,"_links":{"self":{"href":"https://test.okta.com/api/v1/zones/nzokqewqkySLYtl9W5d6","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/zones/nzokqewqkySLYtl9W5d6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://test-org.okta.com/api/v1/zones?limit=20>; rel="self"
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YMdwYT8uX7SGlj0PRwMGZwAACWk
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1623683229'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/zones
version: 1
