interactions:
- request:
    body: '{"description": "Test custom posture check", "mappingType": "TEXTBOX",
      "name": "python_sdk_posture_check", "platform": "WINDOWS", "query": "SELECT
      * FROM programs WHERE name = ''AcmeCorpAgent'';", "type": "CUSTOM"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-posture-checks
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeYg2muDmAQtCoakYD4NTSwg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2cd418ad726399448ecd95383f91b552
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1768420397'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/device-posture-checks/default
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeq67K4xcuTbCD3ralUf_k8Q","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 39ec68cab86257f4422513e708d2cabd
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"description": "Test custom posture check", "mappingType": "TEXTBOX",
      "name": "python_sdk_posture_check", "platform": "WINDOWS", "query": "SELECT
      * FROM programs WHERE name = ''AcmeCorpAgent'';", "type": "CUSTOM"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-posture-checks
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeuCfpTKhUSPyVEl8Y-3hjow","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - de1978b1f844252edcb617ec39be99d1
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1768420732'
    status:
      code: 401
      message: Unauthorized
version: 1
