interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/agentPools/invalid-pool-id-12345/updates
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d7b96befa682e9546a89793d186c0d2e
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '8'
      x-rate-limit-reset:
      - '1757607758'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/agentPools/invalid-pool-id-12345/updates/settings
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid-pool-id-12345 (AppInstance)","errorLink":"E0000007","errorId":"oae3ArCozZVSOuvaI5TTk8g8g","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5158353545ca4964b7a877aedb7bdbc8
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '6'
      x-rate-limit-reset:
      - '1757608583'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"enabled": true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/agentPools/invalid-pool-id-12345/updates
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: name","errorLink":"E0000001","errorId":"oaewk2oR68IRx-vNe-w_Hcelg","errorCauses":[{"errorSummary":"errors
        in the field: name"},{"errorSummary":"errors in the field: agentType"},{"errorSummary":"errors
        in the field: agentList"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 13abb7bd6e50c952c8353667aeae0af6
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '7'
      x-rate-limit-reset:
      - '1757608676'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"enabled": true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/agentPools/invalid-pool-id-12345/updates
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: name","errorLink":"E0000001","errorId":"oae068dHQmETjCdd9WhPTCHlw","errorCauses":[{"errorSummary":"errors
        in the field: name"},{"errorSummary":"errors in the field: agentType"},{"errorSummary":"errors
        in the field: agentList"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8e446f3b80b05a054b95fe1755ba5067
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '1'
      x-rate-limit-reset:
      - '1757608676'
    status:
      code: 400
      message: Bad Request
version: 1
