interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/agentPools?limitPerPoolType=5&poolType=LDAP
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 255f0240093e7607811cd9a02d3cb302
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '0'
      x-rate-limit-reset:
      - '1757607758'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/agentPools?limitPerPoolType=5&poolType=Radius
  response:
    body:
      string: '{"errorCode":"E0000047","errorSummary":"API call exceeded rate limit
        due to too many requests.","errorLink":"E0000047","errorId":"oae_A2-4_P9RtWIEh-N4O0qfg","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5168be8d5f54ca5371398055415254ff
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '0'
      x-rate-limit-reset:
      - '1757607758'
    status:
      code: 429
      message: Too Many Requests
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      X-Okta-Retry-Count:
      - '1'
      X-Okta-Retry-For:
      - 5168be8d5f54ca5371398055415254ff
    method: GET
    uri: https://test.okta.com/api/v1/agentPools?limitPerPoolType=5&poolType=Radius
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 54db271ae5d9f96f083dd00c2a1482ad
      x-rate-limit-limit:
      - '10'
      x-rate-limit-remaining:
      - '9'
      x-rate-limit-reset:
      - '1757607820'
    status:
      code: 200
      message: OK
version: 1
