interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com//api/v1/apps/invalid-app-id-12345/connections/default
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid-app-id-12345 (AppInstance)","errorLink":"E0000007","errorId":"oae2Ci4P_qhSZ6kjiRXpxenEA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 04eb11a10ffd421ea32e1b70fc3d253f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1758821575'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com//api/v1/apps/invalid-app-id-12345/connections/default/lifecycle/activate
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid-app-id-12345 (AppInstance)","errorLink":"E0000007","errorId":"oaeCdxrixCfQhqR1YLCzqXt2Q","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2fc602dd3c08643dc299209d5cc0c187
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1758821575'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com//api/v1/apps/invalid-app-id-12345/connections/default/lifecycle/deactivate
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        invalid-app-id-12345 (AppInstance)","errorLink":"E0000007","errorId":"oaeNjswju39TDKc0-C0EKmdfA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - f2ba627be96796634dd801fabf59e800
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1758821575'
    status:
      code: 404
      message: Not Found
version: 1
