interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authenticators
  response:
    body:
      string: '[{"type":"email","id":"autl0by7reTh1KIzB5d6","key":"okta_email","status":"ACTIVE","name":"Email","created":"2021-04-14T04:34:28.000Z","lastUpdated":"2021-04-20T13:05:44.000Z","settings":{"allowedFor":"any","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7reTh1KIzB5d6","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7reTh1KIzB5d6/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7reTh1KIzB5d6/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"autl09jklzOEDvrjy5d6","key":"okta_verify","status":"ACTIVE","name":"Okta
        Verify","created":"2021-04-14T04:34:50.000Z","lastUpdated":"2021-09-17T12:34:36.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"HIGH_RISK_ONLY"},"userVerification":"PREFERRED","appInstanceId":""},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autl09jklzOEDvrjy5d6","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autl09jklzOEDvrjy5d6/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autl09jklzOEDvrjy5d6/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://test.okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"password","id":"autl0by7qz31DYkNg5d6","key":"okta_password","status":"ACTIVE","name":"Password","created":"2021-04-14T04:34:28.000Z","lastUpdated":"2021-04-14T04:34:28.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7qz31DYkNg5d6","hints":{"allow":["GET","PUT"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7qz31DYkNg5d6/methods","hints":{"allow":["GET"]}}}},{"type":"phone","id":"autl0by7sNXye9Zmh5d6","key":"phone_number","status":"INACTIVE","name":"Phone","created":"2021-04-14T04:34:28.000Z","lastUpdated":"2021-11-08T14:00:38.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7sNXye9Zmh5d6","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7sNXye9Zmh5d6/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7sNXye9Zmh5d6/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autl0by7vOCX0FnVY5d6","key":"webauthn","status":"INACTIVE","name":"Security
        Key or Biometric","created":"2021-04-14T04:34:28.000Z","lastUpdated":"2021-04-14T04:34:28.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7vOCX0FnVY5d6","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7vOCX0FnVY5d6/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7vOCX0FnVY5d6/methods","hints":{"allow":["GET"]}}}},{"type":"security_question","id":"autl0by7tbUQEcczi5d6","key":"security_question","status":"ACTIVE","name":"Security
        Question","created":"2021-04-14T04:34:28.000Z","lastUpdated":"2021-04-14T04:34:28.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7tbUQEcczi5d6","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7tbUQEcczi5d6/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autl0by7tbUQEcczi5d6/methods","hints":{"allow":["GET"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YYkyaxS1eddMhlVUfPFzwQAADTQ
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1636381351'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/authenticators
- request:
    body: '{"_links": {"self": {"href": "https://dev-44577309.okta.com/api/v1/authenticators/autl0by7sNXye9Zmh5d6",
      "hints": {"allow": ["GET", "PUT"]}}, "activate": {"href": "https://dev-44577309.okta.com/api/v1/authenticators/autl0by7sNXye9Zmh5d6/lifecycle/activate",
      "hints": {"allow": ["POST"]}}, "methods": {"href": "https://dev-44577309.okta.com/api/v1/authenticators/autl0by7sNXye9Zmh5d6/methods",
      "hints": {"allow": ["GET"]}}}, "created": "2021-04-14T04:34:28.000Z[...]
[...]
