interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=True
  response:
    body:
      string: '{"id":"00usfdd3qe32hVMJL4x6","status":"ACTIVE","created":"2020-08-27T18:19:37.000Z","activated":"2020-08-27T18:19:38.000Z","statusChanged":"2020-08-27T18:19:38.000Z","lastLogin":null,"lastUpdated":"2020-08-27T18:19:38.000Z","passwordChanged":"2020-08-27T18:19:38.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Expire-PW-URL","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Expire-PW-URL@example.com","email":"John.Doe-Expire-PW-URL@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Expire-PW-URL@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/lifecycle/deactivate","method":"POST"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5OXFnmflJ3upXTv4vCAAAA-Y
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '587'
      x-rate-limit-reset: '1598552424'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=True
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/lifecycle/expire_password?tempPassword=true
  response:
    body:
      string: '{"tempPassword":"x4HpS7TE"}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5Oq43Jt4d6yYfyFZZ2wAAA2U
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '586'
      x-rate-limit-reset: '1598552424'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6/lifecycle/expire_password?tempPassword=true
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5OjKBJiHtjaP74xcZPgAAANw
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '588'
      x-rate-limit-reset: '1598552425'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f5O5@uz0vmwTLNYnLNggAAAbs
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '587'
      x-rate-limit-reset: '1598552425'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfdd3qe32hVMJL4x6
version: 1
