interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oasfv2k3VJotnMVI4x6","name":"oidc_client","label":"AddOpenIdConnectApp-Grant-Consent-SCOPE","status":"ACTIVE","lastUpdated":"2020-08-27T19:16:46.000Z","created":"2020-08-27T19:16:45.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"SfJtU0sKQshujd3m6stAbFtzpeGNmXtFH_98Zrp-lyg"},"oauthClient":{"autoKeyRotation":true,"client_id":"testclientid12345","client_secret":"jz0o06ypGjaFnYjMv60XBR6QApva4dN-UZC5l8fZ","token_endpoint_auth_method":"client_secret_post"}},"settings":{"app":{},"extendedProperties":null,"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":"https://example.com/client","logo_uri":"https://example.com/assets/images/logo-new.png","redirect_uris":["https://example.com/oauth2/callback","myapp://callback"],"post_logout_redirect_uris":["https://example.com/postlogout","myapp://postlogoutcallback"],"response_types":["token","id_token","code"],"grant_types":["authorization_code","implicit"],"application_type":"native","issuer_mode":"ORG_URL"}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://test.okta.com/home/oidc_client/0oasfv2k3VJotnMVI4x6/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gGnURGmrKoIKeohJcqowAAABI
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '99'
      x-rate-limit-reset: '1598555865'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/grants
  response:
    body:
      string: '{"id":"oag206u3ockmZ86ZX4x6","status":"ACTIVE","created":"2020-08-27T19:16:46.000Z","createdBy":{"id":"00uc04qdrQsSHjsDO4x6","type":"User"},"lastUpdated":"2020-08-27T19:16:46.000Z","issuer":"https://test.okta.com","clientId":"testclientid12345","scopeId":"okta.roles.read","source":"ADMIN","_embedded":{"scope":{"id":"okta.roles.read"}},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6","title":"AddOpenIdConnectApp-Grant-Consent-SCOPE"},"self":{"href":"https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/grants/oag206u3ockmZ86ZX4x6","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://test.okta.com/oauth2/v1/clients/testclientid12345","title":"AddOpenIdConnectApp-Grant-Consent-SCOPE"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gGntIl-QhafEkA0hpuTAAAA3M
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '98'
      x-rate-limit-reset: '1598555865'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/grants
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gGnsOyAIn84SBLEWjvNwAAB2Q
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '96'
      x-rate-limit-reset: '1598555865'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gGn8A@3E@3pZRjFdHnpgAAAdQ
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1598555867'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oasfv2k3VJotnMVI4x6
version: 1
