interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/trustedOrigins
  response:
    body:
      string: '{"id":"tossfe1lqKCZ9merC4x6","name":"python_sdk_test_TO","origin":"http://example.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2020-08-27T18:17:17.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:17:17.000Z","lastUpdatedBy":"00uc04qdrQsSHjsDO4x6","_links":{"self":{"href":"https://test.okta.com/api/v1/trustedOrigins/tossfe1lqKCZ9merC4x6","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/trustedOrigins/tossfe1lqKCZ9merC4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4rURGmrKoIKeohJe@lAAAAAs
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '883'
      x-rate-limit-reset: '1598552263'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/trustedOrigins
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/trustedOrigins/tossfe1lqKCZ9merC4x6
  response:
    body:
      string: '{"id":"tossfe1lqKCZ9merC4x6","name":"python_sdk_test_TO","origin":"http://example.com","scopes":[{"type":"CORS"},{"type":"REDIRECT"}],"status":"ACTIVE","created":"2020-08-27T18:17:17.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/trustedOrigins/tossfe1lqKCZ9merC4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4rV8oS3XLfQ-outBP0gAAARc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '881'
      x-rate-limit-reset: '1598552263'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/trustedOrigins/tossfe1lqKCZ9merC4x6
version: 1
