interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authenticators
  response:
    body:
      string: '[{"type":"email","id":"autnwmp13v5jQ3JQJ5d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2026-01-07T07:53:09.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"autnwmp13zQdsgAUg5d7","key":"okta_verify","status":"ACTIVE","name":"Okta
        Verify","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:47.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"NEVER"},"userVerification":"PREFERRED","userVerificationMethods":["BIOMETRICS","PIN"],"appInstanceId":""},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://test.okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"password","id":"autnwmp13uwJXWgn95d7","key":"okta_password","status":"ACTIVE","name":"Password","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7","hints":{"allow":["GET","PUT"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7/methods","hints":{"allow":["GET"]}}}},{"type":"phone","id":"autnwmp13wasLMLyj5d7","key":"phone_number","status":"INACTIVE","name":"Phone","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autnwmp13yvMCFKh25d7","key":"webauthn","status":"INACTIVE","name":"Security
        Key or Biometric","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_question","id":"autnwmp13xx9bcDg95d7","key":"security_question","status":"ACTIVE","name":"Security
        Question","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/methods","hints":{"allow":["GET"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 68337dbcda7ce6ec84659cc4b45a2a91
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7
  response:
    body:
      string: '{"type":"email","id":"autnwmp13v5jQ3JQJ5d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2026-01-07T07:53:09.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/methods","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 17c140e01e9644550cdaa4918920a2ab
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/methods
  response:
    body:
      string: '[{"type":"email","status":"ACTIVE","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/methods/email","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - a6ba9d6852725596e15c4d5d82695f64
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/aaguids
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeOIkUZQDYSxi_jqZ5OHkVJQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 49ac8cd9e91cf4557844cbab81e4046a
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7
  response:
    body:
      string: '{"type":"app","id":"autnwmp13zQdsgAUg5d7","key":"okta_verify","status":"ACTIVE","name":"Okta
        Verify","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:47.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"NEVER"},"userVerification":"PREFERRED","userVerificationMethods":["PIN","BIOMETRICS"],"appInstanceId":""},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://test.okta.com/idp/authenticators","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2f8acbe98a9010c12cc5a762b65ba19b
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods
  response:
    body:
      string: '[{"type":"totp","status":"ACTIVE","settings":{"timeIntervalInSeconds":30,"encoding":"Base32","algorithm":"HMACSHA1","passCodeLength":6},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods/totp","hints":{"allow":["GET","PUT"]}}}},{"type":"push","status":"INACTIVE","settings":{"algorithms":["ES256","RS256"],"keyProtection":"ANY","transactionTypes":["LOGIN"]},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods/push","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods/push/lifecycle/activate","hints":{"allow":["POST"]}}}},{"type":"signed_nonce","status":"INACTIVE","settings":{"algorithms":["ES256","RS256"],"keyProtection":"ANY","showSignInWithOV":"NEVER"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods/signed_nonce","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods/signed_nonce/lifecycle/activate","hints":{"allow":["POST"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bedaacb13a3afb66c399abdc5a95fdeb
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7
  response:
    body:
      string: '{"type":"password","id":"autnwmp13uwJXWgn95d7","key":"okta_password","status":"ACTIVE","name":"Password","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7","hints":{"allow":["GET","PUT"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7/methods","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ccf50579e4d864ae2746f2c6d0aed96c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7/methods
  response:
    body:
      string: '[{"type":"password","status":"ACTIVE","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7/methods/password","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - fe039dc352205e2bd4dce01170055bcf
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7/aaguids
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oae78gwT3amR3WHLl2eC1FLPQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 79dcc5b8f956548bdf9f1290bebba6df
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7
  response:
    body:
      string: '{"type":"phone","id":"autnwmp13wasLMLyj5d7","key":"phone_number","status":"INACTIVE","name":"Phone","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 6f011ed9f0151c1d447ea49bdef13854
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods
  response:
    body:
      string: '[{"type":"sms","status":"INACTIVE","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods/sms","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods/sms/lifecycle/activate","hints":{"allow":["POST"]}}}},{"type":"voice","status":"INACTIVE","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods/voice","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods/voice/lifecycle/activate","hints":{"allow":["POST"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 31c0fad54110859cf5686d5773dabac7
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '40'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/aaguids
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaezN1lzmhEQlSCiJhR6AfIaA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e8958e393a9ac57ff004d3cf0f487de6
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7
  response:
    body:
      string: '{"type":"security_key","id":"autnwmp13yvMCFKh25d7","key":"webauthn","status":"INACTIVE","name":"Security
        Key or Biometric","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/methods","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 950a33d9eb06cccbd5a24ce94809ad81
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '38'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/methods
  response:
    body:
      string: '[{"type":"webauthn","status":"ACTIVE","settings":{"userVerification":"DISCOURAGED","attachment":"ANY"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/methods/webauthn","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7ec0e676cb94b4f00c87561bf1efb553
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '37'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/aaguids
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeaGwgDVRJTaK8jWLcI5Ndbw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b3c4f9d1a2da46afe3595aa508fe6131
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7
  response:
    body:
      string: '{"type":"security_question","id":"autnwmp13xx9bcDg95d7","key":"security_question","status":"ACTIVE","name":"Security
        Question","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/methods","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8dbe3132c8d69b6ae9b96fd3c5e105e2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '36'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/methods
  response:
    body:
      string: '[{"type":"security_question","status":"ACTIVE","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/methods/security_question","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d845d9c5ddcbb2b5e4d0f2c4862f49d1
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '35'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/aaguids
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oae3l05Y76NRF23wTU_2c5sRA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 337d997f0f0b45b6ae04159d170d0558
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '[{"id":"0oanwlw0oco6NshA65d7","orn":"orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:saasure:0oanwlw0oco6NshA65d7","name":"saasure","label":"Okta
        Admin Console","status":"ACTIVE","lastUpdated":"2025-04-24T16:03:48.000Z","created":"2025-03-19T08:01:45.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"YAC_CqBzpba6NOipi2Eo6nbzZZcCWPGeGxKxCkeB_8c"}},"universalLogout":null,"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false},"_links":{"uploadLogo":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://test.okta.com/home/saasure/0oanwlw0oco6NshA65d7/2","type":"text/html"}],"profileEnrollment":{"href":"https://test.okta.com/api/v1/policies/rstnwmp14geJLJ3fx5d7"},"policies":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/groups"},"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://test.okta.com/api/v1/policies/rstnwmp13cg3r0SMK5d7"},"users":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oanwlw0oco6NshA65d7/lifecycle/deactivate"}}},{"id":"0oanwlw0so3WcfOQi5d7","orn":"orn:okta:idp:00onwlw0o4KFVCgzO5d7:apps:okta_enduser:0oanwlw0so3WcfOQi5d7","name":"okta_enduser","label":"Okta
        Dashboard","status":"ACTIVE","lastUpdated":"2025-05-08T17:56:48.000Z","created":"2025-03-19T08:01:48.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"log[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7
  response:
    body:
      string: '{"type":"email","id":"autnwmp13v5jQ3JQJ5d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2026-01-07T07:56:23.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/methods","hints":{"allow":["GET"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4f46368f6c1250c452b2a3342da0d3b9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '28'
      x-rate-limit-reset:
      - '1767772614'
    status:
      code: 200
      message: OK
version: 1
