interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/authenticators
  response:
    body:
      string: '[{"type":"email","id":"autnwmp13v5jQ3JQJ5d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2026-01-07T07:56:23.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":5},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13v5jQ3JQJ5d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"autnwmp13zQdsgAUg5d7","key":"okta_verify","status":"ACTIVE","name":"Okta
        Verify","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:47.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"NEVER"},"userVerification":"PREFERRED","userVerificationMethods":["PIN","BIOMETRICS"],"appInstanceId":""},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13zQdsgAUg5d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://test.okta.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"password","id":"autnwmp13uwJXWgn95d7","key":"okta_password","status":"ACTIVE","name":"Password","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7","hints":{"allow":["GET","PUT"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13uwJXWgn95d7/methods","hints":{"allow":["GET"]}}}},{"type":"phone","id":"autnwmp13wasLMLyj5d7","key":"phone_number","status":"INACTIVE","name":"Phone","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13wasLMLyj5d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_key","id":"autnwmp13yvMCFKh25d7","key":"webauthn","status":"INACTIVE","name":"Security
        Key or Biometric","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2025-03-19T09:20:46.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13yvMCFKh25d7/methods","hints":{"allow":["GET"]}}}},{"type":"security_question","id":"autnwmp13xx9bcDg95d7","key":"security_question","status":"ACTIVE","name":"Security
        Question","created":"2025-03-19T09:20:46.000Z","lastUpdated":"2026-01-07T07:56:20.000Z","settings":{"allowedFor":"recovery"},"_links":{"self":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://test.okta.com/api/v1/authenticators/autnwmp13xx9bcDg95d7/methods","hints":{"allow":["GET"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ff0493a9fe02487a0539fd9272d97da2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1767778623'
    status:
      code: 200
      message: OK
version: 1
