interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '[{"id":"bnd1vfbcisOVD11TW5d7","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7","hints":{"allow":["GET","PUT"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YYkz3ZwviGI9xCnYJSB-pQAAB-c
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '92'
      x-rate-limit-reset:
      - '1636381714'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes
  response:
    body:
      string: '[{"id":"the1vfbcitR1tx9vZ5d7","logo":"https://ok12static.oktacdn.com/assets/img/logos/okta-logo.47066819ac7db5c13f4c431b2687cef6.png","favicon":"https://test.okta.com/favicon.ico","backgroundImage":null,"primaryColorHex":"#1662dd","primaryColorContrastHex":"#000000","secondaryColorHex":"#ebebed","secondaryColorContrastHex":"#000000","signInPageTouchPointVariant":"BACKGROUND_SECONDARY_COLOR","endUserDashboardTouchPointVariant":"LOGO_ON_FULL_WHITE_BACKGROUND","errorPageTouchPointVariant":"BACKGROUND_SECONDARY_COLOR","emailTemplateTouchPointVariant":"OKTA_DEFAULT","_links":{"favicon":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes/the1vfbcitR1tx9vZ5d7/favicon","hints":{"allow":["POST","DELETE"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes/the1vfbcitR1tx9vZ5d7","hints":{"allow":["GET","PUT"]}},"logo":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes/the1vfbcitR1tx9vZ5d7/logo","hints":{"allow":["POST","DELETE"]}},"background-image":{"href":"https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes/the1vfbcitR1tx9vZ5d7/background-image","hints":{"allow":["POST","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YYkz3rBLA9UgypA7XYcyLAAADq4
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '91'
      x-rate-limit-reset:
      - '1636381714'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/brands/bnd1vfbcisOVD11TW5d7/themes
version: 1
