interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/identity-sources/0oaqd7yj8075ZXRyE1d7/sessions
  response:
    body:
      string: '{"id":"apsqe3ifcgiwgs0Dx1d7","identitySourceId":"0oaqd7yj8075ZXRyE1d7","status":"CREATED","importType":"INCREMENTAL","created":"2025-09-26T04:55:04.000Z","lastUpdated":"2025-09-26T04:55:04.000Z"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7359fab5c73716e7f0615ba74efd1347
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '10'
      x-rate-limit-reset:
      - '1758862525'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/identity-sources/0oaqd7yj8075ZXRyE1d7/sessions/apsqe3ifcgiwgs0Dx1d7
  response:
    body:
      string: '{"id":"apsqe3ifcgiwgs0Dx1d7","identitySourceId":"0oaqd7yj8075ZXRyE1d7","status":"CREATED","importType":"INCREMENTAL","created":"2025-09-26T04:55:04.000Z","lastUpdated":"2025-09-26T04:55:04.000Z"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bedfc07e5ebec165c396e1e062be0d7a
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '8'
      x-rate-limit-reset:
      - '1758862525'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/identity-sources/0oaqd7yj8075ZXRyE1d7/sessions/apsqe3ifcgiwgs0Dx1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d37d5f59e597d8485edad5826de35d35
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '7'
      x-rate-limit-reset:
      - '1758862525'
    status:
      code: 204
      message: No Content
version: 1
