interactions:
- request:
    body: '{"domain": "login.example.com", "certificateSourceType": "MANUAL"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/domains
  response:
    body:
      string: '{"id":"OcD12zkfierAe9XLg5d7","domain":"login.example.com","validationStatus":"NOT_STARTED","dnsRecords":[{"fqdn":"_oktaverification.login.example.com","values":["21c0491639dc4a1a93ada8fdbf7713fb"],"recordType":"TXT"},{"fqdn":"login.example.com","values":["test.customdomains.okta.com"],"recordType":"CNAME"}],"_links":{"self":{"href":"https://test.okta.com/api/v1/domains/OcD12zkfierAe9XLg5d7","hints":{"allow":["GET","DELETE"]}},"verify":{"href":"https://test.okta.com/api/v1/domains/OcD12zkfierAe9XLg5d7/verify","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YNXR02OCv78@9Ja1-mHO-gAAC7Y
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '98'
      x-rate-limit-reset:
      - '1624625678'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/domains
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/domains/OcD12zkfierAe9XLg5d7
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YNXR1H74C7eqrjsYPa9vFAAADno
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '97'
      x-rate-limit-reset:
      - '1624625678'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/domains/OcD12zkfierAe9XLg5d7
version: 1
