interactions:
- request:
    body: '{"audiences": ["api://primary"], "description": "Primary Auth Server for
      Association Test", "name": "python_sdk_assoc_primary"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aussbb2so0rplY0QL5d7","name":"python_sdk_assoc_primary","description":"Primary
        Auth Server for Association Test","audiences":["api://primary"],"issuer":"https://test.okta.com/oauth2/aussbb2so0rplY0QL5d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2026-01-08T19:45:33.000Z","lastUpdated":"2026-01-08T19:45:33.000Z","credentials":{"signing":{"kid":"bhy3LxtgS45RlSTAzhMGs8Z5HFvFkHcMbOH3-479RDc","rotationMode":"AUTO","lastRotated":"2026-01-08T19:45:33.000Z","nextRotation":"2026-04-08T19:45:33.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aussbb2so0rplY0QL5d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aussbb2so0rplY0QL5d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c504663eacac85565eaa990fe0dcd4bf
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"trusted": ["aussbb2b2pPQSq0jb5d7"]}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/associatedServers
  response:
    body:
      string: '[{"id":"aussbb2b2pPQSq0jb5d7","name":"python_sdk_assoc_associated","description":"Associated
        Auth Server for Association Test","audiences":["api://associated"],"issuer":"https://test.okta.com/oauth2/aussbb2b2pPQSq0jb5d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2026-01-08T19:45:35.000Z","lastUpdated":"2026-01-08T19:45:35.000Z","credentials":{"signing":{"kid":"DbXcSL_973NRvga5B_Y0qTtMsXfOBupmD2_c16Y99hQ","rotationMode":"AUTO","lastRotated":"2026-01-08T19:45:35.000Z","nextRotation":"2026-04-08T19:45:35.000Z"}},"default":false,"_links":null}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3dfee6e2e893c727981b6eb0abb7a17f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/associatedServers?trusted=true
  response:
    body:
      string: '[{"id":"aussbb2b2pPQSq0jb5d7","name":"python_sdk_assoc_associated","description":"Associated
        Auth Server for Association Test","audiences":["api://associated"],"issuer":"https://test.okta.com/oauth2/aussbb2b2pPQSq0jb5d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2026-01-08T19:45:35.000Z","lastUpdated":"2026-01-08T19:45:35.000Z","credentials":{"signing":{"kid":"DbXcSL_973NRvga5B_Y0qTtMsXfOBupmD2_c16Y99hQ","rotationMode":"AUTO","lastRotated":"2026-01-08T19:45:35.000Z","nextRotation":"2026-04-08T19:45:35.000Z"}},"default":false,"_links":null}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/authorizationServers?limit=-1&trusted=true>;
        rel="self"
      - <https://dev-20982288.okta.com/api/v1/authorizationServers?after=aussbb2b2pPQSq0jb5d7&limit=-1&trusted=true>;
        rel="next"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 131ee914bc2fd815dbb2f1fb82ea429a
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/associatedServers?trusted=true&limit=10
  response:
    body:
      string: '[{"id":"aussbb2b2pPQSq0jb5d7","name":"python_sdk_assoc_associated","description":"Associated
        Auth Server for Association Test","audiences":["api://associated"],"issuer":"https://test.okta.com/oauth2/aussbb2b2pPQSq0jb5d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2026-01-08T19:45:35.000Z","lastUpdated":"2026-01-08T19:45:35.000Z","credentials":{"signing":{"kid":"DbXcSL_973NRvga5B_Y0qTtMsXfOBupmD2_c16Y99hQ","rotationMode":"AUTO","lastRotated":"2026-01-08T19:45:35.000Z","nextRotation":"2026-04-08T19:45:35.000Z"}},"default":false,"_links":null}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/authorizationServers?limit=10&trusted=true>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 2b9185b5f3369d10ab369a343777f7a2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7/associatedServers/aussbb2b2pPQSq0jb5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - eb55b6b30d8db004cec272cd4f7055c2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussbb2b2pPQSq0jb5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - baffa2e933a4f2f9af5ed46c872cb395
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '42'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussbb2so0rplY0QL5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d13065315a7abdf638db9de1e5790e64
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '41'
      x-rate-limit-reset:
      - '1767901593'
    status:
      code: 204
      message: No Content
version: 1
