interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=10
  response:
    body:
      string: "[{\"id\":\"guonli06qyirBuaHF1d7\",\"status\":\"SUSPENDED\",\"created\":\"2025-06-27T06:12:03.000Z\",\"lastUpdated\":\"2025-09-19T03:14:52.000Z\",\"profile\":{\"displayName\":\"HQPWN2JYWK\",\"platform\":\"IOS\",\"manufacturer\":\"APPLE\",\"model\":\"iPhone15,4\",\"osVersion\":\"18.5.0\",\"serialNumber\":\"HQPWN2JYWK\",\"udid\":\"00008120-001C5D4A3E32601E\",\"registered\":true,\"secureHardwarePresent\":true,\"authenticatorAppKey\":\"C1A3CED7-2009-4CCE-BEF4-034278790828\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"HQPWN2JYWK\",\"sensitive\":false},\"resourceId\":\"guonli06qyirBuaHF1d7\",\"resourceAlternateId\":null,\"_links\":{\"unsuspend\":{\"href\":\"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/unsuspend\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7\",\"hints\":{\"allow\":[\"GET\",\"PATCH\",\"PUT\"]}},\"users\":{\"href\":\"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/users\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}},{\"id\":\"guonlijeb8RyL8rrB1d7\",\"status\":\"ACTIVE\",\"created\":\"2025-06-27T06:57:23.000Z\",\"lastUpdated\":\"2025-09-18T20:59:36.000Z\",\"profile\":{\"displayName\":\"GW3M2TP2DH\",\"platform\":\"MACOS\",\"manufacturer\":\"APPLE\",\"model\":\"Mac15,9\",\"osVersion\":\"15.6.1\",\"serialNumber\":\"GW3M2TP2DH\",\"udid\":\"F5DFB6C9-24FB-5B81-BFCB-7AB5F7B58BA5\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"ALL_INTERNAL_VOLUMES\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"GW3M2TP2DH\",\"sensitive\":false},\"resourceId\":\"guonlijeb8RyL8rrB1d7\",\"resourceAlternateId\":null,\"_links\":{\"suspend\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/lifecycle/suspend\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7\",\"hints\":{\"allow\":[\"GET\",\"PATCH\",\"PUT\"]}},\"users\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/users\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/lifecycle/deactivate\",\"hints\":{\"al[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7
  response:
    body:
      string: '{"id":"guonli06qyirBuaHF1d7","status":"SUSPENDED","created":"2025-06-27T06:12:03.000Z","lastUpdated":"2025-09-19T03:14:52.000Z","profile":{"displayName":"HQPWN2JYWK","platform":"IOS","manufacturer":"APPLE","model":"iPhone15,4","osVersion":"18.5.0","serialNumber":"HQPWN2JYWK","udid":"00008120-001C5D4A3E32601E","registered":true,"secureHardwarePresent":true,"authenticatorAppKey":"C1A3CED7-2009-4CCE-BEF4-034278790828"},"resourceType":"UDDevice","resourceDisplayName":{"value":"HQPWN2JYWK","sensitive":false},"resourceId":"guonli06qyirBuaHF1d7","resourceAlternateId":null,"_links":{"unsuspend":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/unsuspend","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7","hints":{"allow":["GET","PATCH","PUT"]}},"users":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"_embedded":{"originatedFrom":[{"id":"autnkw1sgntSDQThR1d7","name":"Okta
        Verify","key":"okta_verify"}]}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 859716fb696baf44af639e49c19ac587
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758251799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/users
  response:
    body:
      string: '[{"created":"2025-06-27T06:12:03.000Z","managementStatus":"NOT_MANAGED","user":{"id":"00unkw1sfbTw08c0g1d7","status":"ACTIVE","created":"2025-06-26T15:51:38.000Z","activated":null,"statusChanged":"2025-06-27T06:09:35.000Z","lastLogin":"2025-09-18T08:27:38.000Z","lastUpdated":"2025-06-27T06:09:35.000Z","passwordChanged":"2025-06-27T06:09:35.000Z","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"Aditya","lastName":"Anand","mobilePhone":null,"secondEmail":null,"login":"aditya.anand@okta.com","email":"aditya.anand@okta.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00unkw1sfbTw08c0g1d7/lifecycle/deactivate","method":"POST"}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 269ca6642b39a32cc2aa88be1eea3370
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758251801'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/unsuspend
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 4083c9e5dcb646457387926a1c25376e
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758251799'
    status:
      code: 204
      message: No Content
[...]
