interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/non-existent-device-id
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        non-existent-device-id (Device)","errorLink":"E0000007","errorId":"oaekLGBEJFPT6GY633pYIYsxw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - afb034f805b6135c8f92caaa70840d1d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758252223'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/non-existent-device-id/users
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        non-existent-device-id (GenericUDObject)","errorLink":"E0000007","errorId":"oaeDjxmN1B2T-qlbj5W0Mfjng","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 905be60688e24dee94cfd31c85f1301c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758252198'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/devices/non-existent-device-id/lifecycle/activate
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        non-existent-device-id (Device)","errorLink":"E0000007","errorId":"oaeg7ihgWeMT7mmBDXWA54l9g","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bd3e8e54bae9d361b998c7a638d4d2f4
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758252223'
    status:
      code: 404
      message: Not Found
version: 1
