interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=1&search=status%20eq%20%22DEACTIVATED%22
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/devices?limit=1&search=status+eq+%22DEACTIVATED%22>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5c33a6b21af34f1a3c7bb7997c0b3d29
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758252148'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=1&search=status%20eq%20%22ACTIVE%22
  response:
    body:
      string: '[{"id":"guonli06qyirBuaHF1d7","status":"ACTIVE","created":"2025-06-27T06:12:03.000Z","lastUpdated":"2025-09-19T03:15:43.000Z","profile":{"displayName":"HQPWN2JYWK","platform":"IOS","manufacturer":"APPLE","model":"iPhone15,4","osVersion":"18.5.0","serialNumber":"HQPWN2JYWK","udid":"00008120-001C5D4A3E32601E","registered":true,"secureHardwarePresent":true,"authenticatorAppKey":"C1A3CED7-2009-4CCE-BEF4-034278790828"},"resourceType":"UDDevice","resourceDisplayName":{"value":"HQPWN2JYWK","sensitive":false},"resourceId":"guonli06qyirBuaHF1d7","resourceAlternateId":null,"_links":{"suspend":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/suspend","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7","hints":{"allow":["GET","PATCH","PUT"]}},"users":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/devices?limit=1&search=status+eq+%22ACTIVE%22>;
        rel="self"
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/devices?after=guonli06qyirBuaHF1d7&limit=1&search=status+eq+%22ACTIVE%22>;
        rel="next"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7f7d864399296fc9a6e9a45995d44404
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758252148'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: POST
    uri: https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 58ff2a13fdabee30c4b57fa414149849
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758252148'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7
  response:
    body:
      string: '{"id":"guonli06qyirBuaHF1d7","status":"DEACTIVATED","created":"2025-06-27T06:12:03.000Z","lastUpdated":"2025-09-19T03:21:30.000Z","profile":{"displayName":"HQPWN2JYWK","platform":"IOS","manufacturer":"APPLE","model":"iPhone15,4","osVersion":"18.5.0","serialNumber":"HQPWN2JYWK","udid":"00008120-001C5D4A3E32601E","registered":true,"secureHardwarePresent":true,"authenticatorAppKey":"C1A3CED7-2009-4CCE-BEF4-034278790828"},"resourceType":"UDDevice","resourceDisplayName":{"value":"HQPWN2JYWK","sensitive":false},"resourceId":"guonli06qyirBuaHF1d7","resourceAlternateId":null,"_links":{"activate":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7","hints":{"allow":["GET","DELETE"]}}},"_embedded":{"originatedFrom":[{"id":"autnkw1sgntSDQThR1d7","name":"Okta
        Verify","key":"okta_verify"}]}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5acc13c4b83e563d658f0339c162db75
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1758252148'
    status:
      code: 200
      message: OK
version: 1
