interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=10
  response:
    body:
      string: "[{\"id\":\"guonli06qyirBuaHF1d7\",\"status\":\"DEACTIVATED\",\"created\":\"2025-06-27T06:12:03.000Z\",\"lastUpdated\":\"2025-09-19T03:21:30.000Z\",\"profile\":{\"displayName\":\"HQPWN2JYWK\",\"platform\":\"IOS\",\"manufacturer\":\"APPLE\",\"model\":\"iPhone15,4\",\"osVersion\":\"18.5.0\",\"serialNumber\":\"HQPWN2JYWK\",\"udid\":\"00008120-001C5D4A3E32601E\",\"registered\":true,\"secureHardwarePresent\":true,\"authenticatorAppKey\":\"C1A3CED7-2009-4CCE-BEF4-034278790828\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"HQPWN2JYWK\",\"sensitive\":false},\"resourceId\":\"guonli06qyirBuaHF1d7\",\"resourceAlternateId\":null,\"_links\":{\"activate\":{\"href\":\"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/activate\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7\",\"hints\":{\"allow\":[\"GET\",\"DELETE\"]}}}},{\"id\":\"guonlijeb8RyL8rrB1d7\",\"status\":\"ACTIVE\",\"created\":\"2025-06-27T06:57:23.000Z\",\"lastUpdated\":\"2025-09-19T03:18:27.000Z\",\"profile\":{\"displayName\":\"GW3M2TP2DH\",\"platform\":\"MACOS\",\"manufacturer\":\"APPLE\",\"model\":\"Mac15,9\",\"osVersion\":\"15.6.1\",\"serialNumber\":\"GW3M2TP2DH\",\"udid\":\"F5DFB6C9-24FB-5B81-BFCB-7AB5F7B58BA5\",\"registered\":true,\"secureHardwarePresent\":true,\"diskEncryptionType\":\"ALL_INTERNAL_VOLUMES\"},\"resourceType\":\"UDDevice\",\"resourceDisplayName\":{\"value\":\"GW3M2TP2DH\",\"sensitive\":false},\"resourceId\":\"guonlijeb8RyL8rrB1d7\",\"resourceAlternateId\":null,\"_links\":{\"suspend\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/lifecycle/suspend\",\"hints\":{\"allow\":[\"POST\"]}},\"self\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7\",\"hints\":{\"allow\":[\"GET\",\"PATCH\",\"PUT\"]}},\"users\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/users\",\"hints\":{\"allow\":[\"GET\"]}},\"deactivate\":{\"href\":\"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/lifecycle/deactivate\",\"hints\":{\"allow\":[\"POST\"]}}}},{\"id\":\"guonyww5f0MnWGsUX1d7\",\"status\":\"ACTIVE\",\"created\":\"2025-07-09T12:24:35.000Z\",\"lastUpdated\":\"2025-08-06T17:09:00.000Z\",\"profile\":{\"displayName\":\"D9WLVTF4KX\",\"platform\":\"MACOS\",\"manufacturer\":\"APPLE\",\"model\":\"Mac15,9\",\"osVersion\":\"15.5.0\",\"serialNumber\":\"D9WLVTF4KX\",\"udid\":\"30F7CEF6-A777-5D19-A888-6534643FAF3A\",\"regis[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/users
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9c200c3b6514338ae4509365455e09e1
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1758252367'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/users
  response:
    body:
      string: '[{"created":"2025-06-27T06:57:23.000Z","managementStatus":"NOT_MANAGED","screenLockType":"BIOMETRIC","user":{"id":"00unli90kor62oF5Z1d7","status":"ACTIVE","created":"2025-06-27T06:34:18.000Z","activated":"2025-06-27T06:34:19.000Z","statusChanged":"2025-06-27T06:56:45.000Z","lastLogin":"2025-09-18T06:47:01.000Z","lastUpdated":"2025-06-27T06:56:45.000Z","passwordChanged":"2025-06-27T06:56:45.000Z","type":{"id":"otynkw1sdzpoFCZMq1d7"},"profile":{"firstName":"Pranav","lastName":"RK","mobilePhone":null,"secondEmail":null,"login":"pranav.rathinakumar@okta.com","email":"pranav.rathinakumar@okta.com"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"},"resetPassword":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7"},"resetFactors":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"changePassword":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://test.okta.com/api/v1/users/00unli90kor62oF5Z1d7/lifecycle/deactivate","method":"POST"}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b8fa122d73a4be559072f6c349e53fb7
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1758252367'
    status:
      code: 200
      message: OK
[...]
