interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=5
  response:
    body:
      string: '[{"id":"guonli06qyirBuaHF1d7","status":"ACTIVE","created":"2025-06-27T06:12:03.000Z","lastUpdated":"2025-09-19T03:15:43.000Z","profile":{"displayName":"HQPWN2JYWK","platform":"IOS","manufacturer":"APPLE","model":"iPhone15,4","osVersion":"18.5.0","serialNumber":"HQPWN2JYWK","udid":"00008120-001C5D4A3E32601E","registered":true,"secureHardwarePresent":true,"authenticatorAppKey":"C1A3CED7-2009-4CCE-BEF4-034278790828"},"resourceType":"UDDevice","resourceDisplayName":{"value":"HQPWN2JYWK","sensitive":false},"resourceId":"guonli06qyirBuaHF1d7","resourceAlternateId":null,"_links":{"suspend":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/suspend","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7","hints":{"allow":["GET","PATCH","PUT"]}},"users":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://test.okta.com/api/v1/devices/guonli06qyirBuaHF1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}},{"id":"guonlijeb8RyL8rrB1d7","status":"ACTIVE","created":"2025-06-27T06:57:23.000Z","lastUpdated":"2025-09-19T03:18:27.000Z","profile":{"displayName":"GW3M2TP2DH","platform":"MACOS","manufacturer":"APPLE","model":"Mac15,9","osVersion":"15.6.1","serialNumber":"GW3M2TP2DH","udid":"F5DFB6C9-24FB-5B81-BFCB-7AB5F7B58BA5","registered":true,"secureHardwarePresent":true,"diskEncryptionType":"ALL_INTERNAL_VOLUMES"},"resourceType":"UDDevice","resourceDisplayName":{"value":"GW3M2TP2DH","sensitive":false},"resourceId":"guonlijeb8RyL8rrB1d7","resourceAlternateId":null,"_links":{"suspend":{"href":"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7/lifecycle/suspend","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7","hints":{"allow":["GET","PATCH","PUT"]}},"users":{"href":"https://test.okta.com/api/v1/devices/guonlijeb8RyL8rrB1d7[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=10&search=status%20eq%20%22ACTIVE%22
  response:
    body:
      string: "[{\"id\":\"guonli06qyirBuaHF1d7\",\"status\":\"ACTIVE\",\"created\":\"2025-06-27T06:12:03.000Z\",\"lastUpdated\":\"2025-09-19T03:15:43.000Z\",\"profile\":{\"displayName\":\"HQPWN2JYWK\",\"platform\":\"IOS\",\"manufacturer\":\"APPLE\",\"model\":\"iPhone15,4\",\"osVersion\":\[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?after=mock_cursor_for_testing&limit=2
  response:
    body:
      string: '{"errorCode":"E0000031","errorSummary":"Invalid search criteria.","errorLink":"E0000031","errorId":"oaeaD7DpHunREGPrYH1z_CTTQ","errorCauses":[{"errorSummary":"Invalid
        cursor."}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 519480d5d5111063a2b66315bcb214d7
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1758252054'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=5&search=status%20eq%20%22SUSPENDED%22
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/devices?limit=5&search=status+eq+%22SUSPENDED%22>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 024b06afd3c48990e4b67d4f8e686217
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '45'
      x-rate-limit-reset:
      - '1758252054'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/devices?limit=5&search=profile.platform%20eq%20%22WINDOWS%22
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/devices?limit=5&search=profile.platform+eq+%22WINDOWS%22>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b7eae6859d12ceb415e96e78236d7c0c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '44'
      x-rate-limit-reset:
      - '1758252054'
    status:
      code: 200
      message: OK
version: 1
