interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/groups/test_group_id
  response:
    body:
      string: '{"id":"test_group_id","created":"2021-06-04T07:57:00.000Z","lastUpdated":"2022-02-17T15:02:21.000Z","lastMembershipUpdated":"2021-06-07T11:12:33.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Basic
        Auth Web","description":null,"customGroupAttribute":"custom_group_attr_value"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/test_group_id/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/test_group_id/apps"}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Yg5jlK35tJycDUsSLIChrwAADjE
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '96'
      x-rate-limit-reset:
      - '1645110199'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/test_group_id
[...]
