interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/?activate=False
  response:
    body:
      string: '{"id":"00usfqsebZHrwwPpw4x6","status":"STAGED","created":"2020-08-27T18:54:57.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-08-27T18:54:57.000Z","passwordChanged":"2020-08-27T18:54:57.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Group-Rule-Ops","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Group-Rule-Ops@example.com","email":"John.Doe-Group-Rule-Ops@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Group-Rule-Ops@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscc04qb2rUDcq2YA4x6"},"activate":{"href":"https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6/lifecycle/activate","method":"POST"},"self":{"href":"https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6"},"type":{"href":"https://test.okta.com/api/v1/meta/types/user/otyc04qb2rUDcq2YA4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBgeZUc5HN-rnRgUukLQAAAqo
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '599'
      x-rate-limit-reset: '1598554557'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/?activate=False
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gsfnbb3uSf4Bfzg4x6","created":"2020-08-27T18:54:57.000Z","lastUpdated":"2020-08-27T18:54:57.000Z","lastMembershipUpdated":"2020-08-27T18:54:57.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test-Group-Rule-Ops","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBgd@OFBAtVukbnH1xxQAACag
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '490'
      x-rate-limit-reset: '1598554513'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups/rules
  response:
    body:
      string: '{"type":"group_rule","id":"0prsfncw9sygwaEYW4x6","status":"INACTIVE","name":"Test-Group-Rule-Group-Rule-Ops","created":"2020-08-27T18:54:57.000Z","lastUpdated":"2020-08-27T18:54:57.000Z","conditions":{"expression":{"value":"user.lastName==\"Doe-Group-Rule-Ops\"","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gsfnbb3uSf4Bfzg4x6"]}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBgSN1lVk9KyfoZR@K5AAACMU
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '489'
      x-rate-limit-reset: '1598554513'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/rules
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6/lifecycle/activate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBgZ@uz0vmwTLNYnL74wAAAcA
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '488'
      x-rate-limit-reset: '1598554513'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6/lifecycle/activate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6/users
  response:
    body:
      string: '[{"id":"00usfqsebZHrwwPpw4x6","status":"STAGED","created":"2020-08-27T18:54:57.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2020-08-27T18:54:57.000Z","passwordChanged":"2020-08-27T18:54:57.000Z","type":{"id":"otyc04qb2rUDcq2YA4x6"},"profile":{"firstName":"John","lastName":"Doe-Group-Rule-Ops","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Group-Rule-Ops@example.com","email":"John.Doe-Group-Rule-Ops@example.com"},"credentials":{"password":{},"emails":[{"value":"John.Doe-Group-Rule-Ops@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6"}}}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      link: <https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6/users?limit=1000>;
        rel="self"
      x-okta-request-id: X0gBkQNwrUoJqchH6qDoYgAACPU
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '487'
      x-rate-limit-reset: '1598554513'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6/users
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBkX3by3cU8ozcZboSDQAABc8
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '498'
      x-rate-limit-reset: '1598554573'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6
  response:
    body:
      string: '{"type":"group_rule","id":"0prsfncw9sygwaEYW4x6","status":"INACTIVE","name":"Test-Group-Rule
        Updated","created":"2020-08-27T18:54:57.000Z","lastUpdated":"2020-08-27T18:55:13.000Z","conditions":{"expression":{"value":"user.lastName==\"BLAHBLAHBLAH\"","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gsfnbb3uSf4Bfzg4x6"]}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBkSWX6pNt5D9Ki65vpgAAA1E
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '497'
      x-rate-limit-reset: '1598554573'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBofUtot0sUEdcLQh9WQAABbY
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '598'
      x-rate-limit-reset: '1598554557'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBomjxU2auXDjMjHhslwAABBU
      x-rate-limit-limit: '600'
      x-rate-limit-remaining: '599'
      x-rate-limit-reset: '1598554590'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/users/00usfqsebZHrwwPpw4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBokRGmrKoIKeohJcDEwAAABg
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1598554590'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gsfnbb3uSf4Bfzg4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gBog87-YoqHNGxDsuPbwAABMI
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '493'
      x-rate-limit-reset: '1598554573'
    status:
      code: 202
      message: Accepted
    url: https://test.okta.com/api/v1/groups/rules/0prsfncw9sygwaEYW4x6
version: 1
