interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/groups
  response:
    body:
      string: '{"id":"00gsftar3gm7ICiOw4x6","created":"2020-08-27T19:11:53.000Z","lastUpdated":"2020-08-27T19:11:53.000Z","lastMembershipUpdated":"2020-08-27T19:11:53.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Group-Target-Test","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://ok11static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/groups/00gsftar3gm7ICiOw4x6/users"},"apps":{"href":"https://test.okta.com/api/v1/groups/00gsftar3gm7ICiOw4x6/apps"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gFeQotPnWCLz98dry@DAAAB-w
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1598555573'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/groups
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oasfvje2auD4Zpjo4x6","name":"template_swa","label":"Test Assigned-Applications","status":"ACTIVE","lastUpdated":"2020-08-27T19:11:53.000Z","created":"2020-08-27T19:11:53.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":"^https://example.com/login.html$","usernameField":"txt-box-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txt-box-password","url":"https://example.com/login.html"},"extendedProperties":null,"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/template_swa/0oasfvje2auD4Zpjo4x6/2357","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/fs/bcg/4/gfsk2o62502C8ZqRL4x5","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gFeZzw3Z5oRU0l4yhjewAABBw
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '99'
      x-rate-limit-reset: '1598555573'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/groups/00gsftar3gm7ICiOw4x6
  response:
    body:
      string: '{"id":"00gsftar3gm7ICiOw4x6","lastUpdated":"2020-08-27T19:11:54.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6"},"self":{"href":"https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/groups/00gsftar3gm7ICiOw4x6"},"group":{"href":"https://test.okta.com/api/v1/groups/00gsftar3gm7ICiOw4x6"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gFekgJZZlCadrPca4oywAAAyk
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '98'
      x-rate-limit-reset: '1598555573'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/groups/00gsftar3gm7ICiOw4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/groups/00gsftar3gm7ICiOw4x6/apps
  response:
    body:
      string: '[{"id":"0oasfvje2auD4Zpjo4x6","name":"template_swa","label":"Test Assigned-Applications","status":"ACTIVE","lastUpdated":"2020-08-27T19:11:53.000Z","created":"2020-08-27T19:11:53.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gFfciJsJrWnNsrFSZovwAAAqg
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '97'
      x-rate-limit-reset: '1598555573'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gFfQ50vVyE1uXSf7qrIgAAAa8
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '499'
      x-rate-limit-reset: '1598555577'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oasfvje2auD4Zpjo4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/groups/00gsftar3gm7ICiOw4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0gFfmKvAOVHT2iSoaOZpAAABNE
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '999'
      x-rate-limit-reset: '1598555578'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/groups/00gsftar3gm7ICiOw4x6
version: 1
