interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00psfe1klYKnrfnBh4x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gc04qatkiyWnGoq4x6"]}}},"created":"2020-08-27T18:16:59.000Z","lastUpdated":"2020-08-27T18:16:59.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/policies/00psfe1klYKnrfnBh4x6","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/00psfe1klYKnrfnBh4x6/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/00psfe1klYKnrfnBh4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4muNeXAtwouJSsV93qQAAAA0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '950'
      x-rate-limit-reset: '1598552263'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/policies
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/00psfe1klYKnrfnBh4x6
  response:
    body:
      string: '{"type":"OKTA_SIGN_ON","id":"00psfe1klYKnrfnBh4x6","status":"ACTIVE","name":"python_sdk
        Test-Sign-On","description":"Test policy applies for tests only","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00gc04qatkiyWnG[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/policies/00psfe1klYKnrfnBh4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4m4DmRBVhmqBVUY99WgAACA0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '946'
      x-rate-limit-reset: '1598552263'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/policies/00psfe1klYKnrfnBh4x6
version: 1
