interactions:
- request:
    body: '{"description": "Test authentication policy to be cloned", "name": "python_sdk
      Test-Access-Policy-To-Clone", "status": "ACTIVE", "system": false, "type": "ACCESS_POLICY"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies
  response:
    body:
      string: '{"id":"rsts3ly62thqN5vDd5d7","status":"ACTIVE","name":"python_sdk Test-Access-Policy-To-Clone","description":"Test
        authentication policy to be cloned","priority":1,"system":false,"conditions":null,"created":"2025-12-25T20:12:45.000Z","lastUpdated":"2025-12-25T20:12:45.000Z","_links":{"mappings":{"href":"https://test.okta.com/api/v1/policies/rsts3ly62thqN5vDd5d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/policies/rsts3ly62thqN5vDd5d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/rsts3ly62thqN5vDd5d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/rsts3ly62thqN5vDd5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - cb1240b8c409aaf45bc72de1a10bde58
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1766693625'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies/rsts3ly62thqN5vDd5d7/clone
  response:
    body:
      string: '{"id":"rsts3m0hr4clbLLib5d7","status":"ACTIVE","name":"[cloned] python_sdk
        Test-Access-Policy-To-Clone","description":"Test authentication policy to
        be cloned","priority":1,"system":false,"conditions":null,"created":null,"lastUpdated":null,"_links":{"mappings":{"href":"https://test.okta.com/api/v1/policies/rsts3m0hr4clbLLib5d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/policies/rsts3m0hr4clbLLib5d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/rsts3m0hr4clbLLib5d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/rsts3m0hr4clbLLib5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5e702875c03d770a1dd2fd1f760fe3d9
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1766693625'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/policies/rsts3ly62thqN5vDd5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0bfe18e0e6279d577b72de63a8286a13
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1766693625'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/policies/rsts3m0hr4clbLLib5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - db0f8a374303f21a20f6d314b39a415d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1766693625'
    status:
      code: 204
      message: No Content
version: 1
