interactions:
- request:
    body: '{"description": "Test access policy for app mapping", "name": "python_sdk
      Test-Access-Policy", "status": "ACTIVE", "system": false, "type": "ACCESS_POLICY"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/policies
  response:
    body:
      string: '{"id":"rsts3lvo443fFbxFA5d7","status":"ACTIVE","name":"python_sdk Test-Access-Policy","description":"Test
        access policy for app mapping","priority":1,"system":false,"conditions":null,"created":"2025-12-25T20:08:02.000Z","lastUpdated":"2025-12-25T20:08:02.000Z","_links":{"mappings":{"href":"https://test.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7/mappings","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ddea7c17dfd1c8791eb1c78770071df2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1766693342'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7/app
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7/app?limit=20>;
        rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      okta-collection-count:
      - '0'
      x-okta-request-id:
      - 764495d077c811ffdf4389e490f93a31
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1766693342'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/policies/rsts3lvo443fFbxFA5d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c7b6e8f73a343f7b9ce69a9c9b0e38d7
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1766693342'
    status:
      code: 204
      message: No Content
version: 1
