interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/api-tokens/00Tinvalid8888888888
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00Tinvalid8888888888 (Token)","errorLink":"E0000007","errorId":"oae9GAPrhscShetGZuG0SNFQA","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1e48a4d1346d8502e1728f96d635d88c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '289'
      x-rate-limit-reset:
      - '1759130141'
    status:
      code: 404
      message: Not Found
version: 1
