interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/api-tokens?limit=5
  response:
    body:
      string: '[{"id":"00T1f3w86v9h8o1VZ1d7","name":"Aditya''s Token","userId":"00uq3v4l71WsFPInE1d7","clientName":"Okta
        API","tokenWindow":"P30D","network":{"connection":"ANYWHERE"},"expiresAt":"2025-10-16T05:34:42.000Z","created":"2025-09-16T05:34:42.000Z","lastUpdated":"2025-09-16T05:34:42.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/api-tokens/00T1f3w86v9h8o1VZ1d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://test.okta.com/api/v1/users/00uq3v4l71WsFPInE1d7","hints":{"allow":["GET"]}}}},{"id":"00T1fgddrrL0btPWo1d7","name":"Aniket''s
        Token","userId":"00ule6lkthEwcYeFf1d7","clientName":"Okta API","tokenWindow":"P30D","network":{"connection":"ANYWHERE"},"expiresAt":"2025-10-29T07:14:41.000Z","created":"2025-09-25T08:14:13.000Z","lastUpdated":"2025-09-29T07:14:41.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/api-tokens/00T1fgddrrL0btPWo1d7","hints":{"allow":["GET","[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/api-tokens?q=API
  response:
    body:
      string: '[{"id":"00T1f3w86v9h8o1VZ1d7","name":"Aditya''s Token","userId":"00uq3v4l71WsFPInE1d7","clientName":"Okta
        API","tokenWindow":"P30D","network":{"connection":"ANYWHERE"},"expiresAt":"2025-10-16T05:34:42.000Z","created":"2025-09-16T05:34:42.000Z","lastUpdated":"2025-09-16T05:34:42.000Z","_links":{"self[...]
