interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/api-tokens
  response:
    body:
      string: '[{"id":"00T3kinb0wOUpDUdV5d7","name":"API access token","userId":"00unwlw0tbo8E6aVj5d7","clientName":"Okta
        API","tokenWindow":"P30D","network":{"connection":"ANYWHERE"},"expiresAt":"2026-01-30T08:19:35.000Z","created":"2025-07-21T05:52:51.000Z","lastUpdated":"2025-12-31T08:19:35.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/api-tokens/00T3kinb0wOUpDUdV5d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7","hints":{"allow":["GET"]}}}},{"id":"00T45yrcisQjYlxJr5d7","name":"API
        Token","userId":"00urzf0guohXNzvc65d7","clientName":"Okta API","tokenWindow":"P30D","network":{"connection":"ANYWHERE"},"expiresAt":"2026-01-16T06:23:05.000Z","created":"2025-12-17T05:30:24.000Z","lastUpdated":"2025-12-17T06:23:05.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/api-tokens/00T45yrcisQjYlxJr5d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://test.okta.com/api/v1/users/00urzf0guohXNzvc65d7","hints":{"allow":["GET"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ff638be896d224b70f866f514ee8df99
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1767169235'
    status:
      code: 200
      message: OK
[...]
