interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: DELETE
    uri: https://test.okta.com/api/v1/api-tokens/00Tinvalid9999999999
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00Tinvalid9999999999 (Token)","errorLink":"E0000007","errorId":"oaeEWZIzM5CSru2o1mNvlDRuQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 408682f0efd570503ec876e189dae579
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '277'
      x-rate-limit-reset:
      - '1759130141'
    status:
      code: 404
      message: Not Found
version: 1
