interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aussfdcuzdjByHgts4x6","name":"python_sdk_test_abDfZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/aussfdcuzdjByHgts4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-27T18:15:00.000Z","lastUpdated":"2020-08-27T18:15:00.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-27T18:15:00.000Z","nextRotation":"2020-11-25T18:15:00.000Z","kid":"5_vma6KRl_OxRjcmumy7celNnxP1R1nOOcCbJh_W_vw"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aussfdcuzdjByHgts4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aussfdcuzdjByHgts4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4JC30n5ak4VN@XaItZQAABZA
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '951'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies
  response:
    body:
      string: '{"type":"OAUTH_AUTHORIZATION_POLICY","id":"00psfbmf3R2wwrcXX4x6","status":"ACTIVE","name":"Test
        Policy","description":"Test Policy","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2020-08-27T18:15:00.000Z","lastUpdated":"2020-08-27T18:15:00.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies/00psfbmf3R2wwrcXX4x6","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies/00psfbmf3R2wwrcXX4x6/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies/00psfbmf3R2wwrcXX4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4JOHpqhSGUOcWfPecMgAAAcY
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '950'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies/00psfbmf3R2wwrcXX4x6
  response:
    body:
      string: '{"type":"OAUTH_AUTHORIZATION_POLICY","id":"00psfbmf3R2wwrcXX4x6","status":"ACTIVE","name":"Test
        Policy","description":"Test Policy","priority":1,"system":false,"conditions":{"clients":{"include":["ALL[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies/00psfbmf3R2wwrcXX4x6
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00psfbmf3R2wwrcXX4x6 (Policy)","errorLink":"E0000007","errorId":"oaeQ6trC9MRTEqoUnvdGCi9ZQ","errorCauses":[]}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4JTJX6i8rVRl78fHDBAAACQI
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '947'
      x-rate-limit-reset: '1598552143'
    status:
      code: 404
      message: Not Found
    url: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/policies/00psfbmf3R2wwrcXX4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4JdRsn41aY0TBw0mUZAAABD4
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '946'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4JtRsn41aY0TBw0mUZgAAA-g
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '945'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfdcuzdjByHgts4x6
version: 1
