interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aussfbmfizK8Z4oKb4x6","name":"python_sdk_test_abDfZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/aussfbmfizK8Z4oKb4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-27T18:15:21.000Z","lastUpdated":"2020-08-27T18:15:21.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-27T18:15:21.000Z","nextRotation":"2020-11-25T18:15:21.000Z","kid":"hIPbAEm1jCxqSDGiCgGxsUd9QFHZewM39ObzqOzRpJc"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aussfbmfizK8Z4oKb4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aussfbmfizK8Z4oKb4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4OY2x2Q@J3NHoTbkpPgAAASM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '889'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/credentials/lifecycle/keyRotate
  response:
    body:
      string: '[{"kty":"RSA","status":"ACTIVE","alg":"RS256","kid":"qrfgSoKX4ejSPcftD6KibPV9JNbdhnmHqN-fRsxX82I","use":"sig","_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/credentials/keys/qrfgSoKX4ejSPcftD6KibPV9JNbdhnmHqN-fRsxX82I","hints":{"allow":["GET"]}}},"e":"AQAB","n":"h2bvvQTRqAkS-E7shTbLUTlwkN3Od38VDdK5q7MAsZcl-G8YiqrQEfE7KOUjnnZy1Vh2BTPbnwVq_YoWcEGQNRcKPX314qnN7W2cgtLY7yXhPxLlDoBZXRjde9ZJtO-V-BsPVPf3RhbtSha1bDkfeQbO7HJoGyecXwvcDH_h5MtvXt_oiBOs45MZ65RYqBqiy5SF0CtIhvxLrwvTZC1jhUWIjkY44ynSJK042utGNclhHfiI50CiokNFlASxV2JaYDEPLrmHd7JatbW_6qSEdvOk9ENA8lfFM31[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4OcgRAN-bGRH7jAEGkQAABYI
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '887'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4OpZPUQQNajBKf4ONoAAABzw
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '886'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfbmfizK8Z4oKb4x6
version: 1
