interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aussf9qlswLKiZn054x6","name":"python_sdk_test_abDfZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/aussf9qlswLKiZn054x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-27T18:15:19.000Z","lastUpdated":"2020-08-27T18:15:19.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-27T18:15:19.000Z","nextRotation":"2020-11-25T18:15:19.000Z","kid":"1I1uPSZKV5y1R_KaUOf24H_h813upj4fzZ-eCfAreN8"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aussf9qlswLKiZn054x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aussf9qlswLKiZn054x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4NzPE1VLOZGj6yo1xbQAAAyY
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '893'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/credentials/keys
  response:
    body:
      string: '[{"kty":"RSA","status":"ACTIVE","alg":"RS256","kid":"1I1uPSZKV5y1R_KaUOf24H_h813upj4fzZ-eCfAreN8","use":"sig","_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/credentials/keys/1I1uPSZKV5y1R_KaUOf24H_h813upj4fzZ-eCfAreN8","hints":{"allow":["GET"]}}},"e":"AQAB","n":"kcBpOTXe4mH9DW-FUj1xD2HdYab8jYlwZmNjDcnbn8WqkOV3EMjzHVS1dpp67TIjogx55HqdfBqxAGysxiHTnCecHwhTjj-oZ4uCofJFgDatAa7w2o4NFERi_XgFbD3gJbix47V6vV6JIy7eBl56k3FAhtWtbvbJ-iqH77OiQjtmO55o3qYTz-kz0IZRmdL2RY1RHPZ45KC5dOtiNCkYi6X_rwQcJzOZtFwUxF7ZeLGKyFeeb545XeU-IR_Wxwm8EU6bBzNthcMD8hpZU8lQmu5r-ySVlIy-Gv3ME1xYphr8wzq--xxd1CQltU09p7Xxm4XFFUYW-sHENqvpha-2PQ"}]'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4N4bXhMJZx0bMnmeCsgAABpo
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '892'
      x-rate-limit-reset: '1598552143'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/credentials/keys
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4OMiJsJrWnNsrFSYCIwAAAqs
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '891'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4OLxddn@J8v@UC6OXuwAAAEc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '890'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussf9qlswLKiZn054x6
version: 1
