interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aussf86eiPj6Q6kKU4x6","name":"python_sdk_test_abDeZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/aussf86eiPj6Q6kKU4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-27T18:14:54.000Z","lastUpdated":"2020-08-27T18:14:54.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-27T18:14:54.000Z","nextRotation":"2020-11-25T18:14:54.000Z","kid":"nGqDTg4LoTAxCjZvVRtpSICHU0XZBCJcLlPTen2NF2I"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aussf86eiPj6Q6kKU4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aussf86eiPj6Q6kKU4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4HsZqIgY6y1Gw06ZNuQAAAGk
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '969'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies
  response:
    body:
      string: '{"type":"OAUTH_AUTHORIZATION_POLICY","id":"00psfdb4sqFWj8qVC4x6","status":"ACTIVE","name":"Test
        Policy","description":"Test Policy","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2020-08-27T18:14:54.000Z","lastUpdated":"2020-08-27T18:14:54.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies/00psfdb4sqFWj8qVC4x6","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies/00psfdb4sqFWj8qVC4x6/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies/00psfdb4sqFWj8qVC4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4HkaK9JuQdFKjI07u3wAABAQ
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '968'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies/00psfdb4sqFWj8qVC4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4H8iJsJrWnNsrFSYBZQAAAoY
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '966'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/policies/00psfdb4sqFWj8qVC4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4H5C3KOuMgBIW4mY0YAAAAGs
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '965'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4H8EInBvlR-@hs2@PHgAABpg
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '964'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussf86eiPj6Q6kKU4x6
version: 1
