interactions:
- request:
    body: '{"audiences": ["api://default"], "description": "Test Auth Server", "name":
      "python_sdk_test_abDeZ"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aus4dnbe96RN8oWne0g7","name":"python_sdk_test_abDeZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/aus4dnbe96RN8oWne0g7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2023-02-14T17:48:37.000Z","lastUpdated":"2023-02-14T17:48:37.000Z","credentials":{"signing":{"kid":"koQAPsntst9JZHjBDBdDZ58eJfarRJbqUhotOWGJ6ug","rotationMode":"AUTO","lastRotated":"2023-02-14T17:48:37.000Z","nextRotation":"2023-05-15T17:48:37.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aus4dnbe96RN8oWne0g7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aus4dnbe96RN8oWne0g7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJdMdmDqzIytQkaKTOgwAADjw
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '493'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: '{"conditions": {"clients": {"include": ["ALL_CLIENTS"]}}, "description":
      "Test Policy", "name": "Test Policy", "priority": 1, "status": "ACTIVE", "type":
      "OAUTH_AUTHORIZATION_POLICY"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies
  response:
    body:
      string: '{"id":"00p4dnbsqdqGslqhj0g7","status":"ACTIVE","name":"Test Policy","description":"Test
        Policy","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2023-02-14T17:48:39.000Z","lastUpdated":"2023-02-14T17:48:39.000Z","_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJd3F6rInlL8UXU5zYvAAAAws
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '492'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies
- request:
    body: '{"actions": {"token": {"accessTokenLifetimeMinutes": 60, "refreshTokenLifetimeMinutes":
      0, "refreshTokenWindowMinutes": 10080}}, "conditions": {"grantTypes": {"include":
      ["client_credentials"]}, "scopes": {"include": ["*"]}}, "name": "Test Policy
      Rule", "priority": 1, "status": "ACTIVE", "system": false, "type": "RESOURCE_ACCESS"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules
  response:
    body:
      string: '{"id":"0pr4dnbak1J5uncXq0g7","status":"ACTIVE","name":"Test Policy
        Rule","priority":1,"created":"2023-02-14T17:48:41.000Z","lastUpdated":"2023-02-14T17:48:41.000Z","system":false,"conditions":{"people":{"users":{"exclude":[]}},"grantTypes":{"include":["client_credentials"]},"scopes":{"include":["*"]}},"actions":{"token":{"accessTokenLifetimeMinutes":60,"refreshTokenLifetimeMinutes":0,"refreshTokenWindowMinutes":10080}},"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules/0pr4dnbak1J5uncXq0g7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules/0pr4dnbak1J5uncXq0g7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"RESOURCE_ACCESS"}'
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJefrePMyfFSPA2LqSugAAAyA
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '491'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules/0pr4dnbak1J5uncXq0g7
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJfKH8dzKpmjmp3hpsGQAADkY
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '489'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7/rules/0pr4dnbak1J5uncXq0g7
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJfKG2OvWz-J_wPvJDqwAABJ8
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '488'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/policies/00p4dnbsqdqGslqhj0g7
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJfNkk4JbybC1AdrsxfAAABT4
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '487'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="MAbZWK1eIklkAxEkc7uqoZ/QX3cgLZT0HY5TRG1JXrs="; pin-sha256="PJ1QGTlW5ViFNhswMsYKp4X8C7KdG8nDW4ZcXLmYMyI=";
        pin-sha256="5LlRWGTBVjpfNXXU5T7cYVUbOSPcgpMgdjaWd/R9Leg="; pin-sha256="lpaMLlEsp7/dVZoeWt3f9ciJIMGimixAIaKNsn9/bCY=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Y-vJfQFByhRFu8ZpcV85hgAACM8
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '486'
      x-rate-limit-reset:
      - '1676396930'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aus4dnbe96RN8oWne0g7
version: 1
