interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers
  response:
    body:
      string: '{"id":"aussfd5pnY8PBOLdU4x6","name":"python_sdk_test_abDgZ","description":"Test
        Auth Server","audiences":["api://default"],"issuer":"https://test.okta.com/oauth2/aussfd5pnY8PBOLdU4x6","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-27T18:15:04.000Z","lastUpdated":"2020-08-27T18:15:04.000Z","credentials":{"signing":{"rotationMode":"AUTO","lastRotated":"2020-08-27T18:15:04.000Z","nextRotation":"2020-11-25T18:15:04.000Z","kid":"Q9o1wwmFp2ClaqHnKHNutaZTbrriSgUrAVSRwVEpfZ4"}},"_links":{"rotateKey":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://test.okta.com/oauth2/aussfd5pnY8PBOLdU4x6/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://test.okta.com/oauth2/aussfd5pnY8PBOLdU4x6/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4KERGmrKoIKeohJe6XQAAAA0
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '938'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes
  response:
    body:
      string: '{"id":"scpsf8p0pIWRsX5sQ4x6","name":"python_sdk:abDGz","description":null,"system":false,"metadataPublish":"NO_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes/scpsf8p0pIWRsX5sQ4x6","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4Ke-HfNdDgJpFRtyzywAABqQ
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '937'
      x-rate-limit-reset: '1598552143'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes
  response:
    body:
      string: '[{"id":"scpsf8p0pIWRsX5sQ4x6","name":"python_sdk:abDGz","description":null,"system":false,"metadataPublish":"NO_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes/scpsf8p0pIWRsX5sQ4x6","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scpsfd5podORM8v7P4x6","name":"openid","description":"Signals
        that a request is an OpenID request.","system":true,"metadataPublish":"ALL_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes/scpsfd5podORM8v7P4x6","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scpsfd5ppT4qFYe7M4x6","name":"profile","description":"The
        exact data varies based on what profile information you have provided, such
        as: name, time zone, picture, or birthday.","system":true,"metadataPublish":"ALL_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes/scpsfd5ppT4qFYe7M4x6","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scpsfd5pqafgyUFax4x6","name":"email","description":"This
        allows the app to view your email address.","system":true,"metadataPublish":"ALL_CLIENTS","default":false,"_links":{"self":{"href":"https://test.okta.com/a[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes/scpsf8p0pIWRsX5sQ4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4KdIl-QhafEkA0hr8BAAAA0I
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '935'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/scopes/scpsf8p0pIWRsX5sQ4x6
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/lifecycle/deactivate
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4KZY48AurXsARgTuLUAAACCM
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '934'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4KTJX6i8rVRl78fHDFgAACM4
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '933'
      x-rate-limit-reset: '1598552143'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/authorizationServers/aussfd5pnY8PBOLdU4x6
version: 1
