interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oasfagvbWDYIbNjf4x6","name":"bookmark","label":"AddBookmarkApp","status":"ACTIVE","lastUpdated":"2020-08-27T18:14:34.000Z","created":"2020-08-27T18:14:34.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BOOKMARK","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"requestIntegration":false,"url":"https://example.com/bookmark.htm"},"extendedProperties":null,"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/bookmark/0oasfagvbWDYIbNjf4x6/2557","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/assets/img/logos/bookmark-app.b81c03e2607468e5b5f9c9351c99313e.png","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4Cve-pVLj8ojEglc-mAAACOQ
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '29'
      x-rate-limit-reset: '1598552087'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/credentials/csrs
  response:
    body:
      string: '{"id":"m0O_5PLBnpnDU4dFiz9YZJpKuKB4qC2J-6dAVxMrg7c","created":"2020-08-27T18:14:34.000Z","csr":"MIICyTCCAbECAQAwWjEPMA0GA1UEBhMGQ2FuYWRhMRAwDgYDVQQHDAdUb3JvbnRvMRMwEQYDVQQKDApPa3RhLCBJbmMuMQwwCgYDVQQLDANEZXYxEjAQBgNVBAMMCVNQIElzc3VlcjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKm7BE06DxlXTRyFO9DnhdACeZEM0bNMIg4YYf29uU0C4VA2sezwcMfolrVPRnBZjvJ/YhmblvVJNlqnUG8nTZgbfilWFBNl0jO92uCefFzjKHAdwkwllpcnQIxWY5FVFwP50vpKqMrEBzPQeBGd4CqYjPtjKz4J0MG2HUNr9fL2A2JqXtveHCNnRHv4VM9lBvsvpBHFJALzSPz6OyVSNHErEMf2bbbuu4fgKyqFCRRNa2aMIvLTH8m0JknKj47M5+bscBNnAmEVFfZU8JEMzDgIGrltupHga1epELmycEyNV2Rc3xnSMFecU+ysvw9H249E8Lb9QbU9GM9qd0eyLkMCAwEAAaAqMCgGCSqGSIb3DQEJDjEbMBkwFwYDVR0RBBAwDoIMZGV2Lm9rdGEuY29tMA0GCSqGSIb3DQEBCwUAA4IBAQCW/RU0ynkh9ARaC7zX1Rw7dt/8iybRf/cyiKXqB7DEsoqqiQRKqQaS3HhppGXU5Z7LasT9Gw6sv+6In+4GoDLlmgaIIXs8jVzmNWLN2PoYDt+ipSyIgPLP+ViPZr4jpFXfN0g6v5v8esk7kWUE+M/EHHZ0aNfV8QVtjQfnamMz8/+XpyaY2tKpZPmDp7YV+u+huY0uXErq0CmEfnbaJ3KBQx84jlqRx7lH9gtlcYSutqfu7wZEYw+csI3R0kjqweTsWAspI1uGdqhVPuWNBpJ488FxGrqDotefmIhArTUYVjrDShJ6hU1/Ogub7udh1+EXXc3q9GgwKcU+1IqKVL83","kty":"RSA","_links":{"publish":{"href":"https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/credentials/csrs/m0O_5PLBnpnDU4dFiz9YZJpKuKB4qC2J-6dAVxMrg7c/lifecycle/publish","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/credentials/csrs/m0O_5PLBnpnDU4dFiz9YZJpKuKB4qC2J-6dAVxMrg7c","hints":{"allow":["GET","DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      location: https://dev-195921.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/credentials/csrs/m0O_5PLBnpnDU4dFiz9YZJpKuKB4qC2J-6dAVxMrg7c
      x-okta-request-id: X0f4CmCaf1raxAM5ooxtOAAAAZw
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '28'
      x-rate-limit-reset: '1598552087'
    status:
      code: 201
      message: Created
    url: https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/credentials/csrs
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4ClUfxVqzMBUhRpVaFwAAByQ
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '27'
      x-rate-limit-reset: '1598552087'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4C9@OFBAtVukbnH0rAAAACas
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '471'
      x-rate-limit-reset: '1598552088'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oasfagvbWDYIbNjf4x6
version: 1
