interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps
  response:
    body:
      string: '{"id":"0oasfdcqdH91ieAHB4x6","name":"template_swa3field","label":"Test
        App","status":"ACTIVE","lastUpdated":"2020-08-27T18:13:53.000Z","created":"2020-08-27T18:13:53.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":"^https://example.com/login.html$","extraFieldSelector":".login","extraFieldValue":"SOMEVALUE","redirectUrl":null,"userNameSelector":"#txt-box-username","passwordSelector":"#txt-box-password","buttonSelector":"#btn-login","targetURL":"https://example.com/login.html"},"extendedProperties":null,"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://test.okta.com/home/template_swa3field/0oasfdcqdH91ieAHB4x6/3287","type":"text/html"}],"groups":{"href":"https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6/groups"},"logo":[{"name":"medium","href":"https://ok11static.oktacdn.com/fs/bcg/4/gfsk2o6ld39YVBXJ04x5","type":"image/png"}],"users":{"href":"https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6/users"},"deactivate":{"href":"https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6/lifecycle/deactivate"}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f34Tyhr7SN2G-tlw6DqgAABcc
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '93'
      x-rate-limit-reset: '1598552087'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6
  response:
    body:
      string: '{"id":"0oasfdcqdH91ieAHB4x6","name":"template_swa3field","label":"Test
        App","status":"ACTIVE","lastUpdated":"2020-08-27T18:13:53.000Z","created":"2020-08-27T18:13:53.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirec[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6/lifecycle/deactivate
  response:
    body:
      string: '{}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f34g70y2GOUxnqjRukUQAABO4
      x-rate-limit-limit: '100'
      x-rate-limit-remaining: '92'
      x-rate-limit-reset: '1598552087'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6/lifecycle/deactivate
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f34qe0ikvd@6cIht5@fAAAAak
      x-rate-limit-limit: '500'
      x-rate-limit-remaining: '492'
      x-rate-limit-reset: '1598552088'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/apps/0oasfdcqdH91ieAHB4x6
version: 1
