interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands
  response:
    body:
      string: '[{"id":"bndnwlw0p87d5HCgg5d7","name":"okta-dev-20982288","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":true,"defaultApp":{"appInstanceId":"0oanwlw0so3WcfOQi5d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bndnwlw0p87d5HCgg5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bndnwlw0p87d5HCgg5d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"bnds7jxvhfp2BCzvo5d7","name":"Test
        brand","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oanwlw0so3WcfOQi5d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://test.okta.com/api/v1/brands/bnds7jxvhfp2BCzvo5d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://test.okta.com/api/v1/brands/bnds7jxvhfp2BCzvo5d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://dev-20982288.okta.com/api/v1/brands?limit=20>; rel="self"
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - d0ad9d8c8cf9282d151868349400b5b3
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1767729971'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/brands/bndnwlw0p87d5HCgg5d7/well-known-uris
  response:
    body:
      string: '{"errorCode":"E0000015","errorSummary":"You do not have permission
        to access the feature you are requesting","errorLink":"E0000015","errorId":"oae833ghK2gSK-VEcO8-c-oSQ","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ce80fd83bc3f01ca4e17124af0cfe032
    status:
      code: 401
      message: Unauthorized
version: 1
