interactions:
- request:
    body: '{"name": "Test iOS Device Assurance Policy", "platform": "IOS", "jailbreak":
      false, "osVersion": {"minimum": "15.0"}, "screenLockType": {"include": ["BIOMETRIC"]}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"Test iOS Device Assurance Policy","platform":"IOS","id":"daeq6dc7ijiFkZYwc1d7","osVersion":{"minimum":"15.0"},"jailbreak":false,"screenLockType":{"include":["BIOMETRIC"]},"createdDate":"2025-09-18T08:19:22.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T08:19:22.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        iOS Device Assurance Policy","sensitive":false},"resourceId":"daeq6dc7ijiFkZYwc1d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6dc7ijiFkZYwc1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 7001f612e8331c548eba03f72c929f2d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758183622'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/device-assurances/daeq6dc7ijiFkZYwc1d7
  response:
    body:
      string: '{"name":"Test iOS Device Assurance Policy","platform":"IOS","id":"daeq6dc7ijiFkZYwc1d7","osVersion":{"minimum":"15.0"},"jailbreak":false,"screenLockType":{"include":["BIOMETRIC"]},"createdDate":"2025-09-18T08:19:22.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T08:19:22.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        iOS Device Assurance Policy","sensitive":false},"resourceId":"daeq6dc7ijiFkZYwc1d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6dc7ijiFkZYwc1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - dd2a88aa2f98a6b175dea0ff48ae9349
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758183622'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/device-assurances/daeq6dc7ijiFkZYwc1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 13497e728ef082db008eabc6c0dca0a2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758183622'
    status:
      code: 204
      message: No Content
version: 1
