interactions:
- request:
    body: '{"name": "Test Android Device Assurance Policy", "platform": "ANDROID",
      "jailbreak": false, "osVersion": {"minimum": "11"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"Test Android Device Assurance Policy","platform":"ANDROID","id":"daeq6vypx52UDLS9D1d7","osVersion":{"minimum":"11"},"jailbreak":false,"createdDate":"2025-09-18T17:40:15.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T17:40:15.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        Android Device Assurance Policy","sensitive":false},"resourceId":"daeq6vypx52UDLS9D1d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6vypx52UDLS9D1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - ebb11e714f5aeac10d32b17f3f27b325
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758217275'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/device-assurances/daeq6vypx52UDLS9D1d7
  response:
    body:
      string: '{"name":"Test Android Device Assurance Policy","platform":"ANDROID","id":"daeq6vypx52UDLS9D1d7","osVersion":{"minimum":"11"},"jailbreak":false,"createdDate":"2025-09-18T17:40:15.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T17:40:15.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        Android Device Assurance Policy","sensitive":false},"resourceId":"daeq6vypx52UDLS9D1d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6vypx52UDLS9D1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - c98773f5cbab53a4b61cbc8e9c41ff4b
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758217275'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/device-assurances/daeq6vypx52UDLS9D1d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - b8acd7995a3df911816b730d8fd2dce2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758217275'
    status:
      code: 204
      message: No Content
version: 1
