interactions:
- request:
    body: '{"name": "Test ChromeOS Device Assurance Policy", "platform": "CHROMEOS"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: deviceAssuranceMediated","errorLink":"E0000001","errorId":"oaeyge3FJs3QFO9EZCCx-T3gQ","errorCauses":[{"errorSummary":"Please
        select at least one device condition before saving"}]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 9341fbecc165743c85ec14b0dccf7711
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758217707'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"name": "Test ChromeOS Device Assurance Policy", "platform": "CHROMEOS"}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"status":404,"message":"Resource not found"}

        '
    headers:
      Etag:
      - '"2e-63be058652280"'
      Last-Modified:
      - Fri, 08 Aug 2025 20:23:22 GMT
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
    status:
      code: 404
      message: Not Found
version: 1
