interactions:
- request:
    body: '{"name": "Test List Device Assurance Policy", "platform": "WINDOWS", "osVersion":
      {"minimum": "10.0"}}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"Test List Device Assurance Policy","platform":"WINDOWS","id":"daeq6wn2y7djC0be91d7","osVersion":{"minimum":"10.0"},"createdDate":"2025-09-18T17:51:39.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T17:51:39.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        List Device Assurance Policy","sensitive":false},"resourceId":"daeq6wn2y7djC0be91d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6wn2y7djC0be91d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 62cc9ae2c54842010c688985a7a1a6f2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758217959'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/device-assurances/daeq6wn2y7djC0be91d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 0a66d619935756cf7f3fbaacd00049ee
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758217959'
    status:
      code: 204
      message: No Content
version: 1
