interactions:
- request:
    body: '{"name": "Test Windows Device Assurance Policy", "platform": "WINDOWS",
      "diskEncryptionType": {"include": ["ALL_INTERNAL_VOLUMES"]}, "osVersion": {"minimum":
      "10.0.19041"}, "screenLockType": {"include": ["BIOMETRIC"]}, "secureHardwarePresent":
      true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"Test Windows Device Assurance Policy","platform":"WINDOWS","id":"daeq6i0878MEQvSa41d7","osVersion":{"minimum":"10.0.19041"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"screenLockType":{"include":["BIOMETRIC"]},"createdDate":"2025-09-18T10:10:39.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T10:10:39.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        Windows Device Assurance Policy","sensitive":false},"resourceId":"daeq6i0878MEQvSa41d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6i0878MEQvSa41d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 17d0e2430d2c7230d30834600860c955
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758190299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/device-assurances/daeq6i0878MEQvSa41d7
  response:
    body:
      string: '{"name":"Test Windows Device Assurance Policy","platform":"WINDOWS","id":"daeq6i0878MEQvSa41d7","osVersion":{"minimum":"10.0.19041"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"screenLockType":{"include":["BIOMETRIC"]},"createdDate":"2025-09-18T10:10:39.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T10:10:39.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        Windows Device Assurance Policy","sensitive":false},"resourceId":"daeq6i0878MEQvSa41d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6i0878MEQvSa41d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 13d89e246cfca5ff0330abd717a47ca5
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758190299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/device-assurances/daeq6i0878MEQvSa41d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 8de701b3e3d00d478ed6a153d7bfdb8b
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758190299'
    status:
      code: 204
      message: No Content
version: 1
