interactions:
- request:
    body: '{"name": "Test macOS Device Assurance Policy", "platform": "MACOS", "diskEncryptionType":
      {"include": ["ALL_INTERNAL_VOLUMES"]}, "osVersion": {"minimum": "12.0"}, "secureHardwarePresent":
      true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"Test macOS Device Assurance Policy","platform":"MACOS","id":"daeq6i8si6RF7mjJ01d7","osVersion":{"minimum":"12.0"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"createdDate":"2025-09-18T10:21:02.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T10:21:02.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        macOS Device Assurance Policy","sensitive":false},"resourceId":"daeq6i8si6RF7mjJ01d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6i8si6RF7mjJ01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - e42e3373d9a5f65eb1fad4819be1c235
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758190922'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/device-assurances/daeq6i8si6RF7mjJ01d7
  response:
    body:
      string: '{"name":"Test macOS Device Assurance Policy","platform":"MACOS","id":"daeq6i8si6RF7mjJ01d7","osVersion":{"minimum":"12.0"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"createdDate":"2025-09-18T10:21:02.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T10:21:02.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Test
        macOS Device Assurance Policy","sensitive":false},"resourceId":"daeq6i8si6RF7mjJ01d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6i8si6RF7mjJ01d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 53fd502ebdcf3ee8baf13890cf57ecd8
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758190922'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/device-assurances/daeq6i8si6RF7mjJ01d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - df168625af0bc0e4aa6ea5a6207e4db0
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '47'
      x-rate-limit-reset:
      - '1758190922'
    status:
      code: 204
      message: No Content
version: 1
