interactions:
- request:
    body: '{"name": "Original Device Assurance Policy", "platform": "WINDOWS", "osVersion":
      {"minimum": "10.0"}, "secureHardwarePresent": true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"Original Device Assurance Policy","platform":"WINDOWS","id":"daeq6wzlg4X6UngA21d7","osVersion":{"minimum":"10.0"},"secureHardwarePresent":true,"createdDate":"2025-09-18T18:00:31.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-18T18:00:31.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Original
        Device Assurance Policy","sensitive":false},"resourceId":"daeq6wzlg4X6UngA21d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6wzlg4X6UngA21d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - bca820e7f54cc15210dc26e2c3955b7d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758218491'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Updated Device Assurance Policy", "platform": "WINDOWS", "diskEncryptionType":
      {"include": ["ALL_INTERNAL_VOLUMES"]}, "osVersion": {"minimum": "11.0"}, "secureHardwarePresent":
      true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: PUT
    uri: https://test.okta.com/api/v1/device-assurances/daeq6wzlg4X6UngA21d7
  response:
    body:
      string: '{"name":"Updated Device Assurance Policy","platform":"WINDOWS","id":"daeq6wzlg4X6UngA21d7","osVersion":{"minimum":"11.0"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"lastUpdate":"2025-09-18T18:00:32.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"Updated
        Device Assurance Policy","sensitive":false},"resourceId":"daeq6wzlg4X6UngA21d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq6wzlg4X6UngA21d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 1a935107f79d1fbb516b5593fb90182d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758218491'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/device-assurances/daeq6wzlg4X6UngA21d7
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5b69ab15136e38f4240a9f69739b920c
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '46'
      x-rate-limit-reset:
      - '1758218491'
    status:
      code: 204
      message: No Content
version: 1
