interactions:
- request:
    body: '{"name": "CRUD Test Device Assurance Policy", "platform": "WINDOWS", "diskEncryptionType":
      {"include": ["ALL_INTERNAL_VOLUMES"]}, "osVersion": {"minimum": "10.0"}, "secureHardwarePresent":
      true}'
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/device-assurances
  response:
    body:
      string: '{"name":"CRUD Test Device Assurance Policy","platform":"WINDOWS","id":"daeq7aawzwxRmCRLe1d7","osVersion":{"minimum":"10.0"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"createdDate":"2025-09-19T02:44:32.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-19T02:44:32.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"CRUD
        Test Device Assurance Policy","sensitive":false},"resourceId":"daeq7aawzwxRmCRLe1d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq7aawzwxRmCRLe1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 3651ce97d6bda1e8e6f02a0764b3952f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '49'
      x-rate-limit-reset:
      - '1758249932'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/device-assurances/daeq7aawzwxRmCRLe1d7
  response:
    body:
      string: '{"name":"CRUD Test Device Assurance Policy","platform":"WINDOWS","id":"daeq7aawzwxRmCRLe1d7","osVersion":{"minimum":"10.0"},"secureHardwarePresent":true,"diskEncryptionType":{"include":["ALL_INTERNAL_VOLUMES"]},"createdDate":"2025-09-19T02:44:32.000Z","createdBy":"00unkw1sfbTw08c0g1d7","lastUpdate":"2025-09-19T02:44:32.000Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","resourceType":"DeviceAssurancePolicyEntity","resourceDisplayName":{"value":"CRUD
        Test Device Assurance Policy","sensitive":false},"resourceId":"daeq7aawzwxRmCRLe1d7","_links":{"self":{"href":"https://test.okta.com/api/v1/device-assurances/daeq7aawzwxRmCRLe1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 031d241983bf624789d5840c0a845ca2
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1758249932'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/device-assurances/daeq7aawzwxRmCRLe1d7
  response:
    body:
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        daeq7aawzwxRmCRLe1d7 (DeviceAssuranceRuleManagerImpl)","errorLink":"E0000007","errorId":"oae_M5x4qs3RhO63-91Hwcz6w","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 5ab9c5e922ecb84c7c3e0013f9d0ed8f
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '43'
      x-rate-limit-reset:
      - '1758249932'
    status:
      code: 404
      message: Not Found
version: 1
