interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/mappings?limit=5
  response:
    body:
      string: '[{"id":"prmnkwe1vcDGIxAzg1d7","source":{"id":"0oankw1sgqqGiSxVQ1d7","name":"Okta_Authenticator","type":"appuser","_links":{"self":{"href":"https://test.okta.com/api/v1/apps/0oankw1sgqqGiSxVQ1d7"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/apps/0oankw1sgqqGiSxVQ1d7/default"}}},"target":{"id":"otynkw1sdzpoFCZMq1d7","name":"user","type":"user","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/types/user/otynkw1sdzpoFCZMq1d7"},"schema":{"href":"https://test.okta.com/api/v1/meta/schemas/user/oscnkw1sdzpoFCZMq1d7"}}},"_links":{"self":{"href":"https://test.okta.com/api/v1/mappings/prmnkwe1vcDGIxAzg1d7"}}},{"id":"prmnkwe1vdRFV02zu1d7","source":{"id":"otynkw1sdzpoFCZMq1d7","name":"user","type":"user","_links":{"self":{"href":"https://test.okta.com/api/v1/meta/types/user/otyn[...]
