interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/eventHooks
  response:
    body:
      string: '{"id":"whosfge8mm2RAwyZs4x6","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE","created":"2020-08-27T18:15:30.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:30.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.activate","user.lifecycle.create"]},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/eventHooks","headers":[{"key":"X-Test-Header","value":"Test
        Header value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"self":{"href":"https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6"},"verify":{"href":"https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6/lifecycle/verify","hints":{"allow":["POST"]}},"deactivate":{"href":"https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4QmjxU2auXDjMjHgqYgAABCc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '860'
      x-rate-limit-reset: '1598552143'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/eventHooks
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6
  response:
    body:
      string: '{"id":"whosfge8mm2RAwyZs4x6","status":"ACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE","created":"2020-08-27T18:15:30.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:30.000Z","events":{"type":"EVENT_TYPE","ite[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6/lifecycle/deactivate
  response:
    body:
      string: '{"id":"whosfge8mm2RAwyZs4x6","status":"INACTIVE","verificationStatus":"UNVERIFIED","name":"EVENT_TYPE","created":"2020-08-27T18:15:30.000Z","createdBy":"00uc04qdrQsSHjsDO4x6","lastUpdated":"2020-08-27T18:15:30.000Z","events":{"type":"EVENT_TYPE","items":["user.lifecycle.activate","user.lifecycle.create"]},"channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://www.example.com/eventHooks","headers":[{"key":"X-Test-Header","value":"Test
        Header value"}],"method":"POST","authScheme":{"type":"HEADER","key":"Authorization"}}},"_links":{"activate":{"href":"https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6"},"delete":{"href":"https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6","hints":{"allow":["DELETE"]}}}}'
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4QgNwrUoJqchH6qCpgwAACKI
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '858'
      x-rate-limit-reset: '1598552143'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/eventHooks/whosfge8mm2RAwyZs4x6/lifecycle/deactivate
[...]
