interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/users
  response:
    body:
      string: '[{"id":"00unwlw0tbo8E6aVj5d7","status":"ACTIVE","created":"2025-03-19T08:01:48.000Z","activated":null,"statusChanged":"2025-03-19T09:20:48.000Z","lastLogin":"2026-06-04T06:38:19.000Z","lastUpdated":"2025-03-19T09:20:48.000Z","passwordChanged":"2025-03-19T09:20:48.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"Binoy","lastName":"Oza","mobilePhone":null,"secondEmail":null,"login":"binoy.oza@okta.com","email":"binoy.oza@okta.com"},"credentials":{"password":{},"emails":[{"value":"binoy.oza@okta.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7"}}},{"id":"00upynhrehMaqXPgU5d7","status":"ACTIVE","created":"2025-08-07T13:11:36.000Z","activated":"2025-08-07T13:11:36.000Z","statusChanged":"2025-08-07T13:11:36.000Z","lastLogin":null,"lastUpdated":"2025-08-07T13:11:36.000Z","passwordChanged":"2025-08-07T13:11:36.000Z","type":{"id":"otynwlw0pkLLUgtNG5d7"},"profile":{"firstName":"John","lastName":"Doe-Assign-User-Role","mobilePhone":null,"secondEmail":null,"login":"John.Doe-Assign-User-R[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
    method: GET
    uri: https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7/factors
  response:
    body:
      string: '[{"id":"crpnwmp5pcpELVg0Y5d7","factorType":"signed_nonce","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2025-03-19T09:21:27.000Z","lastUpdated":"2025-03-19T09:21:27.000Z","profile":{"credentialId":"binoy.oza@okta.com","deviceType":"SmartPhone_IPhone","name":"CVG3GF7X5P","platform":"IOS","version":"18.3.2","keys":[{"kty":"EC","use":"sig","kid":"default","jwkType":"proofOfPossession","x":"0M18P_3jzp58KAYDy41cB1N6JwhkDnXxaqbBVscZxVA","y":"4AeD4KOHGhN1P0uSyO170-tU0ZIuC_K2eC72olTPuZw","crv":"P-256"},{"kty":"EC","use":"sig","kid":"default","jwkType":"userVerification","x":"R0iBIuMUR6wA4JKShqIke4FxcapHHnKE1WPkNT_8P2I","y":"qjEXEEU99DixvuLEF9q3rQYYT4LRYQ022q6GTW4Ye-E","crv":"P-256"},{"kty":"EC","use":"sig","kid":"default","jwkType":"userVerificationBioOrPin","x":"dyjq_GhQu-drEwxp3bq4X_vdpEheUKCz37TO13BC5CU","y":"8x6G_DIXtWoNfblyhDLpWzP5a6FF7zVaejcXDLsQaqw","crv":"P-256"}]},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7/factors/crpnwmp5pcpELVg0Y5d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7","hints":{"allow":["GET"]}}}},{"id":"ostnwmp5pabaPon1M5d7","factorType":"token:software:totp","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2025-03-19T09:21:27.000Z","lastUpdated":"2025-03-19T09:21:27.000Z","profile":{"credentialId":"binoy.oza@okta.com"},"_links":{"self":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7/factors/ostnwmp5pabaPon1M5d7","hints":{"allow":["GET","DELETE"]}},"verify":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7/factors/ostnwmp5pabaPon1M5d7/verify","hints":{"allow":["POST"]}},"user":{"href":"https://test.okta.com/api/v1/users/00unwlw0tbo8E6aVj5d7","hints":{"allow":["GET"]}}}}]'
    headers:
      Content-Type:
      - application/json
      accept-ch:
      - Sec-CH-UA-Platform-Version
      x-okta-request-id:
      - 38faa7a94db82b5870dc55895684d60d
      x-rate-limit-limit:
      - '50'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '1780985103'
    status:
      code: 200
      message: OK
version: 1
