interactions:
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: POST
    uri: https://test.okta.com/api/v1/templates/sms
  response:
    body:
      string: "{\"id\":\"cstsfdpbxVxBtbWoG4x6\",\"name\":\"python_sdk-test-template\"\
        ,\"type\":\"SMS_VERIFY_CODE\",\"template\":\"${org.name}: your verification\
        \ code is ${code}\",\"created\":\"2020-08-27T18:17:13.000Z\",\"lastUpdated\"\
        :\"2020-08-27T18:17:13.000Z\",\"translations\":{\"it\":\"${org.name}: il codice\
        \ di verifica \xE8 ${code}\",\"fr\":\"${org.name}: votre code de v\xE9rification\
        \ est ${code}\",\"es\":\"${org.name}: el c\xF3digo de verificaci\xF3n es ${code}\"\
        }}"
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4qT7@@XiepJO@wFmlkQAAA0M
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '897'
      x-rate-limit-reset: '1598552263'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/templates/sms
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: GET
    uri: https://test.okta.com/api/v1/templates/sms/cstsfdpbxVxBtbWoG4x6
  response:
    body:
      string: "{\"id\":\"cstsfdpbxVxBtbWoG4x6\",\"name\":\"python_sdk-test-template\"\
        ,\"type\":\"SMS_VERIFY_CODE\",\"template\":\"${org.name}: your verification\
        \ code is ${code}\",\"created\":\"2020-08-27T18:17:13.000Z\",\"lastUpdated\"\
        :\"2020-08-27T18:17:13.000Z\",\"translations\":{\"it\":\"${org.name}: il codice\
        \ di verifica \xE8 ${code}\",\"fr\":\"${org.name}: votre code de v\xE9rification\
        \ est ${code}\",\"es\":\"${org.name}: el c\xF3digo de verificaci\xF3n es ${code}\"\
        }}"
    headers:
      Content-Type: application/json;charset=UTF-8
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4qS30n5ak4VN@XaIxXgAABZc
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '896'
      x-rate-limit-reset: '1598552263'
    status:
      code: 200
      message: OK
    url: https://test.okta.com/api/v1/templates/sms/cstsfdpbxVxBtbWoG4x6
[...]
- request:
    body: null
    headers:
      Authorization:
      - SSWS myAPIToken
      Content-Type:
      - application/json
    method: DELETE
    uri: https://test.okta.com/api/v1/templates/sms/cstsfdpbxVxBtbWoG4x6
  response:
    body:
      string: ''
    headers:
      Public-Key-Pins-Report-Only: pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8=";
        pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI=";
        pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id: X0f4qpF6ABcFBlVbh7U7eAAACbk
      x-rate-limit-limit: '1000'
      x-rate-limit-remaining: '893'
      x-rate-limit-reset: '1598552263'
    status:
      code: 204
      message: No Content
    url: https://test.okta.com/api/v1/templates/sms/cstsfdpbxVxBtbWoG4x6
version: 1
